[2020-10-23 11:57] Muqtxdir commented on #2461
So, I found another missing symbolic when using **Ubuntu Software** with **gtk-common-themes** on _latest/candidate_ (0.1-44-gb73fa2d):

![snap-store](https://user-images.githubusercontent.com/54065734/96999387-b4d08c80-1552-11eb-8d48-3f9cce3670b4.png)

This can be easily changed by adding symlink of **org.gnome.Software-symbolic** to **software-store-symbolic** and in **_gtk-common-themes_** snap

[2020-10-23 19:00] Jupiter007-43 commented on #2458
In fact I don't think it's a Yaru problem. There is the same behavior with other icon theme (here is Humanity but it also occurs with Adwaita):

![Capture d’écran du 2020-10-23 16-25-44](https://user-images.githubusercontent.com/36476595/97042124-db052500-1570-11eb-874f-4a7fa87dcfab.png)

[2020-10-23 19:00] #2458 closed

[2020-10-24 07:49] #1371 closed

[2020-10-24 07:50] #2390 closed

[2020-10-24 07:51] #2400 closed

[2020-10-24 10:35] #2451 closed

[2020-10-24 12:29] clobrano commented on #2420
This seems related to #2218 and it's reproducible in Adwaita too, but not in Adwaita-dark.

![image](https://user-images.githubusercontent.com/2883614/97081764-e144e100-1604-11eb-98bf-af4a9d680207.png)

At a first sight, it seems that the custom Nemo fallback css for "themes that don't support nemo" doesn't take into account that the selected icon label is bright in Yaru and Adwaita, then when the

[2020-10-24 14:38] clobrano commented on #2460
Hi @thepuppet33r,

could you help me more? What's the taskbar applet?

Also, it seems you installed the snap version of Yaru, which Ubuntu version do you have?

[2020-10-24 15:34] Feichtmeier commented on #2460
Ohhhh... The snap version of yaru only works for the gnome shell in 18.04

[2020-10-25 02:15] thepuppet33r commented on #2460
That would do it then! Good to know. Thank you! You can close this issue out.

[2020-10-25 08:54] #1858 closed

[2020-10-25 10:26] Jupiter007-43 opened #2465 "OXT files shouldn't use rich-text icon"
OXT files (**application/vnd.openofficeorg.extension**) are extension files for Libreoffice and so shouldn't looks like rich-text:

![Capture d’écran du 2020-10-25 11-20-02](https://user-images.githubusercontent.com/36476595/97104519-bf0a9c00-16b4-11eb-985d-d5466d46da56.png)

[2020-10-25 10:38] clobrano commented on #2460
Good to know. Feel free to reopen if the problem occurs again.
Thank you :)

[2020-10-25 10:38] #2460 closed

[2020-10-25 11:53] Muqtxdir commented on #2461
@madsrh, @Jupiter007-43 @Feichtmeier what to do about this ?

[2020-10-25 19:16] Jupiter007-43 commented on #2465
A proposal icon:

![Capture d’écran du 2020-10-25 20-14-30](https://user-images.githubusercontent.com/36476595/97116629-b939a880-16fe-11eb-9f75-91d6993ed727.png)

I used unfolded corner because it's not a readable file but shouldn't use it to keep consistency with other LO mimetype which are folded now? @ubuntujaggers ?

[2020-10-28 11:38] coxackie commented on #1760
I guess this would require someone knowledgeable in QT/C++ (to manage through the code of `adwaita-qt`) and the yaru theme. Do the developers have someone in mind? Presumably Ubuntu would be quite interested in such consistent experience.

[2020-10-29 12:39] Jannomag opened #2467 "Inkscape error while rendering cursors"
I'm getting following error, when running `./render-cursors.py ./source-cursors.svg`:
`Inkscape interactive shell mode. Type 'action-list' to list all actions. Type 'quit' to quit.
 Input of the form:
 action1:arg1; action2;arg2; verb1; verb2; ...
Only verbs that don't require a desktop may be used.
`
Everything on a fresh Ubuntu 20.10 installation. Inkscape, python3, python, python-pil are instal

[2020-10-29 16:39] clobrano commented on #2467
Hi @Jannomag,

yes, it's because of inkscape 1.0. I updated a couple of days ago another render script, but the one for the cursors still need the fix.

[2020-10-29 16:48] Jannomag commented on #2467
Alright then. Thanks!

[2020-10-30 20:41] #2268 closed

[2020-10-31 16:10] Amr-Ibra opened #2469 "File labels in Nautilus are not properly themed"
### Steps to see the bug
1. Open Nautilus and change zoom to default 100%
2. Go to the app settings
3. Select any three labels to show under file icons

The labels should be light grey, not black like the file name. This issue has been fixed before https://github.com/ubuntu/yaru/issues/2097.

**Yaru**
![Nautilus_Labels_Yaru](https://user-images.githubusercontent.com/45657128/97783905-13bd8380-1b9b

[2020-11-02 19:42] Shatur95 opened #2471 "Configure action icon"
## Icon Request

**Name:** `configure` action.
**Category:** Actions.
**Description:** This action usually used to display settings toolbutton in various applications.
**Examples:** [Papirus](https://github.com/PapirusDevelopmentTeam/papirus-icon-theme/blob/master/Papirus/24x24/actions/configure.svg), [Breeze](https://github.com/KDE/breeze-icons/blob/master/icons/actions/32/configure.svg).

Can be

[2020-11-03 18:35] Jannomag opened #2472 "GTK2 assets missing in dark theme"
Following assets are not getting rendered because they aren't in the [assets.txt](https://github.com/ubuntu/yaru/blob/master/gtk/src/dark/gtk-2.0/assets.txt) file but they're in the .svg file.
This happens with the gtk2 dark theme only:
- menu-checkbox-hover
- menu-checkbox-insensitive
- menu-checkbox-checked-insensitive
- menu-checkbox-mixed-insensitive

When rendering the assets and activating t

[2020-11-04 02:17] lekegf opened #2473 "Gedit text is unreadable under Yaru dark theme"
## Expected Behavior

See the text you're writing in Gedit in the current line.

## Actual Behavior

There's a white highlight in the current line (where the font is white as well), making it unreadable.

## Steps to Reproduce the Problem

  1. Set Yaru theme to dark
  2. Open Gedit (Text Editor)
  3. Start typing

## Software that presents the issue

- Name: gedit
- Version: 3.36.2

## Yaru versi

[2020-11-04 06:37] madsrh commented on #2473
Hi. Thanks for reporting this issue

Since Yaru is based on Adwaita, this bug should be reported there (and it already is), so the fix is upstream.

https://gitlab.gnome.org/GNOME/gtksourceview/-/issues/29 you can see that it is marked as low level, or non-issue upstream.

Closing the issue here

[2020-11-04 06:37] #2473 closed

[2020-11-04 22:09] clobrano commented on #2473
Also duplicate of #2090 and #2444

[2020-11-04 22:11] clobrano commented on #2472
Thanks @Jannomag, and nice catch.
Mind committing the change you already tested as PR? 😍

[2020-11-04 22:37] Jannomag commented on #2472
Did it... hopefully. I'm a totally github noob and won't get how it really works, though 😂

I close this issue because I opened a PR.

[2020-11-05 09:22] Feichtmeier commented on #2472
Thanks @Jannomag
If your PR fixes this issue, simply put

```Closes #2472```

At the end of your PR description. When your PR is merged, github will auto close this issue then :)

[2020-11-05 09:38] Jannomag commented on #2472
Thanks, I try to keep it in mind.

[2020-11-05 10:47] clobrano commented on #2472
Thanks a lot @Jannomag !

[2020-11-05 12:03] UltraBurstXD opened #2476 "Aren't the arrows little more bigger?"
Hi,
I'm using Ubuntu 20.10 I've noticed that the arrows may be little more bigger than they used to be:

![](https://user-images.githubusercontent.com/55871338/98238677-6d44fa00-1f6f-11eb-9b2e-bf50acae5e6c.png)

And that is making it look ugly. Not only in system menu, others apps are affected too. Not all of them, Apache NetBeans is normal for me even though if it's using system l&f as default:

[2020-11-06 22:12] #1965 closed

[2020-11-07 02:52] lekegf commented on #2473
Since probably there's not going to be a upstream fix anytime soon, wouldn't it make sense disable the option "Highlight current line" in gedit by default in Ubuntu?

[2020-11-07 07:58] clobrano commented on #2473
As yaru project, we have no way to decide gedit defaults. I think that the best option is just to select a different dark gedit colorscheme.

[2020-11-08 10:19] Jupiter007-43 opened #2478 "Application-x-addon has crooked path"
![2020-11-08_11-17](https://user-images.githubusercontent.com/36476595/98462347-1c721300-21b4-11eb-917c-30a33fa6b59e.png)

[2020-11-12 05:34] jgabriel98 opened #2481 "Broken rendering on gnome-terminal tabs"
## Expected Behavior

proper rendering/color rendering on aplications, like gnome-terminal and tweaks.

## Actual Behavior
pure black rendering on some parts with specific conditions, for example:

- **gnome-terminal:** wrong rendering on tabs (just black, instead of theme's gray), but renders correctly when in maximized or fullscreen.
![image](https://user-images.githubusercontent.com/37881981/98

[2020-11-12 09:20] Jupiter007-43 commented on #2481
Hi @jgabriel98 and thanks for taking the time of writing this issue.
Strangely, everything is OK on my 20.10 install with Yaru master and on an other computer with 20.04 and default Yaru:

![Capture d’écran du 2020-11-12 10-11-37](https://user-images.githubusercontent.com/36476595/98919734-7c77fa80-24cf-11eb-943b-fcac49f3cb62.png)
![Capture d’écran du 2020-11-12 10-14-03](https://user-images.githu

[2020-11-12 15:14] jgabriel98 commented on #2481
Those are my extension, all where activated before (except for GTK Title Bar).

![Captura de tela de 2020-11-12 12-12-04](https://user-images.githubusercontent.com/37881981/98957794-5a3aa880-24e0-11eb-9f07-88df9d60d6c8.png)

But i don't think the extensions are the problem: even when disabled, the problem still occurs
![Captura de tela de 2020-11-12 12-10-49](https://user-images.githubusercontent.

[2020-11-12 16:13] Feichtmeier commented on #2481
Maybe the transparent terminal window

[2020-11-12 16:48] Jupiter007-43 commented on #2481
Indeed, I tried to add some transparency on the terminal of my father's computer (20.04 and Yaru default) and there's the same behavior. But the bug is not reproducible on 20.10 with master:

![Capture d’écran du 2020-11-12 17-38-47](https://user-images.githubusercontent.com/36476595/98969083-c7653280-250e-11eb-91b3-0222e931e840.png)

So the question is: it is fixed by Gnome 3.38 or by Yaru master

[2020-11-12 17:09] Muqtxdir commented on #2481
hi,

### gnome-terminal:
Tried this on my machine running **ubuntu 20.04** with **yaru(20.04.8)** and encounter the terminal issue just like @jgabriel98

**screenshot:**

![transparent](https://user-images.githubusercontent.com/54065734/98971008-a0225b80-2536-11eb-977c-391a76474ddd.png)

### gnome-tweaks:
regarding gnome-tweaks, i was able to reproduce the black borders just like @jgabriel98 when

[2020-11-12 17:12] Jupiter007-43 commented on #2481
Thanks @Muqtxdir 👍
Can you also test with Yaru master please?

[2020-11-12 17:16] Feichtmeier commented on #2481
The tab issue comes from the transparent tab

We need to re-set the background, but then special case Nautilus as there are the BG and base colours flipped

[2020-11-12 17:20] Jupiter007-43 commented on #2481
About the headerbar, there's indeed a bug on Gnome-tweaks when buttons are moved to left (I tested on 20.10).
But as it's also reproducible with Adwaita, I think it's app related.

[2020-11-12 17:24] Muqtxdir commented on #2481
### gnome-terminal:
Yaru-master on ubuntu 20.04
![nottransparent](https://user-images.githubusercontent.com/54065734/98973376-ad8d1500-2539-11eb-8065-15e8d49ca96f.png)
### gnome-tweaks:
![tweaks1](https://user-images.githubusercontent.com/54065734/98973530-df9e7700-2539-11eb-98cf-997186ebcb0f.gif)
still issue is present even with Yaru-master, I think @Jupiter007-43 is right. It happens on adwaita

[2020-11-12 17:55] Jupiter007-43 commented on #2481
Thanks for testing @Muqtxdir,
so as the Terminal problem is already fixed on master and the Tweaks one is app related I think we can close this issue.
@Feichtmeier maybe do a backport to 20.04?

[2020-11-12 20:51] jgabriel98 commented on #2481
I see,
thank you all for the fast analysis.

i issue can be closed, but just one question before that.

Does someone recomends a solution for this on ubuntu 20.04, given that Yaru came from apt package?

some solution that would fix this now, but not make me outdated on long term (in case i forget that yaru where manually installed from source, and won't update anymore).

[2020-11-12 21:40] Feichtmeier commented on #2481
Didn't change the transparent tabs from 20.04 to 20.10
So either it's some change in gnome-terminal, and in 20.10 the terminal has a set background, or I don't know
So there is really nothing to backport. Need to check this all myself though :)

[2020-11-13 09:02] Jupiter007-43 commented on #2481
@Feichtmeier As the bug present with Terminal 3.36 and Yaru apt seems to be fixed with master, I think that something has changed in Yaru since the 20.04 release (maybe something not related to Terminal but just to Gtk tabs and that we have get from upstream 🤔).

[2020-11-13 19:57] #2383 closed

[2020-11-13 19:59] #2471 closed

[2020-11-16 20:06] github-actions[bot] opened #2488 "LP#1904368 "eclipse ide has huge padding and inconsistencies""
Reported first on Launchpad at https://bugs.launchpad.net/ubuntu/+source/yaru-theme/+bug/1904368

[2020-11-18 08:40] #2435 closed

[2020-11-18 11:30] #2478 closed

[2020-11-18 20:11] #2465 closed

[2020-11-19 10:06] #2410 closed

[2020-11-19 14:01] tosziro opened #2493 "Top bar and lock screen clock weird cuted out"
**Expected Behavior**
Clean looking clock.

**Actual Behavior**

Sometimes top bar looks like it cuted on the right side, and display weirdly. It fix itself when you simply take mouse cursor on it. Appears again after some time.
This happens on both of my machines running Ubuntu 20.10.

**System information**
Ubuntu 20.10

**Yaru version**
Package: yaru-theme-gnome-shell
Version: 20.10.6.1

**Scre

[2020-11-19 21:30] tosziro commented on #2493
Ok, its not only top bar but also lock screen. Just noticed this.

![ezgif-2-2703035bddb9](https://user-images.githubusercontent.com/41963712/99726438-ca37c880-2ab6-11eb-8aa2-9ceba62a3691.gif)

[2020-11-19 21:47] Feichtmeier commented on #2493
I think this again a font size issue with the Ubuntu font
@vanvugt any idea?

[2020-11-20 09:04] Jupiter007-43 commented on #2493
I also encountered this problem on lock screen.

[2020-11-20 09:38] Muqtxdir commented on #2493
hi,
I am also on Ubuntu 20.10 and these dont happen to me, is there something else changed besides the seconds to be displayed on top-bar?
### top-bar:
![2020-11-20 15-00-20](https://user-images.githubusercontent.com/54065734/99784580-07956800-2b42-11eb-8854-c0c41ca52430.gif)

[2020-11-20 09:52] tosziro commented on #2493
I have hidpi screen. 2560x1440 so fonts are scaled to 1.25

[2020-11-20 10:20] Muqtxdir commented on #2493
I too am using HiDPI screen (1920x1080),by fonts scaling do you mean **gnome-tweaks > Fonts > scaling factor** or **Settings > Displays > Fractional scaling** ( i use this)

do you use nvidia-card?

[2020-11-20 10:22] tosziro commented on #2493
gnome-tweaks > Fonts > scaling factor

No, I use AMD on one machine, Intel on second.

[2020-11-20 10:27] Muqtxdir commented on #2493
wow, such a quick reply!

if it's this then @Feichtmeier is right, this might be related to font issues

[2020-11-21 09:17] tosziro commented on #2493
I changed font in top bar and issue has gone. I hope guys you can fix this problem with Ubuntu font soon.

[2020-11-21 10:05] tosziro commented on #2493
Anyway why default GNOME font Cantarell looks so different in Ubuntu than in other distributions for example here openSUSE?  Maybe there is a problem?
![cantarell](https://user-images.githubusercontent.com/41963712/99874576-5813d080-2be9-11eb-8688-533cfbfab959.png)

[2020-11-23 01:23] vanvugt commented on #2493
This is probably a gnome-shell bug. We are [tracking it upstream here](https://gitlab.gnome.org/GNOME/gnome-shell/-/issues/2912).

[2020-11-23 11:46] Jupiter007-43 opened #2494 "Libhandy needs-attention use wrong color"
![2020-11-23_12-46](https://user-images.githubusercontent.com/36476595/99958567-e58e2680-2d89-11eb-8b4b-52c338f7a8a5.png)

[2020-11-24 09:27] #2494 closed

[2020-11-26 09:17] clobrano commented on #2493
Thanks @vanvugt! Closing this for now, then.

[2020-11-26 09:17] #2493 closed

[2020-11-27 20:07] github-actions[bot] opened #2497 "LP#1905997 "package yaru-theme-icon 20.04.8 failed to install/upgrade"
Reported first on Launchpad at https://bugs.launchpad.net/ubuntu/+source/yaru-theme/+bug/1905997

[2020-11-30 13:20] Dragon8oy opened #2498 "org.gnome.Shell.Extensions missing"
As useful as the template is, it feels a bit unnecessary for such a quick fix.
org.gnome.Shell.Extensions is missing, and should be the same as org.gnome.Extensions
I'd submit a PR myself, but the icon directory structure in this project is a little confusing, sorry.

[2020-11-30 17:51] Jupiter007-43 commented on #2498
Hi @Dragon8oy,
thank you for reporting this.
If you want to submit a PR here is the way to do:
- go to _icons/src/symlinks/fullcolor/apps.list_
- add this line: `extensions.png org.gnome.Shell.Extensions.png` (below `extensions.png org.gnome.Extensions.png`)
- and run the script (located in _/symlinks_): `./generate-symlinks.sh -m org.gnome.Shell.Extensions`

That's it :slightly_smiling_face:

[2020-11-30 18:31] Jupiter007-43 commented on #2498
You're welcome!
One more thing please: could you link your PR to this issue (just add a comment with `Closes #2498`)?

[2020-11-30 18:35] Jupiter007-43 commented on #2498
Perfect, thanks!

[2020-12-01 21:25] #2469 closed

[2020-12-03 11:37] Feichtmeier commented on #2408
Independently of what happens with gtk4 (looks like no more colored sidebar selection)
why didn't we come to the idea of changing the tone of the organge to be less agressive?

[2020-12-04 05:10] vitalkanev commented on #2386
Per https://github.com/ubuntu/yaru/pull/2501 I will close this issue. Thanks.

[2020-12-04 05:10] #2386 closed

[2020-12-05 09:36] fthx commented on #2403
I'm here for another issue but I see this one still open.
The icon from @Muqtxdir is very good, is it now included in Yaru icon theme?

[2020-12-05 09:48] fthx opened #2502 "Synaptic colors issues with yaru-dark"
Ubuntu Focal, Yaru-dark theme 20.04.10.1 in a GNOME session.

Rather than text:

install a package:
![image](https://user-images.githubusercontent.com/23138504/101239231-4270d180-36e6-11eb-842a-4dc498f931f3.png)

upgrade a package:
![image](https://user-images.githubusercontent.com/23138504/101239266-86fc6d00-36e6-11eb-9cf8-de0e7c02cf11.png)

Same issue running Adwaita-dark.

[2020-12-05 13:36] #2498 closed

[2020-12-09 09:38] coxackie commented on #1816
@clobrano Sorry for coming back to this, but I realised that `Code - OSS` is open source, while VS code is the Microsoft product; see:
https://github.com/microsoft/vscode/wiki/Differences-between-the-repository-and-Visual-Studio-Code
Distros like Arch package `Code - OSS`, which should be free of any Microsoft licencing, etc. I think that, as long as there is no icon for Microsoft VS Code, it shou

[2020-12-10 12:46] Dragon8oy commented on #2334
Would symlinking application/x-msdownload to the icon for application/x-mswinurl work?

[2020-12-10 14:38] Jupiter007-43 commented on #2334
I don't think so, this icon symbolize a link or an url.
IMO we should use the **application-octet-stream** icon as dlls are binaries files.

[2020-12-10 15:01] clobrano commented on #1816
Hi @coxackie, it was not a problem of licensing, but of being a third-party application + not installed by default. If there is any interest from them to have a Yaru icon, we could have a go.

[2020-12-10 15:11] coxackie commented on #1816
Thanks, @clobrano, but in this case I am not sure who "them" would be that needs to be consulted. It is not Microsoft per-se, as this is an OSS build of the repo, not Microsoft's VS Code. Specifically, I am using [this](https://www.archlinux.org/packages/community/x86_64/code/) package.

[2020-12-10 15:12] Feichtmeier commented on #1816
Answering to the initial issue report, I am not sure if I can follow. I think the vscode icon looks quiet fancy along other icons and also along yaru icons

![grafik](https://user-images.githubusercontent.com/15329494/101790107-5bbcb800-3b02-11eb-8df2-3dac37a57175.png)

What is code OSS?

[2020-12-10 15:19] coxackie commented on #1816
I am not talking about vscode exactly; code - oss is an "open source software" build, directly from the repo. You can see the icon below - it is the last blue one with white lines.

![image](https://user-images.githubusercontent.com/22049642/101790836-cbc74000-3afa-11eb-8cde-6e2b98b194c7.png)

[2020-12-10 15:25] madsrh commented on #1816
https://github.com/microsoft/vscode/blob/master/resources/linux/code.png

[2020-12-10 15:33] Feichtmeier commented on #1816
lol this is indeed butt ugly :D
Wouldn't it be cool if we would rather get our icon crew to contribute an icon to them?

[2020-12-10 15:40] coxackie commented on #1816
@Feichtmeier that would be amazing, although I am not sure how receptive they might be at including an icon with specific guidelines,  as Yaru tries. For reference, here is what Papirus has done:
![image](https://user-images.githubusercontent.com/22049642/101793502-c7e8ed00-3afd-11eb-86d9-6da3fca0c96c.png)
All these correspond to a different build of code - it is the first one I am talking about.

[2020-12-11 20:08] github-actions[bot] opened #2504 "LP#1907832 "package yaru-theme-icon 20.04.8 failed to install/upgrade"
Reported first on Launchpad at https://bugs.launchpad.net/ubuntu/+source/yaru-theme/+bug/1907832

[2020-12-11 20:08] github-actions[bot] opened #2505 "LP#1907844 "[SRU] Backport icon-changes from groovy to focal ""
Reported first on Launchpad at https://bugs.launchpad.net/ubuntu/+source/yaru-theme/+bug/1907844

[2020-12-12 19:00] coxackie commented on #1816
@Feichtmeier @clobrano This whole discussion is also making me realise that there is no obvious way for requesting icons. I understand that you want to get the OK from developers, but I think in this case there should be a way to do this seamlessly for anyone who wants to request an icon. For example, a centralised webpage of some sort that we can direct authors of packages to see the yaru style,

[2020-12-16 16:47] farazqaisrani11 commented on #1170
Tbh this looks pretty good

this is also best in [drawing ideas](www.3dvkarts.com) blog

[2020-12-17 09:05] cybbro opened #2507 "Drag cursor is not consistent"
Yaru cursor dragging icons are not consistent I don't know whether that is a feature or a bug though, when I drag a window I get this nice cursor:

![Screenshot from 2020-12-17 10-54-30](https://user-images.githubusercontent.com/10908092/102466040-1a269280-4057-11eb-9ddd-194177a3d855.png)

But if I try to drag a web element, something inside a web app or even in some other desktop applications I g

[2020-12-17 09:39] Feichtmeier commented on #2507
Hi @cybbro thanks for the issue
I think this could be the case of a missing cursor symlink and then the adwaita cursor jumping in.

[2020-12-17 10:21] cybbro commented on #2507
That's a reasonable assumption! by default, Ubuntu 20.10 did not come with adwaita cursors, but I installed them via Synaptic. So it might be picking up those. But I have no idea how cursors work, so I don't know where to change that.  Maybe I should uninstall adwaita cursors to see what it does if it can't find those?

[2020-12-17 10:46] Jupiter007-43 commented on #2507
![Capture d’écran du 2020-12-17 11-43-42](https://user-images.githubusercontent.com/36476595/102477844-30375180-405d-11eb-863f-cdcd1736abd0.png)

The grab cursor (css name) is missing, see: https://developer.mozilla.org/en-US/docs/Web/CSS/cursor

[2020-12-17 10:55] cybbro commented on #2507
So, what would be the best next step here, should I wait for an advice how to fix it, or just close the issue since it's the duplicate of #2219 ?

[2020-12-17 11:01] Jupiter007-43 commented on #2507
There was a PR (#2453) which was linking the **hand1** icon to the **grab** one. But looking at **/usr/share/icons/Yaru/cursors/** I can't found any **grab** icon.
IMO this PR is incomplete. How can we symlink a cursor?

As it's a Yaru problem, just wait for a fix PR 🙂

[2020-12-17 11:27] Feichtmeier commented on #2507
Idk, can't you just ln -s on the hand cursor ?
Otherwise just copy paste it :shrug:

[2020-12-17 11:48] Jupiter007-43 commented on #2507
In fact I was asking how to symlink cursors in Yaru repo. 😅 I have no idea of the way to do.

I tried ln -s and it works on Todo:

![Capture d’écran du 2020-12-17 12-38-35](https://user-images.githubusercontent.com/36476595/102483578-3d583e80-4065-11eb-8c6d-d67b70313ade.png)

But that didn't resolved the problem into Firefox. By the way there is the same problem with Adwaita. IMO this is a Firefox

[2020-12-17 14:03] Muqtxdir commented on #2507
@Jupiter007-43 is right, `generate-symlink.sh` does-not symlink cursor sets even though `cursors.list` is present
I think its maybe because `generate-symlink.sh`does not have `cursors` in `CONTEXT`

[2020-12-20 17:38] clobrano commented on #2505
This is a SRU ticket, we don't need to keep it open here

[2020-12-20 17:38] #2505 closed

[2020-12-20 17:40] clobrano commented on #2476
Hi @UltraBurstXD,

I don't feel they look "ugly", but that's an opinion. I am unsure they are bigger as well, unless upstream changed the size recently

[2020-12-20 23:36] Feichtmeier commented on #2476
We once had the arrows from our icon theme. But at some point they changed the icon name.
@UltraBurstXD if you like you can track down the icon name in upstream gnome shell

[2020-12-21 08:49] UltraBurstXD commented on #2476
What is it's name? I'm having some trouble finding it in the upstream gnome shell...

[2020-12-21 10:15] UltraBurstXD commented on #2476
Hmmm... Having some trouble finding it though... So [scrollbar-arrow](https://github.com/ubuntu/yaru/blob/master/gtk/src/dark/gtk-2.0/assets/scrollbar-arrow-down.png)... is that the name? It kinda looks fancy, like the arrows of Firefox. I think it'd look cool in system menu and others widgets too...

[2020-12-23 11:31] tosziro opened #2517 "Missing icon for Timeshift"
There are missing icons for Timeshift and Htop. Maybe you could guys in spare time add Yaru versions of them? Right now they look like from other world. :-)

/usr/share/applications/timeshift-gtk.desktop
/usr/share/applications/htop.desktop

Im running Ubuntu 20.04 fully updated.

![missing](https://user-images.githubusercontent.com/41963712/102991814-44c29080-451a-11eb-8304-72c811ffb727.png)

[2020-12-23 11:58] Feichtmeier commented on #2517
Hi @tosziro
For both: if the creators of those apps give their ack, we can see if our icon designers have time to make something that fits
For htop: a symlink to system monitor should be enough

[2020-12-25 14:50] fouzan14 opened #2519 "question: what value to change to get font like adwaita"
I noticed Yaru uses normal font weight in places where Adwaita default uses bold font-weight
What values in scss do i change to get the default adwaita-font weight in top-bar and app-folders? (basically, asking what tweak should I remove to get the default adwaita font-weight in gnome-shell theme)
Please point me to the file, where I need to make changes

[2020-12-25 16:49] madsrh commented on #2519
Hi fouzan14. I'm going to close your issue here since this isn't an actual issue in Yaru 😊 The comments are still open of course.

[2020-12-25 16:49] #2519 closed

[2020-12-25 18:27] fouzan14 commented on #2519
ok dude, but could you tell me how to change the font weights?

[2020-12-25 19:51] Feichtmeier commented on #2519
Yo dude 🙄

If you mean the Gnome shell app folders remove the wild card in gnome shell theme dir _widgets.scss

Yo yo, let's all communicate like some primates from 20k years ago, yo yo

[2020-12-26 20:00] fouzan14 commented on #2519
Thanks ! I apologise if my tone seemed inappropriate

[2020-12-27 17:11] Amr-Ibra opened #2520 "Improve the gnome-characters icon"
The upstream icon of gnome-characters, in my opinion, represents the nature of the app better than the Yaru icon. The upstream icon has an Asian character, an Arabic letter, an emoji and a symbol, which are really the things that are searched for in the app. On the other hand, the Yaru icon has only an accented "a" letter. So I think the Yaru icon could be improved.

[Upstream icon](https://gitlab

[2020-12-31 14:05] #2507 closed

[2021-01-01 18:14] Jupiter007-43 opened #2522 "Headerbar sidebar separator is wrongly colored"
Libhandy headerbar sidebar separator is wrongly colored in default theme:

![Capture d’écran du 2021-01-01 19-13-46](https://user-images.githubusercontent.com/36476595/103444084-8ca58e00-4c65-11eb-8f32-5b1d0d79e401.png)

[2021-01-02 17:19] #2522 closed

[2021-01-05 10:09] Feichtmeier opened #2524 "High res dark shell switch asset is low res"
![Peek 2021-01-05 11-06](https://user-images.githubusercontent.com/15329494/103633559-30cd5480-4f46-11eb-95d3-37e9d53b49fe.gif)
https://github.com/ubuntu/yaru/blob/master/gnome-shell/src/toggle-off-dark.svg

[2021-01-05 10:20] madsrh commented on #2524
Nicely spotted 🕵️

[2021-01-05 15:21] Feichtmeier opened #2525 "Package icon is low res on high res"
![grafik](https://user-images.githubusercontent.com/15329494/103664026-14dfa800-4f72-11eb-8037-e3dc7e5dbf7f.png)

[2021-01-08 05:16] kaimast opened #2526 "Devel style class seems to be broken/unsupported"
**Expected Behavior**
I ran a development build of geary which uses the "devel" style class for its main window. It should either render like the regular version or have a style that indicates it is a development build.

**Actual Behavior**
The theme for the header bar seem to be broken. It renders grey/white text on top of a light gray background.

**Steps to Reproduce the Problem**
Install geary

[2021-01-08 08:13] Feichtmeier commented on #2526
@kaimast thanks!
Ah yeah the default theme :), right?
Was just "yaru"? not "yaru-light"?

[2021-01-10 12:52] ubuntujaggers commented on #2520
Is this any good?

![image](https://user-images.githubusercontent.com/38893390/104123339-9fddeb00-5342-11eb-98c4-67d94b44625b.png)

[2021-01-10 14:01] Amr-Ibra commented on #2520
Yes, but I prefer the look of the Arabic letter ش on the upstream icon because the three dots look more symmetrical there.

Also, the eyes in the emoji look a bit too large in the suggested Yaru icon.

[2021-01-10 22:59] ubuntujaggers commented on #2520
![image](https://user-images.githubusercontent.com/38893390/104137800-6f746c00-5397-11eb-9aab-ad59b6d06cdc.png)

??

[2021-01-11 15:06] #2372 closed

[2021-01-11 15:06] ubuntujaggers commented on #2372
This one was resolved when we added the corners :+1:

[2021-01-11 21:27] cavillagomez commented on #2481
Bug affects Terminal in Ubuntu 20.04 (gnome 3.36). Unmaximized windows, with transparency and affects menu bar and tabs

[2021-01-11 22:17] kaimast commented on #2526
I just tested it on regular Yaru. It looks like it is using the font color of Yaru but the background color of Adwaita.

[2021-01-11 22:19] Amr-Ibra commented on #2520
Much better.

[2021-01-12 11:25] Dragon8oy commented on #2334
I made 2 mimetype icons for my icon theme in Yaru's style and was wondering if anyone wants them upstreamed? If anyone's interested, I'll do it later and submit a pull. (They are svgs, GitHub didn't like me uploading them

![application-vnd ms-publisher](https://user-images.githubusercontent.com/33733427/104308587-d2195500-54c8-11eb-9698-5d88187e5e05.png)
![application-x-qemu-disk](https://user-im

[2021-01-12 11:43] madsrh commented on #2334
Nice work @Dragon8oy 👍

[2021-01-12 11:55] Jupiter007-43 commented on #2334
It's very nice of you, thanks @Dragon8oy 👍

I just have one question: what's the name of the related mimetypes?

[2021-01-12 12:10] Jupiter007-43 opened #2529 "Missing icon .dll mimetype (application/x-msdownload)"
![Capture d’écran du 2020-10-15 12-20-29](https://user-images.githubusercontent.com/36476595/96111149-194f7400-0ee1-11eb-81ef-4ac0f20e2ade.png)

Related to #2334

[2021-01-12 12:27] Jupiter007-43 opened #2531 "Missing icon XPInstall extension file (application/x-xpinstall)"
XPInstall (.xpi) files are Firefox/Thunderbird extension files.

![Capture d’écran du 2021-01-12 13-22-53](https://user-images.githubusercontent.com/36476595/104314243-70151b80-54d9-11eb-9388-467e4df6e640.png)

Related to #2334

[2021-01-12 12:41] Dragon8oy commented on #2334
They're:
 - application-vnd.ms-publisher
 - application-x-qemu-disk

[2021-01-12 14:09] Jupiter007-43 commented on #2334
Thanks 🙂
The ms-publisher icon is good.
But about the qemu one, we use the cardiogram pictogram only for virtualbox mimetypes. IMO you should replace it by something else (a symbolic version of qemu logo by example).

[2021-01-12 14:19] madsrh commented on #2334
+1

https://wiki.qemu.org/Logo
https://git.qemu.org/?p=qemu.git;a=blob_plain;f=pc-bios/qemu_logo.svg;hb=HEAD
Color: #ff6600

[2021-01-12 14:31] Jupiter007-43 opened #2533 "Missing icon Configuration Settings .ini (application/x-wine-extension-ini)"
![Capture d’écran du 2021-01-12 15-24-13](https://user-images.githubusercontent.com/36476595/104326644-3dbfea00-54ea-11eb-96fc-b1994d57a9d7.png)

Related to #2334

[2021-01-12 16:19] Feichtmeier commented on #2526
@kaimast would you be able to try if this branch fixes this problem for the default theme with the inverted headerbar?

https://github.com/ubuntu/yaru/tree/GtkTheme_inverted_headerbar_dev_mode

Thanks in advance

[2021-01-12 21:48] Dragon8oy commented on #2334
Thanks for the feedback, I've finished the publisher icon in your format and generated the bitmaps, I'll work on the qemu one and submit a pull tomorrow. Thanks :)

[2021-01-13 14:44] Dragon8oy commented on #2334
![image](https://user-images.githubusercontent.com/33733427/104466892-9c9a6780-55ad-11eb-9a31-2468617ac96a.png)
![image](https://user-images.githubusercontent.com/33733427/104467053-c9e71580-55ad-11eb-87f1-f2b5922b1d60.png)
Thoughts?

[2021-01-13 17:34] Jupiter007-43 commented on #2334
Much better! Make the pictogram a bit smaller (it is too close to the right edge actually IMO) and it will be perfect 👍

[2021-01-13 17:37] Dragon8oy commented on #2334
![image](https://user-images.githubusercontent.com/33733427/104488193-ed1dbf00-55c5-11eb-826a-f114ad5353e3.png)
Which colour did you prefer? Personally, I thought the dark grey was better.

[2021-01-13 17:41] Jupiter007-43 commented on #2334
Perfect 😃
Personally I also prefer dark grey.

[2021-01-13 18:00] madsrh commented on #2334
How does it look with a solid fill? Similar to the snap icon

[2021-01-13 18:02] Dragon8oy commented on #2334
![image](https://user-images.githubusercontent.com/33733427/104490996-84384600-55c9-11eb-9428-0fcc6dbd465e.png)

[2021-01-13 18:05] Jupiter007-43 commented on #2334
Maybe also add an eye, what do you think of 🤔

[2021-01-13 18:08] Dragon8oy commented on #2334
![image](https://user-images.githubusercontent.com/33733427/104491467-32dc8680-55ca-11eb-8659-0a562cad3f6d.png)
I'm not too sure which I prefer so far. I tried it with an eye without a fill, and it didn't look right, but this looks much better than that attempt...

[2021-01-13 18:10] Jupiter007-43 commented on #2334
It is the best version IMO :+1:

[2021-01-13 18:12] Dragon8oy commented on #2334
I'm happy with it, but I'll wait for some more input before I submit a PR, thanks guys :)

[2021-01-13 18:16] Jupiter007-43 commented on #2334
No, thank you 🙂

[2021-01-14 10:16] Dragon8oy commented on #2334
![image](https://user-images.githubusercontent.com/33733427/104577485-75957180-5651-11eb-9abb-7424157ff63e.png)
![image](https://user-images.githubusercontent.com/33733427/104577496-79c18f00-5651-11eb-8396-6f451a2b1111.png)
These are the two, I'll submit whichever your team prefer :)

[2021-01-14 10:18] Jupiter007-43 commented on #2334
Definitively prefer the solid one ;)

[2021-01-14 16:52] Jupiter007-43 opened #2536 "Missing icon MS Publisher (application-vnd.ms-publisher)"
**.pub** are MS Publisher files (application-vnd.ms-publisher)

[2021-01-14 16:54] Jupiter007-43 opened #2537 "Missing icon QEMU virtual disk (application-x-qemu-disk)"
**.qcow2** are QEMU virtual disks files.

[2021-01-14 16:55] #2533 closed

[2021-01-14 16:55] #2531 closed

[2021-01-14 16:55] #2529 closed

[2021-01-14 18:23] #2520 closed

[2021-01-15 16:34] fthx commented on #2403
Bump?

[2021-01-15 16:48] Muqtxdir commented on #2403
hey @fthx sorry for the late reply, could you please tell what should be the name given to the snap symbolic?

I was under the assumption that the snap symbolic was only for your extension, but it seems this needs to be included in yaru as well (am I right?)

[2021-01-15 16:57] fthx commented on #2403
Hi,

I don't manage the Yaru project so it's not my turn to respond!
:-)
IMHO including this icon in Yaru makes sense since Yaru is Ubuntu's default theme and Snaps are important things nowadays.

[2021-01-15 19:44] Jupiter007-43 commented on #2403
If everyone is OK to include it of course (but I don't see why a new icon could hurt 😉), simply naming it snap-symbolic seems IMO a good idea.

[2021-01-15 20:37] Feichtmeier commented on #2403
Yes do it 👍

[2021-01-18 15:23] vitalkanev opened #2538 "[Missing icon] Sound Recorder"
**Icon Request**
**Note**: This is an *official* GNOME app included in other distributions (and shown in GNOME home page, hehe), but not in Ubuntu. Podcasts app is not included by default in Ubuntu, but the icon exists. Hmm

**Steps to locate the icon**

1. Install `gnome-sound-recorder` from Ubuntu repositories (tested with `devel` channel thanks to Martin Wimpress :D)
2. Go to app grid
3. (optio

[2021-01-18 15:29] Feichtmeier commented on #2538
Thanks - looks like a generic gnome app and we should be safe to provide an icon for this. Good idea to stay close to upstream

[2021-01-18 20:34] github-actions[bot] opened #2539 "LP#1912069 "app-notification style class does not appear correctly""
Reported first on Launchpad at https://bugs.launchpad.net/ubuntu/+source/yaru-theme/+bug/1912069

[2021-01-20 11:25] Feichtmeier opened #2547 "Tile border-radius changes on :hover"
![grafik](https://user-images.githubusercontent.com/15329494/105168426-695e5800-5b1a-11eb-9efc-96e9c1c70dc8.png)

Seen in focal, need to see if this is present in groovy

[2021-01-20 14:21] #2536 closed

[2021-01-20 14:21] #2537 closed

[2021-01-22 09:49] coxackie opened #2553 "Preemptive question: no "early" support for GNOME 40?"
Hi there. I recently read that Ubuntu 21.04 will stay with GNOME 3.38, and that one of the reason was that yaru would not be "ready" for the GTK4 transition by then. I am opening this issue to ask if this is indeed the case. There is a large community using yaru outside of Ubuntu, and I wanted to know whether updating to GNOME 40 after release is going to break the theme.

 Many thanks for your in

[2021-01-23 02:49] kwwzzz opened #2557 "About Icon-theme Specification"
**Expected Behavior**

At the same pixel size, different types should not have the same name.

**Description and Screenshots**

Hi! I've realized a question about icon-theme during my development process: Shouldn't there be icons with the same name under different types of folders of the same pixel size?
Although the index.theme file controls the order in which the application looks for icons, I d

[2021-01-23 15:55] Feichtmeier commented on #2214
Fixed with https://github.com/ubuntu/yaru/commit/6bb5b74e256abde3551bc73c7ecf70026285e0a6

[2021-01-23 15:55] #2214 closed

[2021-01-23 15:55] Feichtmeier commented on #970
provided in https://github.com/ubuntu/yaru/tree/hirsute/mate

[2021-01-23 15:55] #970 closed

[2021-01-23 17:24] geckolinux commented on #2214
@ Feichtmeier Excellent thank you very much!

[2021-01-23 17:27] Feichtmeier commented on #2214
Np, we're all pushing much stuff into this branch so a yaru mate theme will be available very soon.
You are welcome to try the branch already and report bugs :)

[2021-01-24 16:08] Jupiter007-43 commented on #2557
Hi @kwwzzz,
thanks for the report.
I created a PR which remove duplicated icons:  #2563

[2021-01-24 16:10] #2441 closed

[2021-01-24 17:20] #2557 closed

[2021-01-24 17:48] leinardi commented on #2212
I'm experiencing the same issue, is there any workaround?

[2021-01-25 01:13] kwwzzz commented on #2557
thx！I'm glad you took my advice.

[2021-01-25 09:25] clobrano commented on #2212
Hey @leinardi, thank you for the feedback, I forgot to close the ticket :)

[2021-01-25 09:25] #2212 closed

[2021-01-25 12:50] Feichtmeier commented on #2524
could not reproduce
maybe this was just a temporary thing and the old asset was loaded
it is def. not a problem of the asset

[2021-01-25 12:56] Jupiter007-43 commented on #2524
Did you noticed it on a 4K screen?

[2021-01-25 14:27] Feichtmeier commented on #2524
yes, last time and this time. last time eventually the shell missed to reload the asset

[2021-01-25 14:32] Jupiter007-43 commented on #2524
Ok, so I can't test with my 1080p display, sorry.
🤔 Looking at assets, I didn't noticed anything.

[2021-01-25 16:57] Feichtmeier commented on #2165
Omg @clobrano
I've finally found a way to debug this xD
When you turn on "show notification as banner" for example for thunderbird, lock the screen, get some emails, turn on the display again you can see the fat font with low contrast as the lower label :D :D :D

[2021-01-25 16:58] Feichtmeier commented on #2547
This reason for this is that the _dock.scss tiles overwrite the other tile defined from the upstream files

[2021-01-26 09:45] clobrano commented on #2165
Damn, that was tricky :smile:

[2021-01-26 09:48] Feichtmeier commented on #2553
Sorry we won't discuss this here
Here is the discussion: https://discourse.ubuntu.com/t/staying-on-gtk3-and-gnome-3-38-this-cycle/20466/24

As always, Yaru will support what's in Ubuntu

[2021-01-26 09:48] #2553 closed

[2021-01-26 11:09] coxackie commented on #2553
@Feichtmeier thanks, and I totally understand that your priority is Ubuntu. I was just asking whether there would be *any* support for gtk4. From what I see in the discussion thread you sent, is https://gitlab.gnome.org/Feichtmeier/gtk/-/commits/yaru going to provide such functionality, or are you not going to merge this to yaru until the next Ubuntu iteration?

[2021-01-26 11:12] Feichtmeier commented on #2553
Yes ofc, but just wait please

[2021-01-26 11:25] coxackie commented on #2553
@Feichtmeier of course - I am not in any hurry, and apologies if it appears so. They only thing I wish is that yaru still more or less work after March, when certain distros (such as Arch) update to GNOME 40. This is all. And, once again, many thanks for your great work.

[2021-01-26 12:01] Dragon8oy opened #2571 "Svgs have unused definitions"
Many of the svgs in the icon theme have unused definitions in them, which can safely be removed and save file size. They can be cleaned up in Inkscape via `File > Clean Up Document`, or cleaned up with `inkscape --vacuum-defs --export-filename=./filename.svg ./filename.svg`. If anyone's interested, I'll recursively do this later and submit a pull request.

[2021-01-26 13:14] madsrh commented on #2571
Fantastic!

I know next to nothing about Inkscape, but that sound like a great idea. Right, @ubuntujaggers ?

[2021-01-26 13:19] Feichtmeier commented on #2571
Yes please do :)

[2021-01-26 13:20] Feichtmeier commented on #2571
@Dragon8oy are you on https://discourse.ubuntu.com/ ?

[2021-01-26 13:24] Dragon8oy commented on #2571
I'm not, I used to use Ubuntu, but I just use this theme now :)

[2021-01-26 13:28] Feichtmeier commented on #2571
Okay just asking because you've been contributing quiet a bit. So if you are interested in joining the team just ping us on discourse in a PM. Otherwise github is also very much fine :+1:

[2021-01-26 13:34] Dragon8oy commented on #2571
Ah okay, thanks

[2021-01-27 20:32] ubuntujaggers commented on #2571
Excellent, thank you! 🙂

[2021-01-28 10:54] vitalkanev opened #2577 "Missing desktop icon in Advanced MATE Menu"
**Expected Behavior**
Yaru Desktop icon should appear

**Actual Behavior**
Desktop icon from Ambiant is used

**Steps to Reproduce the Problem**
1. **Important!** Add "Advanced MATE menu" to any free panel
2. Open the menu
3. Look at the desktop icon

**Software that presents the issue**
!["Advanced MATE Menu" version dialogue box](https://i.imgur.com/Xuxegrk.png)

**Yaru version**
Git commit: 0fa

[2021-01-29 20:09] github-actions[bot] opened #2579 "LP#1913642 "Background color of certain tooltips is solid black after upgrading yaru-theme-gkt to version 20.04.10.1""
Reported first on Launchpad at https://bugs.launchpad.net/ubuntu/+source/yaru-theme/+bug/1913642

[2021-01-30 09:28] andrewshadura opened #2580 "GTK 2: menus use text colour too bright to be readable"
**Expected Behavior**

![image](https://user-images.githubusercontent.com/309253/106352719-a6c6a080-62e5-11eb-98ee-47a76026854d.png)

**Actual Behavior**

![image](https://user-images.githubusercontent.com/309253/106352688-636c3200-62e5-11eb-9b49-6ec66a68d43a.png)

**Steps to Reproduce the Problem**

Use the default (non-dark) Yaru

**Software that presents the issue**

Software based on GTK 2, fo

[2021-01-30 14:15] madsrh opened #2583 "MATE Panel active and hover styling is missing"
The Mate Panel could use a bit of styling 🎨 Perhaps similar to the [dock](https://i.stack.imgur.com/JUhGy.gif) 🤷‍♂️

![image](https://user-images.githubusercontent.com/3986894/106358655-d25d8100-630d-11eb-9ec2-59e37653f740.png)

[2021-01-30 14:22] madsrh opened #2584 "Icons in GAJA shouldn't be green"
In GAJA, only the label should be green and the icon should have a slightly gray overlay, similar to icons in Nautilus.

![image](https://user-images.githubusercontent.com/3986894/106358823-d8079680-630e-11eb-8d74-1882c86000e5.png)

[2021-01-30 14:42] madsrh opened #2585 "Wrong colors in Indicator applet"
The speaker and the Menu icons are #f2f2f2 but the rest is #dfdbd2

![image](https://user-images.githubusercontent.com/3986894/106359097-ae4f6f00-6310-11eb-96c3-6b58eeecfb8c.png)

[2021-01-30 14:46] madsrh opened #2586 "Mate panel: menu popover is overlapping"
Not sure if this is actually an issue, but the menu (or at least the border) is above the panel. Perhaps we should add a bit of space between the two, similar to the app preview in the bottom panel?

![image](https://user-images.githubusercontent.com/3986894/106359290-0aff5980-6312-11eb-9fe0-c8ad303946c6.png)

For reference:
![image](https://user-images.githubusercontent.com/3986894/106359313-4ac6

[2021-01-30 15:16] madsrh opened #2587 "Network-server icon lacks contrast"
At small sizes the network-server icon just looks gray to me. Could anything be done to make the details stand out more, without ruining the style @ubuntujaggers?

![image](https://user-images.githubusercontent.com/3986894/106359940-1785b100-6316-11eb-9764-814118c607d6.png)

I'm on a 4k screen, so this might not be a problem for everyone else 🤷‍♂️
![image](https://user-images.githubusercontent.com

[2021-01-30 16:01] madsrh opened #2588 "Revisit tabs styling"
@clobrano @Feichtmeier I know that we've tweaked the tabs a ton of times 🙈 I don't recall why we landed with the current design (or maybe something changed), but having the label go darker on hover seems very unintuitive IMHO.
Could we revisit or was there perhaps a larger issue blocking?
I remember that there was an issue with the black underline in this issue: https://github.com/ubuntu/yaru/pull

[2021-01-30 18:23] Feichtmeier commented on #2588
I personally would prefer if the label would not change at all only the underline

[2021-01-30 19:39] madsrh commented on #2588
+1 exactly

[2021-01-31 19:42] nenadcvele opened #2590 "Popup window width"
**Expected Behavior**

Logging out or opening Synaptic should show popup with background wide enough to cover all the content.

**Actual Behavior**

The popup window background is not wide enough, the text goes out of it.

**System information**
OS Debian 10 Buster
Gnome shell 3.30.2

**Yaru version**
20.10.6.1-109-g9b47c206

**Screenshots**
![Screenshot from 2021-01-31 20-29-44](https://user-imag

[2021-01-31 20:11] Feichtmeier commented on #2590
The problem is that you use the wrong version of yaru for this old shell.
Focal has 3.36
Groovy 3.38
Current yaru master is 3.38

[2021-01-31 20:30] nenadcvele commented on #2590
What's the branch for 3.30? Sorry.

[2021-01-31 21:09] Muqtxdir commented on #2590
hi @nenadcvele,

If I'm not wrong for gnome 3.30, you could select the `bionic` branch

[2021-01-31 22:47] nenadcvele commented on #2590
@Muqtxdir
Thanx, I got it working now :)

[2021-01-31 22:47] #2590 closed

[2021-02-01 11:07] Jupiter007-43 commented on #2476
All these icons are named pan-*-symbolic, see #2593

[2021-02-01 16:35] #2476 closed

[2021-02-01 20:10] Feichtmeier opened #2597 "Gtk4: theme parsing error"
b@ub:~/Projects/gtk/_build$ LD_LIBRARY_PATH=/usr/local/lib/x86_64-linux-gnu/ gtk4-widget-factory

(gtk4-widget-factory:9500): Gtk-WARNING **: 21:06:15.779: Theme parsing error: gtk.css:4140:35-41: Junk at end of value for transition-property
![grafik](https://user-images.githubusercontent.com/15329494/106512257-a5f26200-64d1-11eb-81a7-04203914cb4b.png)

I guess something here: https://github.com/u

[2021-02-01 21:02] #2597 closed

[2021-02-02 10:19] Feichtmeier opened #2599 "GitHub Action for GTK4 (master) branch observation"
Hi @didrocks
Sorry for shamelessly assigning you to this :smile_cat:

So, as we already observe GTK-3-24, gnome-shell and libhandy repos via GitHub Actions, we need another action to observe the GTK repo but this time the master branch, or in the future a gtk4 branch, if they again chose to create GTK5, 6, 7, ... GTK-n (with ```n ∈ ℕ``` :trollface: )

Would be nice to get this rolling before GTK4

[2021-02-02 10:29] Jupiter007-43 commented on #2599
Sorry I forgotten to do this. I can do it if you want @didrocks.

[2021-02-03 08:14] didrocks commented on #2599
@Jupiter007-43: feel grab it from me :) It would be great to share the github Action knowledge :)

[2021-02-05 09:35] #2461 closed

[2021-02-05 10:05] #2599 closed

[2021-02-05 13:13] Feichtmeier commented on #2588
@madsrh
![ya](https://user-images.githubusercontent.com/15329494/107038103-51deca80-67bc-11eb-9fa5-ab1141a4394f.png)
![Peek 2021-02-05 14-11](https://user-images.githubusercontent.com/15329494/107038105-52776100-67bc-11eb-8354-7cf3882f290a.gif)

?

[2021-02-05 15:33] #2588 closed

[2021-02-05 18:19] Muqtxdir opened #2610 "[icon-request] Nvidia X server settings icon"
hi,

since **ubuntu-desktop** ships nvidia-drivers out of the box for users with nvidia-graphics cards, the current default icon is ugly and needs the yaru-ish style icon for it :-)

### useful-links:
https://github.com/pop-os/icon-theme/blob/master/src/bitmaps/apps/nvidia-settings.svg

### default-icon:
![Screenshot from 2021-02-05 23-39-07](https://user-images.githubusercontent.com/54065734/1070

[2021-02-06 11:31] Jupiter007-43 opened #2611 "Github upstream actions architecture problem"
There's a problem with the actual architecture of Github upstream actions:
it is using the same branch for two parts (ex: gnome-shell and gnome-shell resources) and so the first one is overwritten by the second. And there's the same problem with gtk (gtk3 and gtk4 so).
If you look at the gnome-shell auto PR (https://github.com/ubuntu/yaru/pull/2510) there's only changes about resources.
And lookin

[2021-02-06 12:01] Jupiter007-43 commented on #2610
What do you think of?

![Capture d’écran du 2021-02-06 12-59-15](https://user-images.githubusercontent.com/36476595/107117541-34246a80-687b-11eb-9988-6775db164b84.png)

![Capture d’écran de 2021-02-06 12-57-35](https://user-images.githubusercontent.com/36476595/107117539-31c21080-687b-11eb-8b04-2de1f01ccc4f.png)

[2021-02-06 12:06] madsrh commented on #2610
Very Yaru-ish 😄 👍

[2021-02-06 12:35] Muqtxdir commented on #2610
really nicely done in yaru style @Jupiter007-43

[2021-02-07 11:33] #2610 closed

[2021-02-07 12:08] ubuntujaggers commented on #2587
The suggested version is much better :+1:

[2021-02-07 13:19] #2587 closed

[2021-02-07 14:34] Feichtmeier commented on #2497
Closed as closed as invalid on launchpad

[2021-02-07 14:34] #2497 closed

[2021-02-07 14:35] Feichtmeier commented on #1760
@coxackie is this the same issue as https://github.com/ubuntu/yaru/issues/1357 ?

[2021-02-07 14:42] Feichtmeier commented on #2180
I guess you fixed this @ubuntujaggers =)

[2021-02-07 14:42] #2180 closed

[2021-02-07 14:43] Feichtmeier commented on #2181
Closed since no response since half a year and I am pretty sure this is a problem with this application using dark icons in a dark theme

[2021-02-07 14:43] #2181 closed

[2021-02-07 14:44] Feichtmeier commented on #2191
@ubuntujaggers @Jupiter007-43 eventually check if this one is relevant and fixable within some mate contributions

[2021-02-07 14:46] Feichtmeier commented on #2271
@madsrh could you eventually put al the useful information out of this issue into the wiki as a new page for mimetype guidelines?

[2021-02-07 14:55] Feichtmeier commented on #2415
Maybe we miss the emblem then @Jupiter007-43 ?

[2021-02-07 15:01] Feichtmeier commented on #2437
Closed as opinion

[2021-02-07 15:01] #2437 closed

[2021-02-07 15:02] Feichtmeier commented on #2449
Checked again and this is not reproducible on multiple installations

[2021-02-07 15:02] #2449 closed

[2021-02-07 15:03] Feichtmeier commented on #2472
Fixed with https://github.com/ubuntu/yaru/pull/2475

[2021-02-07 15:03] #2472 closed

[2021-02-07 15:12] Feichtmeier commented on #2502
hello @fthx :wave:
Some questions:
- is this gtk2 or gtk3?
- do you know the style classes if it's gtk3? as this looks like some custom stuff not covered by adwaita thus not covered by yaru

[2021-02-07 15:13] Feichtmeier commented on #2504
Closed as invadlid on launchpad

[2021-02-07 15:13] #2504 closed

[2021-02-07 15:16] Feichtmeier commented on #2488
Closed as invalid

[2021-02-07 15:16] #2488 closed

[2021-02-07 15:19] Feichtmeier commented on #2517
@tosziro htop is merged thanks to @vitalkanev

If you want this Timeshift icon, you need to ask those developers first, as we do not put icons into yaru that overwrite app icons against the will of their creators

[2021-02-07 15:19] Feichtmeier commented on #2524
Uncofirmed, I guess it's rather a bug in gnome-shell

[2021-02-07 15:19] #2524 closed

[2021-02-07 15:22] Feichtmeier commented on #2525
package-x-generic
has proper icons at each size

![grafik](https://user-images.githubusercontent.com/15329494/107150958-8a1f0e00-6960-11eb-87ba-b92675907818.png)

so it's not a yaru bug

[2021-02-07 15:22] #2525 closed

[2021-02-07 15:24] Feichtmeier commented on #2526
@clobrano since I know you use flatpak, could you test my branch and see if this fixes this issue? :smile: thanks in advance

[2021-02-07 15:27] Feichtmeier commented on #2358
@Jupiter007-43 since you seem quiet experienced with SCSS could you try if you find a smart way of overwriting the header bar inside _headerbar.scss ?
Currently there is just the whole section copied plus iterating over the button states
I know nana-4 did something like this in the past or maybe it was carlo in yaru-1.0 but I was always unhappy with my solution in _headerbar.scss
I don't think thi

[2021-02-07 15:31] fthx commented on #2502
Yes I'm the same fthx ;-), thanks!
Did you try the last one (ok it's just a refinement/rewrite of another one, but anyway...) ?
https://extensions.gnome.org/extension/4000/babar

Well, if I remember Synaptic story correctly, it turned GTK3 some years ago, but I'm not sure at all.
https://packages.debian.org/buster/synaptic seems to depend on GTK3?

[2021-02-07 15:32] Feichtmeier opened #2620 "Backport _apps.scss from hirsute/mate to master"
The mate widget styling in the hirsute/mate branch can be used in master, as it should be flavour independant

[2021-02-07 16:04] Jupiter007-43 commented on #2415
I don't know but as this bug is also present with Adwaita icons, maybe ask upstream first.

[2021-02-07 16:18] Jupiter007-43 commented on #2358
I'll try to have a look 😄

[2021-02-07 16:20] Jupiter007-43 commented on #2415
https://gitlab.gnome.org/GNOME/file-roller/-/issues/120

[2021-02-07 16:30] clobrano commented on #2526
Time to review how to test flatpak, isn't it?

[2021-02-07 16:35] Jupiter007-43 commented on #2191
I created a Mate VM for testing.
@fcastilloec how did you got these symbolic icons? I only can only see fullcolor icons:

![1](https://user-images.githubusercontent.com/36476595/107152897-df601d00-696a-11eb-9310-5705955df929.png)

[2021-02-07 16:38] Feichtmeier commented on #2191
He is using nemo. But maybe some of the recent symlinks fixed this issue, too

[2021-02-07 17:29] stuarthayhurst opened #2621 "Multiple warnings during build"
Hi, there wasn't really a fitting template, so I'll try be as helpful as I can :)
When compiling and installing yaru via the instructions in `CONTRIBUTING.md`, I get several warnings during build. I don't know if they're related, I'll file separate bug reports if needs be.
The first issue is when running `meson build`, i get the following:
[code]

The second and third issues are with `sudo ninja i

[2021-02-07 17:31] Feichtmeier commented on #2621
@flexiondotorg could you have a look at the gtksourceview part?

[2021-02-07 17:52] clobrano commented on #2526
@kaimast, how do you know you're testing Yaru 20.10.6.1? Official Flatpak version is stuck at 20.10.4

https://github.com/flathub/org.gtk.Gtk3theme.Yaru/blob/891cf56dcfcd8c76badeb465357aebaf341a90db/org.gtk.Gtk3theme.Yaru.json#L61

with which I get the following result (it isn't perfect, but the problem is different)

![image](https://user-images.githubusercontent.com/2883614/107154866-81850280-69

[2021-02-07 18:42] kaimast commented on #2526
Sorry for not testing this for so long. I removed the debian package and installed the branch you linked. Yaru-light and yaru-dark now look great, but for some reason yaru itself still has this issue...

@clobrano I am building/installing geary from source.
![image](https://user-images.githubusercontent.com/4525445/107156097-e1fa4c80-6941-11eb-952a-6a77ed1fa9f6.png)

[2021-02-07 19:15] Feichtmeier commented on #2526
@kaimast woops, fixed something could you try again please?

[2021-02-07 19:24] kaimast commented on #2526
Yes, it looks great now! :smile:

[2021-02-07 19:38] Feichtmeier commented on #2526
Screenshot or it didn't happen ^^

[2021-02-07 19:45] Coeur-Noir commented on #2078
From https://discourse.ubuntubudgie.org/t/help-needed-to-produce-yaru-budgie/4612
⋅ https://github.com/vinceliuice/Qogir-theme/blob/master/src/_sass/gtk/apps/_budgie.scss
⋅ https://github.com/UbuntuBudgie/pocillo-gtk-theme/blob/master/src/gtk-3.0/3.22/sass/apps/_budgie.scss

Panels are a thing but applets inside panels have also to be checked, pixel-saver and global-menu amongst others.
https://gi

[2021-02-07 20:36] kaimast commented on #2526
This is what it looks like now.
![image](https://user-images.githubusercontent.com/4525445/107158738-cbf48800-6951-11eb-8059-d049f13ec915.png)

I noticed one more minor issue, though. When the window is not focused, it is still somewhat ugly.

![image](https://user-images.githubusercontent.com/4525445/107158764-e3337580-6951-11eb-9fbc-26c6933edb14.png)

[2021-02-07 20:45] Feichtmeier commented on #2526
Okay so separators and backdrop are also destroyed in _headerbar.scss

@Jupiter007-43 could you eventually take the devel style class into your headerbar.scss rework?

[2021-02-07 21:14] Jupiter007-43 opened #2623 "Gtk4 warning using default variant"
`(gtk4-widget-factory:54429): Gtk-WARNING **: 22:12:41.629: Theme parsing error: gtk.css:4238:7-23: No property named "-gtk-icon-effect"`

[2021-02-08 09:51] #2623 closed

[2021-02-08 10:05] coxackie commented on #1760
@Feichtmeier yes, if something like `yaru-qt` is developed (based on `adwaita-qt`), it would appear as a candidate in `qt5ct` (although, with `qgnomeplatform` installed, `qt5ct` should not be necessary). As mentioned above, this would require someone with `Qt` skills to go through the codebase of `adwaita-qt`, which does not seem like a totally trivial task.

[2021-02-08 10:41] Feichtmeier commented on #1760
Okay then we can close this one :+1:

[2021-02-08 10:41] #1760 closed

[2021-02-08 16:37] Jupiter007-43 commented on #2526
I fixed the backdrop problem, but the separator one is unfixable: the css selector isn't specific enough to target only headerbar separators:

![1](https://user-images.githubusercontent.com/36476595/107250738-47c70100-6a34-11eb-9fc0-99aa6d1143ed.png)
![2](https://user-images.githubusercontent.com/36476595/107250753-485f9780-6a34-11eb-9919-5e6bee88d437.png)

[2021-02-08 18:07] Feichtmeier opened #2630 "Corrupted symbolics in GtkFileChoser"
### Happens when:

Spawned from vscode classic snap
With yaru build locally from master

![grafik](https://user-images.githubusercontent.com/15329494/107261940-400d5980-6a40-11eb-829b-10e14c3be3e4.png)

### Does not happen when:

Spawned from Gedit deb
and/or
With yaru deb in focal
![grafik](https://user-images.githubusercontent.com/15329494/107262340-b7db8400-6a40-11eb-915e-458db9d07488.png)

Edi

[2021-02-09 06:28] #2611 closed

[2021-02-09 07:37] Muqtxdir commented on #2630
hi, I tried into looking what might be causing the symbolic-svg(s) to look corrupt/distorted and I made the following assumptions and attempts:

tried on: **Ubuntu 20.4.2** and **Ubuntu 20.10**
checked apps: code , Ubuntu-software(snap-store)

### attempt 1: gtk-common-themes snap inspection:
`gtk-common-themes` snap is based on top of `core18` and some of the symbolics from the current `master` b

[2021-02-09 07:37] Feichtmeier commented on #2526
Thanks @Jupiter007-43 !
I remember that the separators are created really weird. I believe it's some background or border-image

[2021-02-09 11:03] Jupiter007-43 commented on #2526
Where did you found this code snippet? I can't found it even with a circular search into my yaru clone folder 🤔

[2021-02-09 11:06] Jupiter007-43 commented on #2526
In fact the headerbar separator problem in Geary is because there's no _headerbar_ nor _.titlebar_ selector:

![1](https://user-images.githubusercontent.com/36476595/107352857-a2ac3700-6acc-11eb-8fcd-4b828540b895.png)

Even more, all other separators have exactly the same selector so there is no way to differentiate them 😓

[2021-02-09 11:12] Feichtmeier commented on #2526
oh man :face_with_head_bandage:
Yeah... def. comes on the "this is why inverting the headerbar is a bad idea"-list

Even this is better than nothing so merge when you feel your PR is read and thank you very much!
This code snipped is from my phone from the yaru_1.0_safe branch

[2021-02-09 17:55] Jupiter007-43 commented on #2526
Sadly yes... I begin to think that dropping this inverted headerbar should be a very good time and problem saver 😓 (even if I love it)...

[2021-02-09 18:55] Feichtmeier commented on #2526
Well, you don't need to convince me as you know. I've spent evenings to fix stuff in that headerbar :/
I still think that defaulting to dark would be a good compromise.
Let's get your pr in but don't close this issue. I plan to make a big post about all this dark light stuff.

[2021-02-09 22:37] barmadrid opened #2635 "Icons: Humanity inheritance?"
This is more of a question than a bug!

I understand that Yaru icon theme inherits Humanity icons. Does this mean it also depends on the Humanity icons package (the package _must_ be installed along Yaru)?

Thanks!

[2021-02-09 22:55] Feichtmeier commented on #2635
I think not. But @ubuntujaggers might have an opinion

[2021-02-10 15:44] Feichtmeier opened #2644 "Analyzing the current Ubuntu desktop theme situation: Problems and solutions"
## Introduction

To make it easier for designers and non-gnomers or non-gnome-techies to jump into the color problem discussion I will summarize the current situation of the Ubuntu desktop design/theme, it's design and technical problems or limitations and give a list of potential solutions.

### What UI components does the Ubuntu desktop use?

Roughly speaking it consists of two technologies for

[2021-02-10 23:00] ubuntujaggers commented on #2635
Good question, and I don't actually know what would happen if you didn't have Humanity installed...?

[2021-02-10 23:45] barmadrid commented on #2635
I did not notice anything when Humanity was not installed, but I'm not an expert in this!

Is it okay for us to remove Humanity from Yaru's inherit list?

[2021-02-10 23:57] chrisjbillington commented on #2635
If you remove humanity, then you've got no fallback - the remaining "hicolor" isn't a theme per se, it's where apps put their custom icons to ensure they're part of the fallback for any other theme.

So by removing it you're declaring Yaru to be comprehensive and not require any fallback.

I am 70% I still see humanity fallback icons in some apps when running Yaru. Will try to find an example, per

[2021-02-11 07:08] Feichtmeier commented on #2635
We could inherit Adwaita instead but I'm not sure if this would make the situation and better

[2021-02-11 07:50] clobrano commented on #2644
Hey @Feichtmeier, this is a huge sum up, thanks for the hard work :+1:

[2021-02-11 08:22] clobrano commented on #2644
If I read it right, you are exposing two main problems

1. Technical theming limits, which means lack of "downstream" theme customization capabilities.
2. Suboptimal user experience due in part to the missing of a complete mode switch feature and the color combination Yaru is using with dark headerbar whatever the theme is (light or dark).

A definitive solution to point 1 is "Create a theming API

[2021-02-11 10:51] Feichtmeier commented on #2630
Thank you very much @Muqtxdir
The idea with librsvg2-dev sounds reasonable. Maybe @jhenstridge could share this opinion on this? :)

[2021-02-11 17:56] barmadrid commented on #2635
I really like the Adwaita suggestion! @Feichtmeier

For me, it will be one less package installed on the system (Humanity) and Adwaita is actively maintained and a dependency of gtk in many distros anyway!

[2021-02-11 18:45] ubuntujaggers commented on #2644
Thanks for the epic write-up @Feichtmeier :+1:

My only counter-arguments are on these bits:

_"android and ios define what are minimum features for a modern desktop and people got very used to dark/light modes and expect it form a modern operating system!"_

Personally, I don't think the typical user will base their expectations of a desktop OS on Android or iOS.

I think there are still some fun

[2021-02-11 20:22] Feichtmeier commented on #2644
I can Screencast from a MacBook tomorrow. They follow the trend and offer a similar approach on light/dark mode. And I'm very sure Windows 10 will follow soon.

What you describe as coloured headerbars are still themes that have either the light or the dark attribute assigned to them. "This is a light theme". So when the system flips and the app opted in it can flip too.

I must admit that I perso

[2021-02-11 23:02] ubuntujaggers commented on #2644
@Feichtmeier

_"I can Screencast from a MacBook tomorrow. They follow the trend and offer a similar approach on light/dark mode. And I'm very sure Windows 10 will follow soon."_

I've actually got a Macbook in the flat - and it's true that Windows 10 might follow - but it doesn't _necessarily_ mean that we have to copy them.

If you're using lots of windows and some are in windowed mode, there are

[2021-02-12 09:42] Feichtmeier commented on #584
Ah, found it. My necro skills emerge

@didrocks do you still think that we need to be sensitive with "Activities" ? I actually like this idea to replace it with the ubuntu pill @Austinuity

[2021-02-12 11:06] jhenstridge commented on #2630
Are the actual icon files in the gtk-common-themes snap different to those you get from a regular build of the theme?  Or are we instead dealing with how different versions of GTK+friends render the same data?

If it is the first, then perhaps we could fix it by updating the snap to build against a newer base.  If it is the second, then that's probably something that would need to be dealt with in

[2021-02-12 14:17] Jupiter007-43 commented on #2644
Thank you for this very complete presentation @Feichtmeier 👍

I agree in all points with @ubuntujaggers about the headerbar.
The inverted headerbar is just perfect in term of design and usability. It is pretty cute, it gives a real identity to the Ubuntu desktop and It offer an area with a high contrast that makes it easy to spot windows. And I don't think that many peoples think that our default

[2021-02-12 19:27] ubuntujaggers commented on #2538
This is the Adwaita icon in Ubuntu:

![image](https://user-images.githubusercontent.com/38893390/107812638-e2db1600-6d67-11eb-8edb-1981fb7864b3.png)

![image](https://user-images.githubusercontent.com/38893390/107812658-ebcbe780-6d67-11eb-8f45-94c2018de7d2.png)

IMO being super-faithful to the design results in something that's a bit wrong for Yaru:

![image](https://user-images.githubusercontent.

[2021-02-12 20:23] ubuntujaggers commented on #2538
What about something more like:

[2021-02-12 20:31] Jupiter007-43 commented on #2538
This one looks better, but I think it isn't enough obvious.
Can you try to redo your first proposal in this style (I mean without padding)?

[2021-02-12 20:40] Feichtmeier commented on #2538
![Screenshot_20210212-213921.png](https://user-images.githubusercontent.com/15329494/107820279-cd231c00-6d7a-11eb-98fa-037b97661d63.png)

Eventually put a subtle sound wave as a baseplate?
But this one looks already cool

[2021-02-12 21:55] ubuntujaggers commented on #2538
@Jupiter007-43

![image](https://user-images.githubusercontent.com/38893390/107826587-078db880-6d7d-11eb-8c91-26c6514e556a.png)

???

[2021-02-12 22:01] ubuntujaggers commented on #2538
Ooh, I like this!  Just the wave:

![image](https://user-images.githubusercontent.com/38893390/107827022-db266c00-6d7d-11eb-9fc7-f7151a46f520.png)

![image](https://user-images.githubusercontent.com/38893390/107827038-e2e61080-6d7d-11eb-9e80-274f7eab306c.png)

[2021-02-12 22:02] ubuntujaggers commented on #2538
Click the images to view them - seems to resize them slightly in the post so they aren't as clear.

[2021-02-12 22:14] Feichtmeier commented on #2538
I thin this green looks maybe too much like engieering / health

Could you try a purple baseplate and without the echo shadow?
![grafik](https://user-images.githubusercontent.com/15329494/107827900-fa29fb80-6d87-11eb-99f4-236bb59136c1.png)
(amateur atempt)^^

[2021-02-12 23:04] madsrh commented on #2272
@Feichtmeier it's still lacking support for the .dart filetype on the Ubuntu side, right? 🤔  The mimetype icon is there

![image](https://user-images.githubusercontent.com/3986894/107831417-51cb6580-6d8e-11eb-858b-bb8c6a697731.png)

[2021-02-13 11:57] Jupiter007-43 commented on #2538
Just the wave is much better 👍
But I agree @Feichtmeier about colors, can you try with purple?

[2021-02-13 19:10] ubuntujaggers commented on #2538
![image](https://user-images.githubusercontent.com/38893390/107859056-0a48e600-6e2f-11eb-9ac3-c96d8194048c.png)

![image](https://user-images.githubusercontent.com/38893390/107859064-116ff400-6e2f-11eb-8d4d-2d3b8a19487e.png)

???

[2021-02-13 19:11] Jupiter007-43 commented on #2538
Perfect 😃

[2021-02-14 12:52] #2538 closed

[2021-02-14 16:11] ubuntujaggers opened #2651 "I've never really liked the Yaru icon for Transmission"
I don't think it's a bad icon at all but it doesn't really "pop" off the screen - the red looks quite muted on the grey - and also it's quite a liberal interpretation of the default Transmission icon.  This is what we've got:

![image](https://user-images.githubusercontent.com/38893390/107881966-b5fd3f00-6ede-11eb-8b92-ac4cf05d0b4a.png)

Whereas this is the official Transmission logo:

![image](ht

[2021-02-14 16:20] Feichtmeier commented on #2651
That looks pretty cool right away! :gun: :+1:

[2021-02-14 17:33] Muqtxdir opened #2652 "toggle-switches in gtk theme require change to follow gnome-shell theme"
hi,

I have been trying the newly refined dark-shell theme by @Feichtmeier, really liking it and it improves on the previous gnome-shell theme. While using it I noticed that the toggle-switch used in gnome-shell theme has a white-ish slider (this is much better than dark-previous one)

If it's supposed to be like this, it got me wondering that the toggle-switches in gtk dark-theme would look bette

[2021-02-14 17:42] Feichtmeier commented on #2652
Yes the shell is now looking different than the gtk theme popovers and the switches. I think this is okay since the shell is now using  more of a OSD look like the volume OSD etc
But I do like the white knobs much more so if the rest is okay I can align them. Eventually we could also make the gtk theme darker. But I don't think that the shell needs to look like the gtk theme

[2021-02-14 17:48] Muqtxdir commented on #2652
Fingers crossed 🤞 for whenever this lands into gtk dark-theme

I am onboard with this but I think this would require opinion of others as well, and comes close to this discussion #2644

[2021-02-14 17:58] Jupi007 commented on #2651
Looks great 👍

[2021-02-15 10:14] Feichtmeier commented on #2630
@jhenstridge yes

[code]

this is some months older than what is in master.

I have no idea if gtk changed something with SVGs in the past gtk3 versions.

But I did the folllowing in focal:

- cloned yaru, copied the built Suru icon folder over to /usr/share/icons, and renamed  it to Yaru
- Now I have the exact same problem in the gtkfilechoser spawned from the vscode classic snap that I had in gr

[2021-02-15 10:19] Jupi007 commented on #2630
We had rebuilt all symbolics when @clobrano did the new script (#2419 and #2474).

[2021-02-15 10:31] Jupi007 commented on #2630
I looked at groovy and focal branches and none of these PRs have been merged into these.

[2021-02-15 11:35] #2651 closed

[2021-02-15 13:52] Feichtmeier commented on #2652
@Muqtxdir
Darkening the gtk theme and aligning menu and popover borders would look like this:
![Screenshot from 2021-02-15 14-47-57](https://user-images.githubusercontent.com/15329494/107954972-78abb680-6f9d-11eb-9f07-c50db0160dc2.png)
![Screenshot from 2021-02-15 14-47-26](https://user-images.githubusercontent.com/15329494/107954976-79444d00-6f9d-11eb-832c-12a26ddc7abb.png)
![Screenshot from 2021

[2021-02-15 14:34] Feichtmeier commented on #2652
Okay this was maybe a little bit too dark. This could be closer to the spot:
![grafik](https://user-images.githubusercontent.com/15329494/107959076-2e2d3880-6fa3-11eb-95fa-4e7d3e6da9f2.png)

On topic of the switch handles, the shell sliders are not so big though. So I would keep them like they are and also keep the gtk sliders like they are.

[2021-02-15 15:53] Muqtxdir commented on #2652
wow! this looks fantastic in screenshots 😃

[2021-02-16 06:29] jhenstridge commented on #2630
@Feichtmeier: I kicked off a pipeline build of gtk-common-themes just now, and set it to perform monthly builds even if there are no changes in the repo.  It looks like Ken disabled the CI from publishing to the edge channel some time ago, and I'm not sure why.  So for now, the rebuilt snap is only available as a CI artifact here:

https://gitlab.gnome.org/Community/Ubuntu/gtk-common-themes/-/jobs

[2021-02-16 07:26] Muqtxdir commented on #2630
thinking about this, the **inkscape** version from **focal** (inkscape ver: 0.92) to **groovy**(inkscape ver: 1.0.1) was changed which brought many changes. @Jupi007 maybe we should compare SVG(s) created using from both the versions?

[2021-02-16 07:37] didrocks commented on #584
I think this is a discussion that should include as well the design team and takes a decision there.
I didn’t see anything that changed in the Shell design which would modify this statement and agreement with GNOME design team, but maybe there is?

[2021-02-16 07:52] Feichtmeier commented on #584
There is a discussion happening on gnome gitlab about replacing activities with an icon.
Sure we could wait until this all happened upstream. Alternatively if we see the wind blowing in this direction we could eventually use the CoF pill already 0:)

[2021-02-16 08:53] didrocks commented on #584
:+1:

[2021-02-16 09:39] Feichtmeier commented on #2630
After trying the local override of /usr/share/icons/Yaru yesterday my hopes are low that this is connected to gtk-common-themes, but thank you very much for the work!

Yep, this doesn't change anything
![image](https://user-images.githubusercontent.com/15329494/108044611-c5959880-7042-11eb-9f84-86fd1e295321.png)

Aren't classic snaps independent of gtk-common-themes?

Maybe the filechoser populate

[2021-02-16 09:42] Feichtmeier commented on #2630
Ah yes, and the filechoser populated from firefox snap doesn't have this problem with yaru
![image](https://user-images.githubusercontent.com/15329494/108045341-a4817780-7043-11eb-829c-21321e862dc2.png)

So maybe we've updated something in our SVGs which is not compatible with the older gtk3 version used in the filechoser populated from the classic vscode snap

[2021-02-16 09:51] jhenstridge commented on #2630
Classic snaps run against the host system mount namespace.  They are often linked using an RPATH to prefer libraries distributed with the snap though, so I would not be surprised if VSCode was running against an older GTK.

I guess one thing to check would be to see if the current version of Yaru renders correctly when installed on an Ubuntu 18.04 system.

[2021-02-16 09:53] Jupi007 commented on #2630
If you look at Svg code:
- Master: https://github.com/ubuntu/yaru/blame/master/icons/Suru/scalable/places/user-desktop-symbolic.svg
- And focal: https://github.com/ubuntu/yaru/blame/ubuntu/focal/icons/Suru/scalable/places/user-desktop-symbolic.svg

it is clearly more refined on master ^^

[2021-02-16 11:17] trwired commented on #2635
Humanity still seems to be used as a fallback for quite many icons, among them actions and mimetypes. For example if you run Audacious in stock Ubuntu, most of the icons shown in the application's default UI will come from Humanity.

[2021-02-16 12:06] Jupi007 commented on #2630
@jhenstridge

Bingo, you're right!

18.04 using master icons:

![1](https://user-images.githubusercontent.com/36476595/108060528-48285300-7057-11eb-97f0-19c124502e6d.png)

18.04  using focal or groovy icons:

![2](https://user-images.githubusercontent.com/36476595/108060605-61c99a80-7057-11eb-95cb-c0477b6a7543.png)

Off topic but 18.04 is just like "Back to the Future" ^^

[2021-02-16 12:49] jhenstridge commented on #2630
The master versions of the SVGs have gone to extremes of whitespace removal in the paths (e.g. `c-1.258.015-2.179-.03-2.931.385`).  It might be worth manually editing the spaces back into the path to see if that renders correctly on 18.04 (i.e `c -1.258 .015 -2.179 -.03 -2.931 .385`).

I wouldn't be surprised if there are some bugs in the parsing of run-on decimals in the older versions of librsvg

[2021-02-16 13:02] jhenstridge commented on #2630
In particular, Bionic has librsvg 2.40.x, which was the last release before the conversion of the library to Rust.  So there is an entirely different path parser in newer releases.  So I'd definitely try less aggressive minification.

[2021-02-16 13:02] Jupi007 commented on #2630
I think you're right again @jhenstridge
I tried to add spaces on minimized version and it works.
I think we should configure the script to not extremely remove white spaces.
@clobrano as you did the refresh version of this script, can you have a look to this?

[2021-02-16 13:52] clobrano commented on #2630
I don't remember changing the script except to use inkscape 1.0, so I wonder if the new behaviour is due to inkscape. I'll have a look

[2021-02-16 14:08] ubuntujaggers commented on #2630
Excellent diagnosis, @jhenstridge!!

I don't believe our script is at fault because the same issue affects some Adwaita symbols:

![adwaita](https://user-images.githubusercontent.com/38893390/108073795-5b8bec00-7060-11eb-8d62-a401cbf2de51.png)

So likely to be a change that Inkscape introduced which the SVG libs don't like.

[2021-02-16 15:21] jhenstridge commented on #2630
@clobrano: it looks like the output is customisable in Inkscape's preferences.  Switching the path string format to something other than optimised will probably result in images that librsvg 2.40 can render:

![image](https://user-images.githubusercontent.com/12724165/108082597-3bcee500-70ad-11eb-9471-0c731d64abed.png)

[2021-02-16 15:34] clobrano commented on #2630
That's a good finding. I wonder if we can set this by CLI, because our script use inkscape this way

[2021-02-16 16:21] Jupi007 commented on #2630
In fact the script just copy and optimize SVGs. It doesn't use Inkscape at all.
I'm sure it is caused by svgo because source SVG (/src) are not affected while those optimized yes.
It is even visible into nautilus previews:

![1](https://user-images.githubusercontent.com/36476595/108090848-643deb80-707b-11eb-9a23-c3c5a07268f0.png)
![2](https://user-images.githubusercontent.com/36476595/108090853-64

[2021-02-16 16:27] clobrano commented on #2630
I just double checked, the Optimized option is the default, so it might be indeed the case.

I do, but also https://github.com/ubuntu/yaru/pull/2419#issuecomment-711232689 -> do you think the missing trim is the root cause?

[2021-02-16 16:27] Jupi007 commented on #2630
There is a bug about this https://github.com/svg/svgo/issues/1317

[2021-02-16 16:45] Jupi007 commented on #2630
Using scour instead of svgo:

![1](https://user-images.githubusercontent.com/36476595/108093974-9b61cc00-707e-11eb-9db0-dc652abb504c.png)

I pushed a branch: https://github.com/ubuntu/yaru/tree/svg-scour

[2021-02-16 16:48] clobrano commented on #2630
I mean, I still didn't change the process :D
Was svgo the problem, then?

[2021-02-16 18:11] #2630 closed

[2021-02-17 11:26] Feichtmeier commented on #2579
Does not happen on master:
![grafik](https://user-images.githubusercontent.com/15329494/108198003-5d66b580-711b-11eb-9ef8-25c2163f427e.png)

[2021-02-17 11:35] Feichtmeier commented on #2652
I am still thinking what to do with this.
I think it would be the best to align the shell to the gtk sliders again. This bright slider just pops out too much in gtk

[2021-02-17 15:08] speltriao commented on #2078
Hello. I made a .CSS specific file for Budgie-Desktop and Yaru-Dark (since it's the only version that I use).
Here's the link: https://github.com/speltriao/Yaru-Dark-Budgie-theme

Note that I'm not a designer by any means, and only know the basics of CSS. This file is basead on Marwaita Ubuntu, but with Yaru's specific colors and flat design.

I think that it should be revised (since it's an amate

[2021-02-17 20:18] elioqoshi commented on #2652
How about using a slightly brighter slider than the original darker gray used in gtk? I agree the bright slider pops out too much (imagine having a completely black slider on a light theme).

Eventually a brighter aubergine might help with adding contrast here as well (I assume this aubergine is an Ubuntu brand colour).

I could give it a go and do a few mockups experiments tomorrow if you like so

[2021-02-17 21:04] Feichtmeier commented on #2652
Thanks @elioqoshi will sort this one next out after we've settled down a good solution for the darker dark gtk theme :smile_cat:

[2021-02-18 05:05] lekegf opened #2666 "The color of the sidebar in Files is orange instead of gray"
**Expected Behavior**

To see the gray color on sidebar in Files, following the Adwaita approach.

**Actual Behavior**

There's the orange color instead, in both active and non-active windows.

**Steps to Reproduce the Problem**

1. Open nautilus
2. Spot at the sidebar to see the orange color
3. Change the theme to Adwaita to see the difference

**Software that presents the issue**

- Files
- OS v

[2021-02-18 06:40] Feichtmeier commented on #2666
Hi there.. I'm very much thinking the same.
And I've brought this up many times. We've even had grey sidebars in master for some time before the upstream rebase.

But I disagree that we should only make the Nautilus sidebars gray. If we do gray sidebars again it needs to be for all sidebars. And as far as I know that's the case in gtk4 sidebars and the only reason why it's still blue in Gtk3 is la

[2021-02-18 06:52] Feichtmeier commented on #2666
CC @waynecrosby

[2021-02-18 10:59] Feichtmeier opened #2667 "gnome-shell 40: process changes to yaru"
- [ ] wait for gnome-shell 40 to land in Ubuntu (probably 21.10)
- [x] copy+paste scss code from upstream->src
- [x] reapply the Yaru redesign

[2021-02-18 11:14] elioqoshi commented on #2666
We should not rush into this I'd suggest. It's a pretty impactful change and we should consider it well and do a few proposals before deciding. These are what I noticed:

- The active item background colour is definitely a branding decision in Ubuntu, it emphasizes to the user that this is Ubuntu (similar to how the Terminal background is a dark aubergine).
- The Ubuntu orange has potentially acce

[2021-02-18 11:27] Feichtmeier commented on #2666
@elioqoshi I agree

I would appreciate some mock-ups
And/or getting inspired by thise thread and nice ideas by @madsrh
https://discourse.ubuntu.com/t/design-mockups-updates-designer-only/2053/7
https://discourse.ubuntu.com/t/design-mockups-updates-designer-only/2053/8
![](https://ubuntucommunity.s3.dualstack.us-east-2.amazonaws.com/original/1X/0132301217ad5cae2bdf468de55b693ef5e302d4.jpg)
![](http

[2021-02-18 13:47] Feichtmeier opened #2668 "Icons: libre office app icons could be improved"
This is how they look in yaru
![grafik](https://user-images.githubusercontent.com/15329494/108365758-dc312080-71f7-11eb-881b-3083888d040c.png)

and this is how they look without yaru
![grafik](https://user-images.githubusercontent.com/15329494/108365916-0edb1900-71f8-11eb-8e27-44d0a590ed62.png)

Though the idea of yaru-fying the baseplate is great, the mix with the inside symbols looks a bit incon

[2021-02-18 15:34] elioqoshi commented on #2666
@Feichtmeier These look great! However the legibility is being compromised for aesthetics which is not ideal. It could work with more contrastful text labels though. The green is also too light for white text to be read properly.

If Gtk4 moved away from full highlights on the side bar items, we might want to do that too? That creates some nice compromise between branding and legibility.

Quick mo

[2021-02-18 15:50] Feichtmeier commented on #2666
I like this very much - if you get  go from the branding department (if you aren't this department yourself :D) I can create a pull request for this

[2021-02-18 15:56] elioqoshi commented on #2666
We should probably have @waynecrosby have a look at it :)

[2021-02-18 16:01] Feichtmeier commented on #2666
I'll set up a test branch later - aubergine for dark sounds like a good idea, or darken the orange more

[2021-02-18 16:01] elioqoshi commented on #2668
I could have a go at this. Do we have the source files of the icons handy?

[2021-02-18 16:03] elioqoshi commented on #2666
There is no darker orange in Ubuntus brand palette: https://design.ubuntu.com/brand/colour-palette/#tints
A darker orange would end up being muddy and not really orange anymore. That's the issue with yellow and orange...

It's an issue I raised on various other Ubuntu things and we have no solution yet.

[2021-02-18 16:27] Muqtxdir commented on #2668
Sure we do have them, the source files are placed under /icons/src/apps

[2021-02-18 16:34] elioqoshi commented on #2668
Thanks! I am not familiar with the project structure yet :)

[2021-02-18 17:07] elioqoshi commented on #2668
Here is a quick sketch where I made everything a bit fluffier basically. Might not be perfect but probably closer to the current Yaru style?

![image](https://user-images.githubusercontent.com/5436686/108393682-2c1de080-7214-11eb-80be-1e64d9e9741f.png)

[2021-02-18 17:22] elioqoshi commented on #2668
What if we do some colour corrections? I find it to be confusing when you are looking for Calc and there are other colours present. Similar to Draw, it is very close to the Impress colour (original LibreOffice Draw is a brighter yellow).

Here is another proposal building on this:

![image](https://user-images.githubusercontent.com/5436686/108395544-304afd80-7216-11eb-9c4a-abe713cce58d.png)

[2021-02-18 17:31] Muqtxdir commented on #2668
wow, these new sketches are so fine-tuned

[2021-02-18 17:42] Feichtmeier commented on #2668
I like both the form changed to be more round and the colours to be unified. The different colours in the icons was probably also what made it a little bit chaotic for me.
Really cool :+1:

[2021-02-18 18:09] Feichtmeier commented on #2666
@elioqoshi there is one problem with using purple as the primary accent color for the gtk dark theme: the shell. If we go for purpler, the shell accents remain orange, or if we go for purple in the shell it would be inconsistent with the two light gtk themes : /

[2021-02-18 19:10] ubuntujaggers opened #2669 ""Legacy icons" aren't Free Desktop compliant or done properly"
We've got a lot of legacy colour icons which look pretty good, but I think we need to pause and do them properly (I'm not including the LibreOffice icons because those exist in their own sort of bubble).

The icons in question don't get exported from Src like our other colour icons because they're not the same sizes (22px is one that gets used).  Also there are duplicate icons instead of symlinks.

[2021-02-18 19:12] ubuntujaggers commented on #2668
No objection from me - I was happy with the current icons but these look like improvements :)

[2021-02-18 19:25] Feichtmeier commented on #2669
@ubuntujaggers totally agree. This would be nice. I try to help you with the script.

[2021-02-18 19:42] Feichtmeier commented on #2669
Looked over the script, actions is already part of the dir array and the subdirs paths are created if they do not exist and the subdir names are created

[2021-02-18 19:43] ubuntujaggers commented on #2669
Can it handle additional sizes (e.g. 22px)?

[2021-02-18 19:45] ubuntujaggers commented on #2669
Actually I think it will, remember when it was automatically making folders for stuff like 47.98687667 because the template wasn't quite right? I think it just exports what it finds, I'll try.

[2021-02-18 19:52] Feichtmeier commented on #2669
I think it's based on the layers but will check again

[2021-02-18 20:50] Jupi007 commented on #2669
I agree in all points with you @ubuntujaggers
If you need more help, feel free to ask.

About design: will "actions" icons being flat or are we going to do them in full Yaru style at all sizes?

[2021-02-18 21:24] ubuntujaggers commented on #2669
I think we should definitely keep them flat at 16px at least

[2021-02-18 21:30] Feichtmeier commented on #2669
I would even start with the flat style at 22px
Those highlights and shadows lose their purpose at those tiny sizes in my opinion

[2021-02-18 23:08] Feichtmeier commented on #2526
Fixed with #2628
Except the separators

[2021-02-18 23:08] #2526 closed

[2021-02-19 09:53] elioqoshi commented on #2668
Great! I will try to have a look and tweak the smaller resolution icons as well

[2021-02-19 10:15] elioqoshi commented on #2669
Agreed. On such small sizes flat icons will have better legibility.

[2021-02-19 12:17] elioqoshi commented on #2668
Here is a first draft of Calc. I tried to not alter the smaller resolution round corners too much as I don't think they will be noticeable on these small sizes anymore and anti-alias might make them worse. We might need to some testing on how these look in production.

![image](https://user-images.githubusercontent.com/5436686/108503512-cb92b000-72b4-11eb-8cea-0340db0cc567.png)

[2021-02-19 15:41] Feichtmeier commented on #2666
@elioqoshi I didn't manage to round up the edges of this little orange bar, but this is possible:

![image](https://user-images.githubusercontent.com/15329494/108525796-c6435e80-72d0-11eb-9eeb-069724a02f6e.png)
![image](https://user-images.githubusercontent.com/15329494/108525947-e3782d00-72d0-11eb-9487-6b66c59a4791.png)

or without the little space at the left
![image](https://user-images.githubu

[2021-02-19 16:02] Feichtmeier commented on #2666
better backdrop + treeview selection

![Screenshot from 2021-02-19 17-00-52](https://user-images.githubusercontent.com/15329494/108528896-330c2800-72d4-11eb-95f5-badd281474c8.png)

[2021-02-19 16:05] Jupi007 commented on #2666
I love this design.
Personally I prefer without padding-left.

[2021-02-20 13:07] Jupi007 commented on #2669
@ubuntujaggers If you want to add a new size to an icon, you just need to add a new baseplate (duplicated an existent one is the simpler way) with, for example, the **inkscape:label="22x22"** attribute:

![1](https://user-images.githubusercontent.com/36476595/108596341-b7b67f00-7384-11eb-8f16-078d8b13eb74.png)

[2021-02-20 13:28] Amr-Ibra commented on #2669
A comment on the "legacy" naming: it came originally from upstream GNOME Adwaita because they wanted to deprecate the coloured action icons and replace them with symbolic action icons in their native apps, and let third-party apps either use the symbolic action icons or ship their own coloured action icons. However, that hasn't really taken off because until this day a lot off third-party apps sti

[2021-02-20 13:59] Amr-Ibra commented on #2635
Humanity is used by all apps that require coloured action icons that don't exist in Yaru, and by some old apps like the Synaptic package manager. If Humanity is not installed, Adwaita will be used if installed. If Adwaita is not installed, the apps would look broken.

I don't recommend inheriting from Adwaita because their coloured action icons, in my opinion, look worse than Humanity and are basi

[2021-02-20 19:28] elioqoshi commented on #2666
Same! The paddingless version looks great!

[2021-02-20 20:20] Feichtmeier commented on #2666
Nice!
Are the branding guys okay with this? :)

[2021-02-21 15:15] meetdilip opened #2674 "Plymouth help"
hello,  in 20.04 Plymouth, I see

throbber.svg,
throbber-0001 to 0030 and
animation-0001 to 0036

It would be nice to know what they do. I assume that throbber 1-30 PNGs is the rotation steps and if we replace it with our own, it should work.

What does animation 1-36 PNGs do ? It looks like steps of opacity

Also, what is the purpose of throbber.svg . Is there anything we need to be careful about

[2021-02-21 15:40] Feichtmeier commented on #2674
Hi @meetdilip
Yeah I've spent some fun time to rotate that dozens of spinners for 20.04
The repo is in  freed desktop gitlab
Let me find it

You need both spinner and throbbed, don't remember why xD

[2021-02-22 08:26] Feichtmeier commented on #2674
@meetdilip here it is: https://gitlab.freedesktop.org/Feichtmeier/plymouth/-/tree/master/themes/spinner

[2021-02-22 08:26] #2674 closed

[2021-02-22 09:49] elioqoshi commented on #2666
@Feichtmeier we should get an update today :)

[2021-02-22 11:41] meetdilip commented on #2674
Hi, I blindly replaced the throbber images and could get nice results. But when I rotate a square there is some colour bleeding around the corners. But I have no idea what throbber.png and animation-0 to36 do. I ask because there seem some parts where only the Ubuntu logo is there in custom Plymouth, but in default, there used to be the spinner.

[2021-02-22 12:16] waynecrosby commented on #2666
@Feichtmeier @madsrh @elioqoshi The no padding visuals look great, they are a lot more subtle than the previous highlights used and echo the 'selected' pattern we use in some of our web apps and across the web. I'm happy with them as long as we're sure the contrast is strong enough.
Also, on the dark mode version, can we echo what is used on the light version, so knock back the selected text and u

[2021-02-22 13:11] elioqoshi commented on #2666
@waynecrosby That generally is a good direction, I just am wary that the contrast ratio here is too low. We should strive for 4.5 while it's 3.93 here.

![image](https://user-images.githubusercontent.com/5436686/108712886-ba95a900-7517-11eb-8672-b5f1c738b2e7.png)

Having the text slightly lighter or the backdrop slightly darker (or a combination of them) should do the trick. We need to also make s

[2021-02-22 13:23] Feichtmeier commented on #2666
Created a pull request to test :) Let's swap over everyone

[2021-02-22 15:35] #2408 closed

[2021-02-22 15:35] #2666 closed

[2021-02-23 08:39] Feichtmeier commented on #2524
Some observations to this:
- the light theme has the same problem
- this happens when you have a running gnome shell session which was previously connected to a 1920x1080 screen, hibernate resume and connect to a 4k screen
- restarting the shell fixes this issue
- happens also with vanilla gnome

[2021-02-23 13:36] #2644 closed

[2021-02-23 13:40] Feichtmeier commented on #2635
Ok - let's just continue to fill the gabs with Humanity until we've successfully replaced all free desktop icons with Yaru icons.
See #2669

[2021-02-23 13:40] #2635 closed

[2021-02-23 13:45] Feichtmeier commented on #2539
Tagged on launchpad as opinion, since we agreed on keeping our app notification design for now.

[2021-02-23 13:45] #2539 closed

[2021-02-23 18:01] Feichtmeier commented on #2674
The throbber is the spinner that always looks the same. But at some point, when the system is about to boot the animation is loaded which has a little fade out at the end

[2021-02-24 00:51] meetdilip commented on #2674
Thanks. throbber.SVG, does it have any specific function ?

[2021-02-26 18:31] Steve-God opened #2680 "ubuntu startx error"
X.Org X Server 1.19.6
Release Date: 2017-12-20
[  1285.878] X Protocol Version 11, Revision 0
[  1285.878] Build Operating System: Linux 4.15.0-124-generic x86_64 Ubuntu
[  1285.878] Current Operating System: Linux ubuntu 4.4.0-87-generic #110-Ubuntu SMP Tue Jul 18 12:55:35 UTC 2017 x86_64
[  1285.878] Kernel command line: BOOT_IMAGE=/boot/vmlinuz-4.4.0-87-generic root=UUID=535b2e54-2659-4d31-904f

[2021-02-26 18:38] Feichtmeier commented on #2680
Hello @Steve-God
Why do you think your startx error is related to yaru?

[2021-02-26 20:45] Steve-God commented on #2680
This is my log，I don't know where I was wrong.

[2021-02-26 20:48] Steve-God commented on #2680
I think it should be the monitor

[2021-02-26 21:46] Feichtmeier commented on #2680
Okay, thanks for contributing to the yaru project, but this is not the operating system Ubuntu issue reporting site, we only make the Ubuntu looks. Best would be if you go to https://bugs.launchpad.net/ubuntu/+source/xorg-server
Closing is issue as it is not related to yaru

[2021-02-26 21:46] #2680 closed

[2021-02-27 06:20] Steve-God commented on #2680
okay，thank you

[2021-02-28 10:31] UltraBurstXD opened #2681 "Opnion: Could we get a more lively color than purple?"
Hello,
It may seem off-topic or radical to talk about the current color (Purple) chosen since 20.04, I think there was a great reason for such change. But for the sake of aesthetic could we get a more suitable color for both dark and light theme? I mean, a more lively color that attracts attention by it's beauty intensity?

[2021-02-28 10:36] #2681 closed

[2021-02-28 15:02] kothekarswaraj opened #2686 "hand cursor is white which doesn't match with other forms"

[2021-02-28 16:53] Feichtmeier commented on #2686
@madsrh and @ubuntujaggers could you explain why we ended with the white hand?

[2021-02-28 21:09] madsrh commented on #2686
@kothekarswaraj could you elaborate what you mean by "forms"?

If you're referring to the black pointer and white hand cursor, we've discussed this earlier:

[2021-03-01 08:16] #2686 closed

[2021-03-04 08:49] Feichtmeier commented on #2652
@elioqoshi could you give me a good color tip for the slider handles? I would like to get this done today before UI freeze

[2021-03-04 09:08] elioqoshi commented on #2652
@Feichtmeier are you referring to instances like this?
![image](https://user-images.githubusercontent.com/5436686/109939498-6a65d600-7cd1-11eb-929b-65c3e744c60f.png)

Could you show me a few examples where else these would appear?

[2021-03-04 09:10] Feichtmeier commented on #2652
Basically only there in the shell and in the calendar with that switch. Switches are assets, sliders CSS. But I can colour both as we wish. I like the idea of bringing gtk and shell sliders closer together but I'm not sure which darkened white you like

[2021-03-04 09:35] elioqoshi commented on #2652
Got it. I will check a bit later today with a few thoughts.

[2021-03-04 14:34] elioqoshi commented on #2652
@Feichtmeier

Here is what I'd suggest:

![image](https://user-images.githubusercontent.com/5436686/109979124-d6126800-7cfe-11eb-9cdc-4d7d7e3f859f.png)

The colour of the slider background would be Light Aubergine 80% and the slider button Warm Gray.
These are all Ubuntu brand colours:
https://design.ubuntu.com/brand/colour-palette/#tints

What do you think?

[2021-03-04 15:30] Feichtmeier commented on #2652
Really cool idea, like this very much.
Needed to lighten it up for the light theme a bit though, hope this was okay?
![Screenshot from 2021-03-04 16-16-01](https://user-images.githubusercontent.com/15329494/109985418-05c46e80-7d05-11eb-91d4-e6c8a0c9e87e.png)
![Screenshot from 2021-03-04 16-29-28](https://user-images.githubusercontent.com/15329494/109987325-d151b200-7d06-11eb-866e-68d346bc2a0a.png)

[2021-03-04 15:59] elioqoshi commented on #2652
@Feichtmeier Great!

For the light theme feel free to get any of the warm gray colors on the bright side:

![image](https://user-images.githubusercontent.com/5436686/109991796-f0524300-7d0a-11eb-961e-8de3187ce7ce.png)

Maybe around 20%?

[2021-03-04 16:11] Feichtmeier commented on #2652
Hmmm, I would stick to white for the light theme if this is okay. I think they need to pop out here

[2021-03-04 17:05] Feichtmeier commented on #2652
But this reminds me that we should update the palette to match the canonical palette. This mish mash we currently have annoys me since some time :D But not for now, maybe next cycle

[2021-03-04 18:08] madsrh commented on #2652
Your mockup looks great @elioqoshi, but the colors seems a bit different from the screenshots by @Feichtmeier 🤷‍♂️
Could we land on something in between the current and the suggested?

For the slider: I agree that the 80% aubergine looks better than the current pale washed out aubergine, but we made it brighter so it would pop out and I think making it that dark isn't great for usability. Somethin

[2021-03-04 18:19] Feichtmeier commented on #2652
@madsrh when you say lighter than `#77216F` do you mean more saturated or actually lighter?
http://scg.ar-ch.org/
You can play there a bit
![grafik](https://user-images.githubusercontent.com/15329494/110010389-89d72000-7d1e-11eb-87d9-bc4cb0889632.png)
![grafik](https://user-images.githubusercontent.com/15329494/110010422-9196c480-7d1e-11eb-91ce-894bf46bbef3.png)

[2021-03-04 19:21] Jupi007 commented on #2652
I have two suggestions:
- Maybe use a less saturated purple? I think the color `#aa5a94` from @elioqoshi mockup looks perfect.
- Also, the slide handle on dark theme is too dark. IMO that grey doesn't contrast enough with the background.

Anyway, that will be a good improvement 👍

[2021-03-05 09:16] Feichtmeier commented on #2652
I try to get closer to the purple today @madsrh @Jupi007
But I have my veto on changing that warm gray 😸  I think it looks fantastic and would like to keep it if you are okay with this?!

[2021-03-05 09:19] elioqoshi commented on #2652
I don't think that's an issue at all. The contrast is very high for legibility and accessibility purposes. You also don't want sharp black/white contrast on dark theme so softening it with a gray is often a good approach.

[2021-03-05 09:40] madsrh commented on #2652
I haven't had time to play further with the colors @Feichtmeier but I'll say this after viewing this thread on my phone outside (not the most common use case), the purple in your screenshot below isn't visible at all:

https://user-images.githubusercontent.com/15329494/109987325-d151b200-7d06-11eb-866e-68d346bc2a0a.png

[2021-03-05 10:10] Feichtmeier commented on #2652
![Screenshot from 2021-03-05 11-09-02](https://user-images.githubusercontent.com/15329494/110100912-41157a80-7da3-11eb-9d78-73aa9bee525d.png)
This is 5% lighter for the dark theme, is this better @madsrh ?
I also need to fix both the gtk <) asset and the shell switch assets after we've decided here

[2021-03-05 10:12] Feichtmeier commented on #2652
Sorry now with refreshed gtk as well:
![Screenshot from 2021-03-05 11-11-40](https://user-images.githubusercontent.com/15329494/110101246-9a7da980-7da3-11eb-82a3-d996e97ebf0b.png)

[2021-03-05 10:36] madsrh commented on #2652
@Feichtmeier I am very happy with this suggestion 👍 Is this okay for you @elioqoshi ?

@clobrano raised the concern of allow different tones of color, rather than using the same everywhere. I think we have to tweak the color in some places. Anyway, I just wanted to bring it up, so this is a deliberate decision.

[2021-03-05 10:42] elioqoshi commented on #2652
This looks great to me too!

[2021-03-05 11:01] Feichtmeier commented on #2583
I think this one has become irrelevant since Yaru MATE does not use the "default" /mixed theme anymore

[2021-03-05 11:25] madsrh commented on #2583
They move so fast in the Mate camp ☺️ This issue is also 3 months old. I'll download the daily image and test again this weekend. Thanks for looking at this @Feichtmeier

[2021-03-05 11:55] Jupi007 commented on #2652
@Feichtmeier I just tested your PR. I think it's perfect.
Current dark theme color scheme is very sad 😅

You're right @elioqoshi.
My previous opinion was only based only on the screenshot. In fact, those grey slide handle look very good in action and there's no contrast problem ^^

[2021-03-05 12:26] flexiondotorg commented on #2585
These "symbolic" icons are shared between the old AMbiant/Radiant themes and Yaru MATE. Next cycle, 21.10, we can make sure those icons integrate with Yaru MATE.

[2021-03-05 12:28] flexiondotorg commented on #2577
This can be closed, the Advanced MATE Menu is deprecated and not shipped by default since Hirsute.

[2021-03-05 12:30] flexiondotorg commented on #2583
@Feichtmeier I think we should re-open this as there is no contract in the task list between active and inactive apps.

[2021-03-05 12:31] #2577 closed

[2021-03-05 17:47] #2652 closed

[2021-03-06 09:04] Feichtmeier opened #2695 "New power mode icons in GCC"
power-profile-balanced-symbolic.svg power-profile-performance-symbolic.svg power-profile-power-saver-symbolic.svg are new icons in gnome control Center

Would be nice to get them in for hirsute
CC @Jupi007 @ubuntujaggers

![IMG_20210306_100319_862.jpg](https://user-images.githubusercontent.com/15329494/110201410-34f0f200-7e63-11eb-95c8-46fe78371d58.jpg)

[2021-03-06 10:52] Feichtmeier commented on #2227
Still relevant for the light theme(s)

[2021-03-06 11:28] #2227 closed

[2021-03-06 12:34] madsrh opened #2697 "Missing line spacing in Ubiquity"
Let's fix this if Ubiquity stays for another LTS release - it's currently marked as _low priority_ since a new installer is coming 🤞
On this "page" in the install, the lines could use a bit more space:

![image](https://user-images.githubusercontent.com/3986894/110206753-f87fbf00-7e7f-11eb-8fc9-9634c54267fd.png)

In comparison, here's a screenshot with the normal spacing:

![image](https://user-im

[2021-03-06 13:16] madsrh opened #2698 "Avatar / circle size"
![image](https://user-images.githubusercontent.com/3986894/110207710-9cb83480-7e85-11eb-8877-c3998021c280.png)

![image](https://user-images.githubusercontent.com/3986894/110207938-6e872480-7e86-11eb-85c8-8113d73f5897.png)

[2021-03-06 13:29] madsrh opened #2699 "Align toggle switches in GTK / Shell"
Is there any chance that we could add a lighter background to the GTK switches like the shell has for the toggle-off state? @Feichtmeier @Jupi007

![image](https://user-images.githubusercontent.com/3986894/110208141-ac387d00-7e87-11eb-9b44-d12d4b2a9df9.png)

[2021-03-06 16:08] Muqtxdir opened #2701 "slider-handle color on yaru-light gnome-shell is incorrect"
Hi,

The slider-handle color in the **Yaru-light** gnome-shell theme is incorrect, it is more dark-ish than being white

#### screenshot:
![2021-03-06_21-37](https://user-images.githubusercontent.com/54065734/110213000-238c0200-7ec4-11eb-9980-088583eb37ab.png)

Thanks!

[2021-03-06 16:22] Muqtxdir commented on #2698
Also happens on Yaru-light gnome-shell theme and it's totally white

### screenshot:
![Screenshot from 2021-03-06 21-49-14](https://user-images.githubusercontent.com/54065734/110213466-2f78c380-7ec6-11eb-8e93-124212111adc.png)

[2021-03-06 17:21] Feichtmeier commented on #2698
uhm, what gnome-shell version is installed? Maybe we missed some upstream change prior to gnome shell 40

[2021-03-06 19:30] Jupi007 commented on #2695
Sorry I did a mistake by pushing directly to master... 😰
@Feichtmeier Can you test? I don't have a laptop so I can't do it by myself.

[2021-03-07 09:08] #2698 closed

[2021-03-07 09:08] #2701 closed

[2021-03-07 09:27] Feichtmeier commented on #2699
![image](https://user-images.githubusercontent.com/15329494/110235329-bf9f2300-7f2f-11eb-9750-d708f3afe4c9.png)
Is this ok?

[2021-03-07 09:30] #2699 closed

[2021-03-07 09:31] madsrh commented on #2699
Perfect @Feichtmeier 🎉🤘👍👌😎👏

[2021-03-07 09:34] Feichtmeier commented on #2699
Cool saw your :tada: before merge ;)
@Jupi007 could you align the gtk4 switches if you have time until 18th?

[2021-03-07 09:39] #2695 closed

[2021-03-07 10:27] Feichtmeier commented on #2668
@elioqoshi you think you could get this in for 21.04? Do you need help on the PR?

[2021-03-07 11:10] Jupi007 commented on #2699
I'll do it 👌

[2021-03-08 01:04] lekegf opened #2709 "KolourPaint icon doesn't match on dock and application overview"
**Expected Behavior**

To see the same icon of KolourPaint in both, dock and application overview.

**Actual Behavior**

It's shown two different icons.

**Steps to Reproduce the Problem**

1. Install KolourPaint
2. Open application overview and look for it. Pay attention to the icon it shows.
3. Open KolourPaint
4. Look to the KolourPaint icon on the dock, and you'll see it's different.

**Softwa

[2021-03-08 01:21] Initu-Castilhos opened #2710 "Create the colorful Education Category icon."
It does not have the colorful Education and Science icon in category, what it does have is the symbolic icon.

Ubuntu-MATE
.

[2021-03-08 12:33] Feichtmeier commented on #2191
Noticed in Gedit that this is also a problem for default Ubuntu:

![grafik](https://user-images.githubusercontent.com/15329494/110322076-dcf8ed80-8012-11eb-96d7-0c422a616050.png)

I think there must be some symlink we've missed
CC @Jupi007 @ubuntujaggers

[2021-03-08 13:30] #2191 closed

[2021-03-08 13:38] Feichtmeier commented on #2709
Hmmm, we do not have a kolour paint icon in our icon set. So, I am pretty sure that Yaru is not the reason of this problem :smile_cat:
Did you install it via snap?

[2021-03-09 10:13] elioqoshi commented on #2668
@Feichtmeier Yeah I think I can give this a go and wrap up the designs this week. Would anyone be able to help out with ensuring the SVG's are correctly aligned?

[2021-03-10 16:16] #2709 closed

[2021-03-10 16:19] Feichtmeier commented on #1544
@Jupi007 if you have time, maybe you could use your github action knowledge to create an action for checking the adwaita icon theme for changes?

[2021-03-10 16:21] Jupi007 commented on #1544
I'll have try 👍

[2021-03-10 20:22] Initu opened #2714 "The category Applications-Science icon is missing."
The applications-science category icon is missing as shown in the image below.
![ubuntu-mate_21 04](https://user-images.githubusercontent.com/25691315/110692491-225d1c80-81c5-11eb-8bc4-fb60d5f760cb.jpeg)
OS: Ubuntu-MATE 21.04

[2021-03-10 22:16] Initu opened #2715 "Wrong corners on no-csd windows."
In the Unity and Cinnamon environments there are rounded corners on the no-csd windows as shown in the image below.
![WhatsApp Image 2021-03-10 at 18 06 30](https://user-images.githubusercontent.com/25691315/110704859-50962880-81d4-11eb-8a1d-db24968dae19.jpeg)
![b1f5f701-0ec8-4574-a0ff-b3b3af74fe66](https://user-images.githubusercontent.com/25691315/110704879-58ee6380-81d4-11eb-8732-c2b05a263cf8.j

[2021-03-10 22:18] Initu opened #2716 "Add Unity theme in Yaru-dark and Yaru-light."
Add Unity theme in Yaru-dark and Yaru-light.

[2021-03-11 07:12] Feichtmeier commented on #2715
Thanks, looks great!
How does this affect gnome apps in mate that feature CSD? I know, looking at the selector it should be fine, but sometimes there are edge cases

[2021-03-11 09:22] Initu-Castilhos commented on #2715
It does not affect anything, in Cinnamon you can see that the gnome-disk application does not affect it.

[2021-03-11 09:39] Feichtmeier commented on #2715
I will push it only to hirsute/mate for now, since this needs testing before we destroy something in default gnome (which is the ubuntu default)
Thank you very much for the fix

[2021-03-11 19:07] Feichtmeier opened #2719 "Shell no notication asset could be yarufied"
Eventually with an outlines version or just something that makes more sense than a bell, since a bell stands for "notifications", isnt it like this?

https://github.com/ubuntu/yaru/blob/master/gnome-shell/src/no-notifications.svg

[2021-03-11 19:31] madsrh commented on #2714
@ubuntujaggers (or @Jupi007) can you draw a full color version of the science symbolic icon?

[2021-03-11 19:37] ubuntujaggers commented on #2714
There was one in #2690 so I'm not sure where it went? Bit of a placeholder icon (and a better match for "Education" than the icon's actual name) but it was there...

[2021-03-11 19:39] Feichtmeier commented on #2714
Uhhh good question
@flexiondotorg what happedn with the precious catergory icons stuart drew? 😢

[2021-03-11 19:44] madsrh opened #2720 "Missing symlink for update-notifier"
![image](https://user-images.githubusercontent.com/3986894/110844619-e64fb780-82a9-11eb-9663-68588dc40712.png)

![image](https://user-images.githubusercontent.com/3986894/110844694-04b5b300-82aa-11eb-8cdf-32adfca140da.png)

[2021-03-13 17:58] #2719 closed

[2021-03-13 18:08] Initu commented on #2715
The compilation did not work, there is a typo. You have to type a dot in front of the word background to work well.
![Captura de tela de 2021-03-13 15-07-28](https://user-images.githubusercontent.com/25691315/111039656-ec5ea900-840d-11eb-9c80-a96c09cfec0b.png)

[2021-03-17 08:32] elioqoshi commented on #2668
Finished:

![image](https://user-images.githubusercontent.com/5436686/111437693-ac484080-8703-11eb-85a7-745a986cde11.png)

[2021-03-17 10:39] coxackie commented on #1816
@Feichtmeier sorry for coming back to this, but is there scope, as you discussed above, to do something with the horrid `code - oss` icon? if not, and one really needs to go through asking permission, could you tell me how I should proceed? Do I open an issue at `vscode` repo and point to this issue? I have asked (comment right above) on what the procedure should be, but I cannot see any guideline

[2021-03-17 11:12] #2668 closed

[2021-03-17 12:01] Feichtmeier commented on #1816
@coxackie I would just try to point out that you do not like their icon and would love if they would make a better icon - or if you have a suggestion include a suggested icon

[2021-03-17 12:37] coxackie commented on #1816
@Feichtmeier Do I understand correctly that, if I ask them whether it is OK to use, for example, the icon in https://github.com/ubuntu/yaru/issues/1816#issuecomment-578907387 in the yaru icon theme and they say ok, then you will include it?

[2021-03-17 12:53] Feichtmeier commented on #1816
If the app devs give their okay we can ask our icon team if they have time to create an icon.
But in opposite to for example spotify or vscode where the real icon looks very good and a yaru icon would only provide consistency to Ubuntu, this codeoss icon would be better provided for all people because it looks really bad. Thus I would not request the icon here, but on their repo and then see if th

[2021-03-17 13:57] coxackie commented on #1816
@Feichtmeier the answer is not complicated, but maybe the approach is not the best one. I feel they may be much more willing to accept yaru shipping a slightly changed icon than changing their icon themselves (even with the help of another team). I would rather propose to them first that yaru ships something like https://github.com/ubuntu/yaru/issues/1816#issuecomment-578907387 and then, if they w

[2021-03-17 21:53] Feichtmeier commented on #2547
Fixed with https://github.com/ubuntu/yaru/pull/2728

[2021-03-17 21:53] #2547 closed

[2021-03-18 09:29] Feichtmeier commented on #2715
Sorry, fixed :)

[2021-03-18 13:08] #2715 closed

[2021-03-18 18:14] 3v1n0 opened #2732 "Make GtkSourceView theme to automatically switch variant"
Not sure if this is feasible at theme level, but leaving it here as it's something we'd expect.

I wanted to make yaru to be the default color scheme for gedit (by setting it in `org.gnome.gedit.preferences.editor scheme`), however, by doing this we've to pick a variant and this will not work well with the Appearance settings were we choose the gtk variant.

So, ideally we'd expose a "Yaru" theme

[2021-03-18 18:16] 3v1n0 commented on #2732
@flexiondotorg maybe you know better about this? :)

[2021-03-18 18:54] Initu-Castilhos commented on #2715
👍🏼

[2021-03-19 12:17] Feichtmeier commented on #2583
Fixed with https://github.com/ubuntu/yaru/commit/75600ef7cf9a9a45cc6c64b8a08066190315b118
(sorry for no PR)
![Peek 2021-03-19 13-16_2](https://user-images.githubusercontent.com/15329494/111778716-69c66580-88b5-11eb-91e7-947a48542bea.gif)
![Peek 2021-03-19 13-16](https://user-images.githubusercontent.com/15329494/111778719-6af79280-88b5-11eb-99b1-349e735b47e9.gif)

[2021-03-19 12:17] #2583 closed

[2021-03-19 12:23] UltraBurstXD opened #2733 "Could we use Yaru cursors packages without installing the theme as whole?"
Hi,
I think it would be helpful if the Yaru cursors was separated from it's main package, because it'd make things easy when porting the cursors to others Linux distros without the need to install the whole theme. Like:

- yaru-theme-gnome-shell: Yaru GNOME Shell desktop theme from the Ubuntu Community
- yaru-theme-gtk: Yaru GTK theme from the Ubuntu Community
- yaru-theme-icon: Yaru icon theme fr

[2021-03-19 12:45] madsrh commented on #2583
Look good 🙂 thank you @Feichtmeier

[2021-03-19 13:29] #2571 closed

[2021-03-19 16:34] fthx opened #2734 "x/y ratio, wrong icons appearance in app grid icons"
Hi,

I do use Ubuntu Focal, here with Ubuntu (X or Wayland) session.
I installed Hirsute's latest 21.04.1 Yaru package. I know it's bad. :-)
But I like very much the changes, especially the black menus instead of white and the huge icons set comparing to 20.04.10.

Well, everything *seems* ok but one thing, in app grid:

![image](https://user-images.githubusercontent.com/23138504/111813189-2aaa0b8

[2021-03-19 16:35] fthx commented on #2734
Note that icons positioning is wrong too in app grid folders:

![image](https://user-images.githubusercontent.com/23138504/111813463-870d2b00-88d9-11eb-9de3-3dbda88221cd.png)

[2021-03-19 17:37] Feichtmeier commented on #2734
Hi there @fthx
You should not install hirsute yaru shell on focal really. It will def. break and so it did :D
The css part is matched to JS parts in the shell and the JS parts change constantly with every gnome shell major release.
Eventually we try to backport the recent design changes to focal, but most likely only when the whole gnome stack would be backported, which is, looking back at previou

[2021-03-19 17:37] #2734 closed

[2021-03-19 20:39] fthx commented on #2734
Ok thanks!
So I use a GNOME session running Yaru 21.04.1 gtk-theme. Seems fine.
:-p

[2021-03-19 21:27] flexiondotorg commented on #2732
AFAIK, the GTK Source View spec has not actually changed since the GTK 2 days and there is no provision to make styles dynamic based on principle colours of the selected GTK theme.

Changing the GTK Source View style for gedit via GNOME settings would be a partial solution.

[2021-03-20 09:22] chrisjbillington commented on #2667
For what it's worth, users of the shell themes on Arch Linux (there are dozens of us!) will be getting GNOME 40 in the coming weeks. This means:

1. unless we're lucky and the theme works as-is, we will sadly have to stop using the Yaru shell themes until this update is done

2. once this update is done, we will help test and report bugs!

[2021-03-20 09:48] Feichtmeier commented on #2667
Eventually, which would be very helpful for us as well, @3v1n0 could create a PPA with gnome 40 for me, then I can work on it before it hits 21.10 daily

[2021-03-21 19:48] #2720 closed

[2021-03-22 10:11] Jupi007 commented on #1544
@Feichtmeier I see to way to do that:
- Use the current Github workflow, but that will need to import a lot of files into this repo.
- Or create a new workflow which will only do a list file of Adwaita icons.

Which one do you prefer?

[2021-03-22 10:14] Feichtmeier commented on #1544
I think the most critical icons are the symbolics and the file name changes. We don't need the whole adwaita icon set
But I don't know if this is checkable in an action
Basically only the "gnome-stencils.svg" file is needed to be checked plus/or the exported symbolic subfolder

[2021-03-22 10:18] Jupi007 commented on #1544
I can try to do an action which list all exported symbolic Adwaita icon. I think it is the best way to have just new files and rename notifications.

[2021-03-23 09:34] Jupi007 opened #2745 "Missing symbolics icons"
# List of missing symbolics icons

**Actions:**

- [x] address-book-new-symbolic.svg
- [x] chat-message-new-symbolic.svg
- [x] document-print-preview-symbolic.svg
- [x] edit-select-symbolic.svg
- [x] help-about-symbolic.svg
- [x] list-remove-all-symbolic.svg
- [x] mail-mark-junk-symbolic.svg
- [x] mail-mark-notjunk-symbolic.svg
- [x] mail-message-new-symbolic.svg
- [x] media-view-subtitles-symboli

[2021-03-23 19:24] Feichtmeier opened #2746 "Login screen button color turns white on white when disabled"
I can't screenshot since the moment is too short and I can not reproduce it in the lock screen because the button is not there then.
But when you login into a new session the white button to the left of the login input turns white on white bg when you are loggin in
This is caused by our modifications here

https://github.com/ubuntu/yaru/blob/4f1d31c5d4de784e9671cadf1303a9ba14f9f0cd/gnome-shell/src

[2021-03-23 21:14] Jupi007 commented on #2746
I'll have a look tomorrow :)

[2021-03-24 03:24] meetdilip opened #2747 "Folder icon"
Hi, do you think we can give some love to the folder icons as we do to other areas of the UI?

I worked on a couple of ideas

![Folder idea](https://user-images.githubusercontent.com/6965443/112249006-ffc70b00-8c7c-11eb-933b-bb2e9cc92ac0.png)

Considering how much orange + purple dominates the existing icon and the UI colour scheme, started with a very basic folder design with these colours. I had

[2021-03-24 14:32] #2746 closed

[2021-03-24 16:47] madsrh commented on #2745
Wow, that was a lot of icons 😳

[2021-03-25 10:23] Feichtmeier commented on #2747
Hi @meetdilip
Thank you very much for your input. I think I can say that we are collectively very happy with the current folder icons.

Why do you want to change it?

[2021-03-25 14:18] meetdilip commented on #2747
Certainly not my request. We all know about icon themes :)

It is only for your consideration, the Yaru team, the wider Ubuntu community and those normal users who keep whatever comes with the default ISO.

[2021-03-25 17:37] Initu commented on #2747
Você pode publicar no Gnome-Look para download?

[2021-03-25 17:41] Feichtmeier commented on #2747
Alright. Thanks for your idea, but we'll pass this one. Thanks for contributing 🐱

[2021-03-25 17:41] #2747 closed

[2021-03-25 18:55] meetdilip commented on #2747
Sure :)

[2021-03-25 19:00] meetdilip commented on #2747
I will try to.

[2021-03-26 17:32] Feichtmeier opened #2750 "Missing Wireless network full color icon"
Papirus
![Bildschirmfoto von 2021-03-26 18-31-31](https://user-images.githubusercontent.com/15329494/112670757-9d7b2f80-8e61-11eb-92a3-c65555830ef5.png)
Yaru
![Bildschirmfoto von 2021-03-26 18-31-18](https://user-images.githubusercontent.com/15329494/112670760-9e13c600-8e61-11eb-9cf1-23e6b53facea.png)

[2021-03-26 17:44] Feichtmeier commented on #2750
CC @ubuntujaggers @Jupi007 if anyone has time :1st_place_medal:

[2021-03-27 16:03] madsrh commented on #2733
I think this is a pretty rare use case and there's nothing for us to gain by separating the package, so I don't see this happening.

If you want you can grab the original repo, but it's not synced with all the new changes: https://github.com/ubuntu/cursor-communitheme

I'll close this issue but it's still open for comments.

[2021-03-27 16:03] #2733 closed

[2021-03-28 19:05] Jupi007 commented on #2750
I found the icon name: `nm-device-wireless`.

What do you think of something like this:

![Capture d’écran du 2021-03-28 21-03-54](https://user-images.githubusercontent.com/36476595/112764498-21235080-9009-11eb-8080-b32aa8fc2b39.png)

About the background I don't know which one to choose. The actual color is the one from Template files.

[2021-03-29 16:37] vitalkanev opened #2752 "Update GNOME Software (and maybe GNOME Web) icon based on new upstream"
I am not using a template so people could discuss stuff I think.

Icon name | Current Yaru icons | New upstream
----|----|----
`webbrowser-app` | ![YaruBrowser](https://user-images.githubusercontent.com/18398761/112866844-eda4fc80-90c2-11eb-9641-8d1c17910acd.png) | ![NuBrowser](https://user-images.githubusercontent.com/18398761/112866926-031a2680-90c3-11eb-8b15-878dcb25e175.png)
`org.gnome.Softwar

[2021-03-29 19:40] ahayzen opened #2753 "[Yaru-Mate-Dark] Selected groups in mate-control-center being misaligned when scrolled"
**Expected Behavior**

For either the background of the control center's groups to follow when you scroll, or for it to be disabled like other themes (eg most other themes just change the header colour).

**Actual Behavior**

When you scroll the view, the background colour remains static so is misaligned.

**Steps to Reproduce the Problem**

1) Open the `mate-control-center`
2) Click on a "group"

[2021-03-29 19:47] ahayzen opened #2754 "[Yaru-MATE-Dark] Sticky notes have dark icons for close and resize"
**Expected Behavior**

For the close and resize icons to be light.

**Actual Behavior**

The close and resize icons were dark, so cannot be seen easily.

**Steps to Reproduce the Problem**

1) Using Yaru-MATE-Dark right click on the panel, select Add to panel
2) Select sticky notes
3) Right click on the notes icon in the panel, select New note
4) Observe that the note has the wrong close and resiz

[2021-03-29 20:02] ahayzen opened #2755 "[Yaru-MATE-Dark] Tilda search bar has incorrect theming"
**Expected Behavior**

For the search bar have a dark background and light foreground.

**Actual Behavior**

Tilda search bar looks wrong with dark theme.

**Steps to Reproduce the Problem**

1) Choose Yaru-MATE-Dark
2) Open MATE Tweak
3) Select the panel page
4) Enable the pull down terminal
5) Press F12 to show pull down terminal
6) Right click on the terminal, select "toggle search bar"
7) Noti

[2021-03-30 10:27] Jupi007 opened #2757 "Missing appointment-soon fullcolor icon"
![Capture d’écran du 2021-03-30 12-26-31](https://user-images.githubusercontent.com/36476595/112974859-399f8200-9153-11eb-9884-deb7c4144a00.png)

[2021-03-30 11:53] #2757 closed

[2021-03-30 12:01] #2750 closed

[2021-03-30 16:06] Feichtmeier commented on #2752
Since those apps are not pre-installed they are not so super important.
But currently we have a nice set of yaru icons for all core gnome apps except those gnome designers explicetly asked us to remove (podcast app for example :shrug: )
Anyways, since the current ones are fine, and we got much to do anyways, I would rather categorize this as low prio or eventually not do this at all. However, if o

[2021-03-30 16:08] Feichtmeier opened #2759 "Missing icon: wine tricks"
We already have a pretty cool icon for wine
![grafik](https://user-images.githubusercontent.com/15329494/113020458-e9d8af00-9182-11eb-8136-ce835605004f.png)

 I think we could complete it with an icon for winte tricks

![grafik](https://user-images.githubusercontent.com/15329494/113020368-d4638500-9182-11eb-9cc9-3c5a1a1809d7.png)

[2021-03-30 20:01] ahayzen opened #2760 "[Yaru-MATE-Light/Dark] Panel show focus highlight around last focused launcher when indicators are selected"
**Expected Behavior**

When indicators are selected, for the last focused launcher not to have a ring around it.

**Actual Behavior**

A green focus ring appears over the last focused launcher.

**Steps to Reproduce the Problem**

1) Launch a default MATE session
2) Click on an indicator on the right side of the top panel
3) Notice that one of the application launchers on the left side will have a

[2021-03-30 23:17] Feichtmeier commented on #2753
Fixed with https://github.com/ubuntu/yaru/commit/606fd814c308ee141b61d68c9a854c2dff8ce287

![image_2021-03-31_01-14-01](https://user-images.githubusercontent.com/15329494/113068599-e06d3800-91be-11eb-98d3-8cd087450251.png)

[2021-03-30 23:17] #2753 closed

[2021-03-30 23:18] Feichtmeier commented on #2754
hi @ahayzen
I wonder are those eventually not covered by our icon theme? they look like pngs or something 🤔

[2021-03-30 23:24] ahayzen commented on #2754
@Feichtmeier Hmm right, looking further into this one, using different themes it seems to be always the same icon. So it might be a bug in stickynotes-applet. I'll see if i can find it in their code to see if a theme can override them or if they are fixed.

[2021-03-30 23:29] ahayzen commented on #2754
@Feichtmeier Looks like it is loaded here
[code]
https://github.com/mate-desktop/mate-applets/blob/72099d70e5bd11bdd505c8e8728ea22feea79307/stickynotes/stickynotes.c#L228

Which is then defined here
[code]
https://github.com/mate-desktop/mate-applets/blob/72099d70e5bd11bdd505c8e8728ea22feea79307/stickynotes/stickynotes_applet.h#L33

Which is just a png
https://github.com/mate-desktop/mate-applets/

[2021-03-30 23:51] Feichtmeier commented on #2754
Wow thanks @ahayzen ! Really helpful
I think we could then make a symlink from our existing symbolic icons to that name

[2021-03-30 23:53] Feichtmeier commented on #2755
Fixed with https://github.com/ubuntu/yaru/commit/6e24881daeaa073da58ae3ba098f7cdb9e4f7a64

![image_2021-03-31_01-49-40](https://user-images.githubusercontent.com/15329494/113070907-f03b4b00-91c3-11eb-8902-22580820f8d4.png)

[2021-03-30 23:53] #2755 closed

[2021-03-30 23:54] Feichtmeier commented on #2760
I can remove the focus for not selected I think if this is wanted

[2021-03-30 23:55] ahayzen commented on #2754
@Feichtmeier That's great to hear!

I see there are the following icons
[code]

I guess that if possible the close and resize ones can come from the theme, but maybe there isn't an icon for lock/unlocked?

Let me know if it turns out not to be possible and I can report an issue in the applet.

[2021-03-30 23:58] ahayzen commented on #2760
@Feichtmeier This one might be best discussed with @flexiondotorg as I can see cases where you might want the focus ring to be shown (eg when using keyboard focus in the panel to launch items) but if this can be improved when you have the indicators selected that might be the solution :-)

[2021-03-31 00:07] ahayzen commented on #2754
The only other thing to note is that you can pick a custom background and text colour for the notes, so then the yellow that is selected by default when you do a custom colour might not look good with white close icons etc.  But then if you picked a dark colour the same would happen with the built-in icons :shrug:

It feels like a more complete fix for this would be if stickynotes-applet used symb

[2021-03-31 08:43] Feichtmeier opened #2761 "Do we need to update purple icons?"
Our purple accent changed to light aubergine, do we need to update this in our purple icons?

![grafik](https://user-images.githubusercontent.com/15329494/113116615-e76f6700-920d-11eb-9c23-d594bdb69966.png)

CC @ubuntujaggers @Jupi007 ?

[2021-03-31 08:48] Feichtmeier opened #2762 "Mate icon: log out symbolic is missing"
![image_2021-03-31_00-21-11](https://user-images.githubusercontent.com/15329494/113117374-a7f54a80-920e-11eb-850a-9467da41bcff.png)

[2021-03-31 09:14] Jupi007 commented on #2761
Here is how it looks (only changed sliders and checks background):

![Capture d’écran de 2021-03-31 11-09-41](https://user-images.githubusercontent.com/36476595/113120273-b5600400-9211-11eb-85d8-621998738e79.png)

Also update "soft and updates" background looks:

![Capture d’écran de 2021-03-31 11-13-04](https://user-images.githubusercontent.com/36476595/113120747-31f2e280-9212-11eb-995d-0e0568fe0

[2021-03-31 09:51] Feichtmeier commented on #2761
I like this change, you too? :D

[2021-03-31 10:29] Jupi007 commented on #2761
Yes, it looks very good!
I'll make a PR.

[2021-03-31 11:43] #2761 closed

[2021-03-31 20:14] github-actions[bot] opened #2764 "LP#1921963 "SRU 3.36.9""
Reported first on Launchpad at https://bugs.launchpad.net/ubuntu/+source/yaru-theme/+bug/1921963

[2021-04-01 07:17] #1544 closed

[2021-04-01 10:04] Feichtmeier commented on #2716
I am not sure what you are refering to? We have our three themes and unity window controls, what do you mean?
https://github.com/ubuntu/yaru/tree/master/gtk/src/default

[2021-04-01 10:12] Feichtmeier opened #2769 "Full color computer icon is missing"
It's mostly visible in mate but also important for master

![grafik](https://user-images.githubusercontent.com/15329494/113279505-7601e800-92e3-11eb-85d6-970ead15796e.png)

[2021-04-01 11:48] Jupi007 commented on #2759
That icon give me hard time 😅

Here is my first try:

![Capture d’écran du 2021-03-31 11-43-07](https://user-images.githubusercontent.com/36476595/113289067-ff1f1c00-92ef-11eb-8285-05e50157c2f4.png)

But it's ... 🤢

I also through to add a star (stared wine is a good wine):

![Capture d’écran du 2021-03-31 11-42-51](https://user-images.githubusercontent.com/36476595/113289172-2d046080-92f0-11eb-92

[2021-04-01 12:22] Feichtmeier commented on #2759
Maybe just a magic hat or stick on a yaru baseplate?

[2021-04-01 17:31] Jupi007 commented on #2759
Thanks @Feichtmeier :)

[2021-04-02 14:30] Initu-Castilhos commented on #2716
Desculpe, não fiz os testes.

[2021-04-02 14:36] Initu-Castilhos opened #2770 "Support theming the xfce desktop"
Create themes for Canela and XFCE and create Yaru-dark icons.

[2021-04-02 15:34] Jupi007 commented on #2759
What do you think of something like this:

![Capture d’écran du 2021-04-02 17-33-42](https://user-images.githubusercontent.com/36476595/113429947-97dd9680-93d9-11eb-905d-852f1a9b7c2a.png)

?

[2021-04-02 17:50] Jupi007 commented on #2769
What do you think of:

![1](https://user-images.githubusercontent.com/36476595/113440355-8c479b00-93ec-11eb-927f-a36bf4878831.png)
![Capture d’écran du 2021-04-02 19-49-17](https://user-images.githubusercontent.com/36476595/113440359-8d78c800-93ec-11eb-8fa1-34ee7511c87e.png)

?

[2021-04-02 18:03] Feichtmeier commented on #2769
The screen looks nice but the keys have something in them that doesn't fit but I'm not sure what :D

[2021-04-02 18:28] Jupi007 commented on #2769
It is just the biggest one, or all ones?

[2021-04-02 18:50] Jupi007 commented on #2769
@Feichtmeier It is better like that:

![Capture d’écran du 2021-04-02 20-49-59](https://user-images.githubusercontent.com/36476595/113444883-08de7780-93f5-11eb-88c7-12f88b1a7bdd.png)

[2021-04-02 18:54] Initu-Castilhos opened #2771 "Create Yaru-dark icons."
Create Yaru-dark icons with Humanity-Dark as a dependency.

[2021-04-02 19:27] Feichtmeier commented on #2769
Hmm even if it looks highly professional I'm not sure. Let's have @madsrh and/or @ubuntujaggers have a on this one. I feel like I'm not really a help 😅

[2021-04-02 19:30] Feichtmeier commented on #2771
Why? We try to have yaru icons working in both dark and light themes

[2021-04-02 19:50] Initu-Castilhos commented on #2771
To use on xfce.

[2021-04-02 20:28] Initu-Castilhos commented on #2771
For the network icon to be lighter on the dark panel in XFCE and Unity.

[2021-04-02 21:37] franksmcb opened #2772 "Yaru-MATE - Incorrect background colour for Caja location text box"
Please see bug report https://github.com/ubuntu-mate/ubuntu-mate-artwork/issues/74

Per report: In Caja, press CTRL+L to toggle the location bar. On Yaru-MATE-dark, the text box should be a dark background, but it currently is white and clashes with the text colour.

![Screenshot_2021-04-02 -2 21 04  Yaru-MATE-dark Incorrect background colour for Caja location text box · Issue #74 · ubuntu-ma](htt

[2021-04-03 08:45] Feichtmeier commented on #2771
We have symbolic icons which can be coloured just like text. Closing this then, we don't need a yaru dark icon set. The icons can be used on light and dark icon themes

[2021-04-03 08:45] #2771 closed

[2021-04-03 10:20] Muqtxdir commented on #2769
@Jupi007 instead of doing a 3D representation of keyboard how about flat-keyboard stacking alongside monitor ? I think this way it may also look clear in smaller baseplate sizes. maybe this SVG-drawing will better explain what I mean (see below screenshot)

![computer](https://user-images.githubusercontent.com/54065734/113475508-c8820680-9493-11eb-8aaa-c5eb9cd6278a.png)

[2021-04-03 11:15] Feichtmeier commented on #2769
that's a good idea
we already have a keyboard icon one could reuse
![grafik](https://user-images.githubusercontent.com/15329494/113476903-af228f80-947e-11eb-939c-6921628313a2.png)

[2021-04-03 11:18] Jupi007 commented on #2769
That is a really good idea @Muqtxdir 👍

After a good night's sleep I realize that my proposal keyboard is just ... 😱

[2021-04-03 13:04] Muqtxdir commented on #2769
My bad, forgot about this great keyboard icon 😅

It's alright, I hope this one helps you 👍

[2021-04-04 14:55] VSchris-code opened #2773 "Create a variant of the cursor set with an black version of the current hands"
This is something that has been internally frustrating me since I've seen a video of the theme in action, which is Michael MJD's Edge for Linux video, and it just gets worse the longer I stare at one. Just to relieve this internal frustration, maybe you can make a variant of the cursor set that comes with Yaru with black versions of the current hand cursors? I slightly hate mixed cursor sets (curs

[2021-04-04 15:16] vitalkanev commented on #2759
Seems to look like :ok: for me

[2021-04-04 19:10] madsrh commented on #2773
Thanks for the feedback @VSchris-code

We're very happy with the current cursor theme and don't plan on maintaining another variant - sorry.

Your frustrating is noted, but we can't create a new variant for every user request.

I'll close this issue but feel free to comment.

[2021-04-04 19:10] #2773 closed

[2021-04-05 10:03] Jupi007 commented on #2759
Thanks @vitalkanev :)

[2021-04-05 11:37] #2759 closed

[2021-04-05 19:35] Muqtxdir opened #2777 "should the accesories-text-editor icon be updated?"
Hi,
This is a minor-nitpick from me, does the `accesories-text-editor` icon need to be revised according to the newly introduced text-based mime-types?

Did a quick _drawing-SVG_ for comparision of how it may look (see screenshots below)

### before
![before](https://user-images.githubusercontent.com/54065734/113617390-e3ab6c80-9673-11eb-85e3-3066f78ea563.png)

### after
![after](https://user-imag

[2021-04-06 06:13] Feichtmeier commented on #2777
No I think not. it's not a mimetype. With the foldv we've found a clear way to separate minetypes from other baseplates again, as it was in the original suru theme

[2021-04-06 08:48] UltraBurstXD commented on #2733
Well, that's kinda true, but thanks anyway.

[2021-04-06 09:18] UltraBurstXD opened #2778 "How about a rounded scrollbar track?"
Hi,
What about this rounded scrollbar track:
![images](https://user-images.githubusercontent.com/55871338/113686953-1bdc9a80-96c8-11eb-9992-be1e07617ab0.png)

Instead of this rectangular one:
![scrolledwindow](https://user-images.githubusercontent.com/55871338/113686232-572a9980-96c7-11eb-819b-1dfb2a360e4d.png)

I think rounded scrollbar track would make Ubuntu look more awesome in many scenarios

[2021-04-06 09:54] Feichtmeier commented on #2778
Yeah, the upstream scrollbar styling bugs me a lot in gtk. I tried to convince them about a transparent white background instead of transparent gray but no success.

I don't know if rounding the background works for all places though. Generally interested in changing this

[2021-04-06 10:04] UltraBurstXD commented on #2778
If right colors are chosen from Ubuntu brand to represent some niche transitions and states, I think it'd look awesome.

[2021-04-06 11:37] flexiondotorg commented on #2772
@Feichtmeier Any chance you could take a look at this?

[2021-04-06 11:48] VSchris-code commented on #2773
I guess it's up to me to maintain the variant myself.

[2021-04-06 18:29] Jupi007 commented on #2772
It is really related with Yaru itself?
I tried that and indeed, it appears only when switching theme variant. Btw running `killall caja` fix the problem.
🤔 Isn't it just Caja which isn't reloading Yaru correctly?

[2021-04-06 19:07] Feichtmeier commented on #2772
Hi @flexiondotorg
I actually think similar to @Jupi007 here and I am also convinced that this is not caused by our CSS.
Since you made the very wise decision to only ship a full light and a full dark version, we can be sure here that no GtkEntry is somehow overwritten by inverted styling (like in the yaru default styling :cry: ) :smile:

Can you @flexiondotorg and @franksmcb confirm that this does

[2021-04-07 02:17] #2777 closed

[2021-04-07 05:55] Initu-Castilhos opened #2779 "Cursor animation with outdated color."
The color of the cursor animation is blue and does not match the color of the system.  My suggestion is to change the color to Purple (Ubuntu standard) and green (Ubuntu-MATE).

[2021-04-07 10:34] Feichtmeier commented on #2779
We could try light aubergine, but I fear it might look too dark.
Or orange
@madsrh ?

[2021-04-07 10:40] madsrh commented on #2779
Sure, sounds very logical 👍

[2021-04-07 11:09] Feichtmeier commented on #2779
![grafik](https://user-images.githubusercontent.com/15329494/113857050-531f7a00-97a2-11eb-8e54-4162577a8d57.png)

Test PR https://github.com/ubuntu/yaru/pull/2780
But it needs rendering, I fail to render this @Jupi007 could you render this into this test branch? :angel:

[2021-04-07 20:14] Jupi007 commented on #2779
@Feichtmeier I rendered the cursors, I also synced Gtk4. In fact you need to remove the `.png` files you want to render inside `bitmaps` and also use Inkscape 0.92 (I used my 20.04 VM).

I think the purple used on Gtk spinners should be lighten on dark theme.

[2021-04-07 20:17] Jupi007 commented on #2467
@clobrano Can you have a look at this, please :)

[2021-04-07 20:43] clobrano commented on #2467
I'll try to have a look tomorrow

[2021-04-07 21:07] madsrh commented on #2779
I think both light, dark and cursor could be a bit lighter/brighter. IMHO the purple feels a bit too strong compared to the current blue, but maybe that's just because we've had the blue for so long.

[2021-04-07 21:43] Feichtmeier commented on #2779
![grafik](https://user-images.githubusercontent.com/15329494/113938313-b76e2800-97fa-11eb-8581-8bcbe6d8700f.png)

https://user-images.githubusercontent.com/15329494/113938379-d4a2f680-97fa-11eb-9039-f68b11422a94.mp4

https://user-images.githubusercontent.com/15329494/113938543-0caa3980-97fb-11eb-9a26-053b895b226c.mp4

Some footage

[2021-04-08 09:06] Jupi007 commented on #2779
You can also see the spinner inside the Gtk-widget-factory.

[2021-04-08 13:48] Initu-Castilhos opened #2781 "Decrease the width of the dock."
Currently the dock is very wide, if you decrease 2px it is the same size as the Unity dock (I know that the dock is not for reviving Unity).
Follows the prints of the css file with the changes.
![Captura de tela de 2021-04-08 10-36-58](https://user-images.githubusercontent.com/59381215/114037686-94be2c80-9857-11eb-98b5-4c2346923fda.png)
![Captura de tela de 2021-04-08 10-37-09](https://user-images

[2021-04-08 18:12] Feichtmeier commented on #2781
Thanks for the suggestion, but we like the current dock size
We also had this discussion before, eons ago =)
https://github.com/ubuntu/yaru/pull/924

[2021-04-08 18:12] #2781 closed

[2021-04-09 18:04] #2467 closed

[2021-04-10 08:30] Feichtmeier commented on #2779
Let's postpone this to the next cycle. I'm still a bit torn

[2021-04-11 15:05] ubuntujaggers commented on #2769
The first one doesn't quite fit the theme because it's got a 3D effect on the keyboard viewed from an angle.  I like the idea of using the existing elements (keyboard and monitor) in a Yaru-style version of the second concept :+1:

[2021-04-11 15:13] ubuntujaggers commented on #2762
Hmm, we do have system-log-out-symbolic.svg.  Do we know what this is called?

[2021-04-11 16:02] Jupi007 commented on #2769
You're right, I had forgotten that 3D effects wasn't Yaru. Also my proposals was just horrible 😬
I'll try to do a better job.

[2021-04-12 12:48] ubuntujaggers commented on #2769
Not at all!!

Is anyone working on this concept already or should I have a go at doing it?

[2021-04-12 13:00] Jupi007 commented on #2769
I had assigned myself this issue, but I have a lot of work these day. I you have time, fell free to grab it :)

[2021-04-13 06:13] jay opened #2788 "Add an option to disable dimming of inactive windows"
**Expected Behavior**

There should be an option to disable dimming of inactive windows

**Actual Behavior**

Inactive window is dimmed

**Steps to Reproduce the Problem**

- Switch to window 1
- Switch to window 2
- Observe window 1, now inactive, has dimmed

**System information**

GNOME Shell 3.36.7
Ubuntu 20.04.2 LTS

**Yaru version**

Package: yaru-theme-gnome-shell
Version: 20.04.10.1

Ref:

[2021-04-13 07:10] Feichtmeier commented on #2788
Do you mean the :backdrop dimming?
This is out gtk styling, which comes from upstream gnome.
We control the backdrop colors in _colors.scss and changed them a little bit from upstream to use rather transparentized white than gray color in the dark theme
Apart from this change we did not change much and follow upstream with the backdrop look.
I am personally very happy with it. We discussed this to

[2021-04-13 12:27] clobrano commented on #2764
We can drop this, it is not a Yaru bug (not even a bug).

[2021-04-13 12:27] #2764 closed

[2021-04-13 12:28] clobrano commented on #2752
What do you think about dropping the "status: discussion" tag and just converting the bugs into github's discussions?

[2021-04-13 12:45] Feichtmeier commented on #2752
sounds very good!

[2021-04-13 12:47] #2752 closed

[2021-04-14 11:09] Feichtmeier opened #2793 "Theme Previews do not match anymore"
@waynecrosby @robert-ancell

We really need to update the theme previews:

1. [the colors do not match anymore since our palette update, darker dark theme](https://github.com/ubuntu/yaru/pull/2655)
2. [the row selection does not fit anymore](https://github.com/ubuntu/yaru/pull/2675)
3. the pathbar selection actually never fitted =)

![grafik](https://user-images.githubusercontent.com/15329494/1147

[2021-04-14 11:48] Muqtxdir commented on #2793
@Feichtmeier the repository for **gnome-control-center** is on [Ubuntu's gitlab](https://gitlab.gnome.org/Community/Ubuntu/gnome-control-center/).

The theme-previews are located at [standard-theme.svg](https://gitlab.gnome.org/Community/Ubuntu/gnome-control-center/-/blob/ubuntu-master/panels/ubuntu/theme-standard.svg), [light-theme.svg](https://gitlab.gnome.org/Community/Ubuntu/gnome-control-cent

[2021-04-14 13:11] Feichtmeier commented on #2793
Thanks @Muqtxdir
Created https://gitlab.gnome.org/Community/Ubuntu/gnome-control-center/-/issues/1

[2021-04-14 13:11] #2793 closed

[2021-04-15 02:46] qwertychouskie opened #2794 "Revisit Dark Theme contrast"
I just recently upgraded to Ubuntu 21.04 Beta on my system.  Although I'm liking some of the changes here (Dark shell theme by default is a big one, the tweak to the sidebar in Files is quite nice, and I'm always happy to see general refinements), the dark theme subjectively feels much too dark now.  Before, the grays were easy on my eyes, but now, the large contrast between text and background ma

[2021-04-15 05:59] Feichtmeier commented on #2794
Hello there 😊

Nothing is wrong with expressing your opinion.

Ofc the contrast between the white website and the dark window is too high. But it's too high on both cases. That's why extensions like that dark mode extension exists for Firefox and Chrome. Also in this specific case there is the github darktheme toggle which follows the system is you use Firefox.

But I agree on the button to window

[2021-04-15 09:26] Muqtxdir commented on #2078
Hi @bashfulrobot,

As mentioned by @Feichtmeier currently **yaru-theme-gtk** does not include **_budgie.scss** under **gtk** and would require/need help with getting those style-classes into a separate .scss file (i.e. is **_budgie.scss**).

The **yaru-theme-gtk** is supplemented nicely with the **yaru-theme-icon** and apart from getting the style-classes of **budgie** into yaru, it will also requ

[2021-04-15 18:19] bryce-carson commented on #2334
I'm not much for graphic design, or working with templates in Inkscape, but I've created an icon _for myself_ for R Markdown files.

The shape of the icon is definitely not Yaru, nor Adwaita, but comes instead from the hexagonal shapes that R Studio likes to use for their different little projects (like Tidyverse, knitR, readR, etc.).
Derivative | Original
---|---
![text-x-r-markdown](https://user

[2021-04-16 06:21] Feichtmeier commented on #2078
We can put as many desktop stylings into yaru as there are, it's just that the work has to be done. The first step is to split up this fat _apps.scss file and backport mate styling from the mate branch into master

See https://github.com/ubuntu/yaru/issues/2620
And
https://github.com/ubuntu/yaru/issues/2393

[2021-04-16 06:42] Feichtmeier commented on #2078
Ehhh that sounded so unfriendly
@bashfulrobot hello there 😊 👋
I should probably be not on GitHub when the cats woke me up early

We've settled down with design currently so this should be doable next cycle (21.10)

[2021-04-16 13:30] #2788 closed

[2021-04-16 19:05] Coeur-Noir commented on #2078
_It sounds like there are a few structural changes that need to happen first._
I'm not sure how I can help here, not being a « coder » myself.
I have made observations regarding how (Ubuntu)Budgie is currently styled and how currently all themes don't handle all applets same way for example ( even « officially » shipped themes like pocillo or arc ) https://discourse.ubuntubudgie.org/t/adapta-and-p

[2021-04-18 18:25] gui-py opened #2795 "Yaru no Emerald"
Hello, I use Emerald as a selector window decorator, could someone make a theme for it? If there is already someone could pass me?

[2021-04-20 18:57] Initu-Castilhos commented on #2714
https://github.com/ubuntu/yaru/tree/mate-more-categories

[2021-04-20 19:40] LinuxLlama opened #2797 "GNOME Software readability issue on main page"
**Software** (gnome-software)
`gnome-software 40.0`
Running on _Fedora 34 (Workstation Edition)_

**Yaru version**
`21.04.1-39-g53371e06`
Installed from source

---

### **Issue**

The current GNOME Software has a a refreshed header to display applications. It appears that the Yaru theme hasn't been updated to properly display its colors. This issue only occurs on _Yaru_ and _Yaru-light_. _Yaru-da

[2021-04-20 19:44] reC0D3D commented on #2778
It appears that the GNOME design team is toying with the idea of rounded scrollbars. [See this mockup for reference](https://gitlab.gnome.org/Teams/Design/os-mockups/-/commit/0368bf1d29ad07b98fbaa3d96604bca838062db5).

[2021-04-20 19:46] Feichtmeier commented on #2778
Perfect, thanks @reC0D3D
then nothing to change in yaru, we get it from upstream when it's done

[2021-04-20 19:46] #2778 closed

[2021-04-22 05:08] madsrh commented on #2795
There's no support for Emerald, sorry. BUT we do accept pull requests.

If anyone wants to get started, here's some more info: http://wiki.compiz.org/Decorators/Emerald

[2021-04-22 06:34] gui-py commented on #2795
What a pity. I'll see if I can do it. Thanks

[2021-04-22 10:12] broes5 commented on #2481
I've just noticed this bug after I turned on transparent background option. Could someone (please) tell me how I can get my terminal tabs back to their original colour with out having to turn off the transparent background option. If not, how can I help to fix this bug?

[2021-04-22 10:15] Feichtmeier commented on #2481
![grafik](https://user-images.githubusercontent.com/15329494/115697923-569b2f80-a364-11eb-8895-e9a69077da25.png)

it must be something only happening in focal
so the question is rather what we need to backport

[2021-04-22 10:52] broes5 commented on #2481
I have my theme set to Yaru-dark and I don't want to change it.

![Screenshot from 2021-04-22 20-43-22](https://user-images.githubusercontent.com/64825158/115701934-ab15cd80-a3ab-11eb-9d41-ab9d52750f68.png)

Do you know roughly what and where (in the code) the thing is that needs to be backported?

[2021-04-22 10:56] Feichtmeier commented on #2481
yeah, these lines, but when we remove them we need to have one tab styling background for $bg_color and one for $base_color

https://github.com/ubuntu/yaru/blob/53371e06310f15b5d574f084dcd98f59a7aa04e0/gtk/src/default/gtk-3.20/_tweaks.scss#L256-L279

Anyways, they changed something since focal and now transparent tabs are no problem anymore, so it will def. be a backport and not a master change

[2021-04-23 16:42] jbouter opened #2798 "When wearing glasses with high correction, the closing button moves within the red circle"
**Explanation/Summary**

When using the Yaru theme, the colour of the X within the close button differs from the background around the red circle. For people using glasses with high correction, this causes the X to move within the red circle based on the viewing angle. To resolve this issue, the colour of the X needs to be the same as the title bar background. Since this is the case when using yar

[2021-04-23 18:10] godlyranchdressing commented on #2580
@andrewshadura what distro/Ubuntu release are you running? I went through a couple of GTK2 apps and I'm not getting the light text problem, so it may be GIMP-specific but I'm on 20.10 and that doesn't have a GTK2 based version of GIMP.

[2021-04-23 18:37] andrewshadura commented on #2580
@godlyranchdressing, Ubuntu 20.10 has GTK2-based GIMP:
[code]
[code]

[2021-04-23 18:44] andrewshadura commented on #2580
And it’s not GIMP-specific. I can observe the same behaviour with gbdfed:

https://user-images.githubusercontent.com/309253/115916117-a0733b00-a474-11eb-86cc-952b0741adc5.mp4

[2021-04-23 18:46] kothekarswaraj opened #2799 "missing icons of books, games, podcast, connections, synaptic package manager, okular"
**Icon Request**
gnome's  podcasts, connections, books, games
synaptic package manager
kde okular
icons are missing

**Steps to locate the icon**

**Software where the icon is missing**
I downloaded these apps from
flathub- gnome's connections, podcasts, okular
ubuntu hirsute repo 21.04- gnome's books, games, synaptic package manager

**Screenshots**
[https://flathub.org/apps/details/org.gnome.Con

[2021-04-23 18:52] kothekarswaraj opened #2800 "redesign files icon"
**Expected Behavior**
files- icon must be like home icon on the desktop(with the house icon). It should have a rectangle foundation with a small upper left part coming out of the rectangle. It already has all those things but I am talking about that square background removal I think it would really blend more right? white suits the icon.

**Actual Behavior**

**Steps to Reproduce the Problem**

**

[2021-04-23 19:45] godlyranchdressing commented on #2580
This is what I see:

https://user-images.githubusercontent.com/27529229/115922416-dc91a600-a44a-11eb-80b5-abd59e97d51f.mp4

Your textboxes also look odd though, and that has me guessing that it's a missing package. Try:

`apt install gtk2-engines-murrine gtk2-engines-pixbuf`

If that doesn't help, try:

`gnome-themes-extra gnome-themes-extra-data`

[2021-04-23 19:48] andrewshadura commented on #2580
All four packages are installed and are at their latest versions.

[2021-04-23 19:51] andrewshadura commented on #2580
Right, I ran `gtk-chtheme`, and, to my surprise, it said that Ambiance was selected. This obviously wasn’t *completely* true, since this theme didn’t look exactly like Ambiance, but nevertheless I went ahead and changed it to Yaru — and then it normalised.

I guess, somehow I ended up with a mix of Ambiance and Yaru, I’m not sure how exactly.

[2021-04-23 19:53] andrewshadura commented on #2580
That would also explain why none of the changes I tried in the gtkrc file worked.
¯\\\_(ツ)_/¯

I guess I can close this issue :slightly_smiling_face:

[2021-04-23 19:53] #2580 closed

[2021-04-23 20:11] Feichtmeier commented on #2799
We had Gnome podcasts but gnome designers explicitly asked us to remove it, which we did. I'll link the issue when I find it

[2021-04-24 06:44] kothekarswaraj opened #2801 "hovering on ubuntu dock apps icons, names have uneven bordering issue"
**Expected Behavior**
bordering must be on all four sides

**Actual Behavior**
bordering is only on the right & bottom part of the rounded corner rectangle

**Steps to Reproduce the Problem**
first set wallpaper with the dark background if u r using ubuntu standard appearance because borders are of light colour
hover on ubuntu dock icons so that u see names of apps & look at borders around naming

[2021-04-24 07:06] kothekarswaraj opened #2802 "top menu bar & lock screen clock's minute number get distorted"
**Expected Behavior**

**Actual Behavior**

**Steps to Reproduce the Problem**
if u look at units place of minutes(say 0 in 40) in clock in top menu bar & lock screen it shows the distorted number(half part of the number is not visible graphically) only happens sometimes

**System information**

**Yaru version**
yaru used in ubuntu 21.04

**Screenshots**

**Upstream check**

[2021-04-24 07:47] Feichtmeier commented on #2801
Duplicate of #2547 but let's keep this opened. Thanks for reporting since it is obviously not fixed :)

@Jupi007 fixed this for gnome shell 40 though, I think this happens because the dock.scss wrongly overrides the common. Scss radius

[2021-04-24 07:51] Feichtmeier commented on #2802
Thanks!

Could you check if this also happens in Gnome-Session?
[code]
Reboot
Use the GNOME session by clicking on the white button with the ⚙️ symbol and selecting the GNOME session

[2021-04-24 08:02] vitalkanev commented on #2799
@Feichtmeier
Looks like this issue https://github.com/ubuntu/yaru/issues/2196

[2021-04-24 08:05] Feichtmeier commented on #2799
Thanks @vitalkanev :)

[2021-04-24 12:19] Feichtmeier commented on #2799
hey @bertob 👋

could you update us on how important it is for the gnome community to not override "unbranded" / rather generic icons like gnome podcasts, games, etc? I mean, thinking of the users, I think they would prefer rather a consistent look rather than the upstream icon. WDYT? No hard feelings, just asking :)

[2021-04-24 12:46] #2801 closed

[2021-04-24 12:59] kothekarswaraj commented on #2799
what is up with those gnome developers?
Yaru's whole theme looks top-notch even windows & mac theme looks faint.
Gnome developers should use yaru on their gnome os and make it official.
Ever saw their windowing theme what is that?
but the gnome project is open so how can they say so?

[2021-04-24 13:11] Feichtmeier commented on #2799
(((( We appreciate your appreciation <3 But let's please keep the offtopic out of this issue. If upstream wants to use Yaru or not could be asked on their GitLab. ))))

[2021-04-24 13:19] kothekarswaraj commented on #2799
I am new to GitHub so it might take time for me to get to work. I am learning & puzzled by so many things on this page.
At this point, I can only put issues.

[2021-04-24 14:21] kothekarswaraj opened #2804 "hand cursor colour & wait cursor(spinner) colour"
**Expected Behavior**
The hand cursor(pick cursor) should be black(before & after grabbing. Just being precise) must match other black cursor icons.
Wait cursor(circle with rotating blue part) should be white in colour.

**Actual Behavior**
it is white in colour(hand cursor)
it is blue in colour(wait cursor)

**Steps to Reproduce the Problem**
hover on something that u can grab(hand cursor)
open a

[2021-04-24 14:48] kothekarswaraj opened #2805 "for third party apps(non gnome apps) - window bar width & minimise, maximise, close buttons size"
**Expected Behavior**
width of window bar must be same for all apps including the third party say LibreOffice
also, the spacing & size of minimise, maximise & close icon must be equal for third-party apps as well

**Actual Behavior**
width of window bar is less for third party apps say LibreOffice
also, the spacing is less & size is small of minimise, maximise & close icon

**Steps to Reproduce th

[2021-04-24 18:24] kothekarswaraj commented on #2802
checked it didn't happned there
it used to happen in ubuntu 20.10 and also in 21.04

[2021-04-24 19:18] Feichtmeier commented on #2802
Okay this could be caused by the Ubuntu Font

[2021-04-25 09:56] jbouter commented on #2798
If anyone could perhaps assist me with manually overriding the colour of the X in my own set-up, that would be great

[2021-04-25 10:55] Muqtxdir commented on #2798
Hi @jbouter 👋

As a person who wears glasses, I can acknowledge that this happens to me as well. Although to rectify this it would require some discussion on whether how to approach this with keeping the branding of Yaru.

In the meantime I could help you with overriding the window-close button color on your set-up. below is a mockup/screenshot similar to Adwaita based on your suggestion, please t

[2021-04-25 11:36] jbouter commented on #2798
Hi @Muqtxdir!

This indeed resolves the issue, and is close to Adwaita. But I do think it loses the recognisable Yaru branding.

Making the X dark also resolves the issue for me. I've made a mock-up in GIMP (possibly not using the right colours, but just to provide an example):

![dark_X](https://user-images.githubusercontent.com/6340770/115991921-2bfee000-a5cb-11eb-87b9-a8c9eab0776a.png)

[2021-04-25 12:49] bertob commented on #2799
Overriding app icons, especially for third party apps, is problematic because It dilutes an app's identity. For example, the icon you see on your desktop is not the same as on documentation/website/Gitlab/blogposts/etc. It also does not scale, because you'd need a ton of resources to keep up with every single third party app, including all the new ones being released continuously. It's a neverendi

[2021-04-25 13:09] Feichtmeier commented on #2799
Alright! Thanks for the answer @bertob
We can close this issue then.

[2021-04-25 13:09] #2799 closed

[2021-04-25 13:13] Feichtmeier commented on #2798
I am really not a fan of the dark X
I would rather make the X only appear on hover then, like in macOS

[2021-04-25 13:17] Feichtmeier commented on #2798
@jbouter does this also happen in the gnome shell overview X-close button? (pres super or click on "activities" and then hover on a window preview)

[2021-04-25 18:29] jbouter commented on #2798
Yeah, I get that - or maybe have the background only appear (or change colour) on hover like the Breeze theme of the KDE desktop environment.

@jbouter does this also happen in the gnome shell overview X-close button? (pres super or click on "activities" and then hover on a window preview)

Yeah, it does. And in that case there's no difference between light or dark theme. But because the shell ove

[2021-04-25 19:02] jbouter commented on #2798
To add to the above comment. Using the gnome shell overview with the default Adwaita theme (where the appearing X has a blue background, rather than red) the effect of the X moving within the circle is less.

[2021-04-25 19:12] Feichtmeier commented on #2798
Some ideas

Cross only on hover
![grafik](https://user-images.githubusercontent.com/15329494/116006184-5ae87680-a60a-11eb-8581-9e4ce99a86a5.png)

![hover](https://user-images.githubusercontent.com/15329494/116006210-72276400-a60a-11eb-9ee2-2313528cc9dd.gif)

Cross only on hover with a black cross for close
![blackhover](https://user-images.githubusercontent.com/15329494/116006282-d4806480-a60a-11e

[2021-04-25 19:14] clobrano commented on #2798
That's a clever idea, the only drawback is that we will be accused of copying MacOS 😁

[2021-04-25 19:54] madsrh commented on #2798
That is a pretty cool @Feichtmeier
I would love to try that. Can you easily whip up a PR?

[2021-04-25 19:57] Jupi007 commented on #2798
That looks very fresh @Feichtmeier
I prefer the white close icon version, the black one looks almost invisible.
As said @madsrh I'd love to try that in action 😃

[2021-04-25 22:00] Feichtmeier commented on #2798
Draft PR: https://github.com/ubuntu/yaru/pull/2807

:shrug: looks shockingly fresh, but then, is this okay? Can we just leave the symbols away? :D

[2021-04-26 07:03] clobrano commented on #2798
I'd keep them 😁, they're useful indication. Above all the minimize and maximize, since they'd be too similar otherwise

[2021-04-26 07:34] elioqoshi commented on #2798
The issue with that however is that that macOS has the same treatment for all 3 icons, not only the close button. It wouldn't make sense to keep minimize and expand the same while changing the close behaviour only, no?

![hover](https://user-images.githubusercontent.com/15329494/116006210-72276400-a60a-11eb-9ee2-2313528cc9dd.gif)

This looks great! I'd just make the animations more faster in the i

[2021-04-26 07:43] #2769 closed

[2021-04-26 07:48] Feichtmeier commented on #2798
User testing would be superb! @elioqoshi

Those super slow animations come from a shitty gif. I have no idea why it is so slow on github xD I can assure you it isn't
Some valid points have also been raised on the PR which need to be fixed or we can't do it (firefox for example)

I'll keep you pinged when I think this is ready for user testing

[2021-04-26 16:39] #2762 closed

[2021-04-27 06:16] kothekarswaraj opened #2810 "books, games & notes icon don't apply"
**Expected Behavior**

**Actual Behavior**

**Steps to Reproduce the Problem**

**Software that presents the issue**

**Yaru version**
yaru used for ubuntu 21.04

**Screenshots**

[2021-04-27 06:55] Feichtmeier commented on #2810
Yeah, it's still this issue why we've removed those symlinks :) https://github.com/ubuntu/yaru/issues/2196

Thanks for your contributions

[2021-04-27 06:55] #2810 closed

[2021-04-29 09:59] andrewshadura opened #2812 "No theme option with dark MATE panel and light widgets"
The GNOME Shell version of the theme supports dark panels and light widgets:
![](https://raw.githubusercontent.com/ubuntu/yaru/hirsute/mate/.github/readme_pics/shell-light.png)
It also works well with Unity.
However, the same look cannot be achieved with MATE: it’s either everything dark or everything light.
I prefer dark panels and titlebars but I don’t want all applications to have dark backgrou

[2021-04-29 10:04] #2745 closed

[2021-04-29 10:09] andrewshadura opened #2813 "Yaru light: indistinguishable focus in MATE window switcher"
The focus in the window switcher is very difficult to see because there’s no border and the contrast is very low:
![image](https://user-images.githubusercontent.com/309253/116535110-aab58f00-a8e3-11eb-8a59-d6ef31dc58cf.png)

[2021-04-29 10:11] Feichtmeier commented on #2812
This was a "design decision"
Maybe @flexiondotorg can comment on this one and why he decided to do so (I think it was a good decision :) )

[2021-04-29 10:13] andrewshadura commented on #2812
Well, I’m not sure it’s a design decision or an oversight, but having three options instead of two shouldn’t be a big deal, especially since the third option exists for other desktop environments.

[2021-04-29 10:17] Feichtmeier commented on #2812
Yeah, actually it is thouh :smile_cat:

the gnome desktop with gtk and the shell being two different software technologies is a plus in this context, often is is a minus. so here it is easy to change the one theme without affecting the other.
in mate everything (except the window manager) is gtk, so having a "mixed" theme apart from "light"/"dark" is harder than it might look for you

[2021-04-29 10:18] #2812 closed

[2021-04-29 10:19] Feichtmeier commented on #2813
confirmed issue, thank you!

[2021-04-29 10:20] Jannomag opened #2815 "No transparency when rendering gtk2 assets for default and light variant"
Hi,
I'm currently working on an update for my Yaru-Color theme.
I noticed that the assets for each gtk2 variant are having transparent backgrounds.

When I render them using the render-all-assets.sh script, the assets won't get rendered with transparent background if there is a background in assets.svg.
This happes for light and default variant ONLY. Dark seems to be okay, even though there's a ba

[2021-04-29 22:55] Jannomag commented on #2815
Reason found: with Inkscape 0.92.5 it's working.

Are you able to fix this?
Because it's needed to compile older Inkscape on >18.04 manually

[2021-04-30 07:16] Feichtmeier commented on #2815
No idea at this department but @clobrano and @Jupi007 recently worked on the script

[2021-04-30 07:52] clobrano commented on #2815
We did not work on `render-all-assets.sh`, that's why isn't working with inkscape 1.0. Weird that it works fine in dark variant though, it makes me wonder if there is a difference in the input asset.

[2021-04-30 08:48] Jannomag commented on #2815
Okay. I played a bit with inkscape's cli but couldn't find any alternative commands. `--export-background-opacity` is still valid.

@clobrano @Jupi007
But I've found another bug. I have absolutely no clue about github and pull requests and before I do something wrong I post it here.

In the assets.svg of dark gtk2.0 variant is the "scale-slider" wrong.
Missing "scale-slider" in dark assets.svg of

[2021-04-30 09:50] Jupi007 commented on #2815
Honestly, I don't what's happening here (the weirdest thing being that it works with Inkscape 1.0 but only with dark assets).
The last time I worked on Gtk2 assets, all _assets.svg_ files wasn't uptodate at all, so I just manually exported all assets I updated with Inkscape.

[2021-04-30 10:10] Jannomag commented on #2815
Since I change the colors in svgs and gtkrc for my themes, I need to export them everytime I add new colors. That's why I came across this. With Inkscape 0.92.5 it works as usual.

[2021-04-30 12:02] #2815 closed

[2021-04-30 12:09] clobrano commented on #2815
I just looked at assets.svg file in both light and dark variants and it seems that while the dark one has a transparent bg, the light one doensn't

this is light
![image](https://user-images.githubusercontent.com/2883614/116692887-60a0dc00-a9bd-11eb-95cc-64fed8655471.png)

this is dark
![image](https://user-images.githubusercontent.com/2883614/116692931-71e9e880-a9bd-11eb-80be-dbf74c2819c1.png)

I

[2021-04-30 12:23] Jupi007 commented on #2815
Both dark and light has transparent background (`inkscape:pageopacity="0"`), the "transparent effect" background comes from `inkscape:pagecheckerboard="true"`. But that has no impact on the rendering.

[2021-04-30 12:34] clobrano commented on #2815
Ok, I didn't know that. I set pagechekerboard="true" in light/assets.svg and I still see the pan-down section with a opaque background though, so I double checked and in my light/assets.svg "pageopacity" is 1. Set it to 0 resolve this issue.

[2021-04-30 15:20] Jannomag commented on #2815
Awesome, thanks for the work!

[2021-04-30 16:41] Jupi007 commented on #2415
Fixed upstream (see: https://gitlab.gnome.org/GNOME/file-roller/-/issues/120).

[2021-04-30 16:41] #2415 closed

[2021-05-03 08:33] Muqtxdir opened #2820 "folders at smaller-sizes"
Hi,

The current common **folders** for smaller sizes are all the same so there's no way to recognize them through their **icons**. The smaller-folder icons are used when using **nautilus** in coloumn-view, **caja** ( _used in sidebar by MATE_ ), **save-dialog/open-dialog**

We could re-do the smaller **folder-icons** by taking style-ideas and implementation from this PR: #2673 and [libreoffice-st

[2021-05-03 14:16] Amr-Ibra opened #2821 "Make the microphone icon in the top panel reflect the input sound volume"
I have just discovered that the Adwaita microphone icon (adwaita-icon-theme 3.38.0) in the top panel reflects the input sound volume. So if the input volume is 50%, the mic icon is 50% filled.

**Steps to reproduce:**
1. Open any app that takes input sound (Discord for example)
2. Make sure that you see the mic icon in the top panel (that means that the app is listening to input sound)
3. Change t

[2021-05-05 12:46] jlemonde opened #2822 "Nautilus listview: Improve the gray selection or revert to orange"
I feel annoyed by the selection colour in list view in Nautilus. It is furthermore super-hard to distinguish the colour of selected items from the colour of the item that is hovered with the mouse.

**Expected Behavior**

I would expect to distinguish the selected items much more, and I would expect the theme to be coherent between list view and icon view in Nautilus.

**Actual Behavior**

In icon

[2021-05-05 14:06] Feichtmeier commented on #2822
Alright, valid issue. Let's see what works better, either reverting for `$selected_bg_color` for nautilus .listview or a darker gray

[2021-05-05 15:59] Muqtxdir commented on #2821
Hi @Amr-Ibra,

Now that #2806 is in `master` all the symbolic-icons are in-sync with adwaita-symbolics. So could you try the icon-theme from `master` and share whether this still happens for you?

attaching a clip that demonstrates the different microphone-levels with `master` applied

https://user-images.githubusercontent.com/54065734/117171854-df947b00-ade8-11eb-9f79-532dc951cdb2.mp4

[2021-05-05 16:07] Amr-Ibra commented on #2821
Ah, sorry I forgot to mention the theme and OS version. It's yaru-theme-icon (20.04.10.1) on Ubuntu 20.04. So if this is already fixed in master, then close this issue.

[2021-05-05 16:15] Muqtxdir commented on #2821
Alright, thanks for reporting. closing this issue :+1:

[2021-05-05 16:15] #2821 closed

[2021-05-08 00:45] hwittenborn opened #2824 "Shell icon for software-properties-gtk isn't correct"
**Expected Behavior**
Shell icon for "Software and Updates" should be the "A" icon in the shell.

**Actual Behavior**j
The shell icon for "Software and Updates" is a globe, as if it's defaulting back to another icon.

**Software that presents the issue**

- Name: Software and Updates (software-properties-gtk)
- Version: 0.98.9.4
- OS version: Ubuntu 20.04.2 LTS

**Yaru version**
20.04.10.1

**Scre

[2021-05-10 08:56] Feichtmeier opened #2827 "Include libadwaita styling in yaru gtk4 dir"
We should include https://gitlab.gnome.org/GNOME/libadwaita in gtk4/upstream and gtk4/src

All the new gtk4 widget changes are happening there and all new gtk apps will be built with it. Also it looks like some stylesheet/visual look modernization is incoming, so we really want this in yaru

A GitHub action would be also needed to get those changes updated regularly

[2021-05-13 08:00] elsiehupp commented on #2403
I know I'm a bit late to the game, but I noticed that the version of the `snap-symbolic` icon wasn't really optimized for itty bitty sizes, so I put together a couple of subtly tweaked variations.

From left, these are:
* The version posted here
* A [pixel-hinted](https://danellebailey.com/design-blog/2016/9/29/pixel-hinting-for-crisp-icons) version
* A pixel-hinted version with blunt tips

The ic

[2021-05-13 09:03] fthx commented on #2403
Hi,

Personally, I don't like the third, just because that's not the original snap logo. I agree it looks nice, though!

So I tried the second one in Snap Manager extension context. Here is what is rendered in top panel (so, small icons) on my 14" FHD display:
![Capture d’écran de 2021-05-13 10-50-59](https://user-images.githubusercontent.com/23138504/118103345-187cb300-b3da-11eb-8668-819cdc071bcb

[2021-05-13 09:21] elsiehupp commented on #2403
For the hinted one, I actually did fit it to a 14x14 frame, because the norm seems to be for there to be a 1px margin. I could make a full 16x16 version, though.

As far as the color goes, I actually stripped out all color data from the SVG code. If it’s not the right color, it’s probably because GTK isn’t recognizing it as a symbolic icon, which might be due to the fact that the `-symbolic` suffi

[2021-05-13 09:44] elsiehupp commented on #2403
Here’s a a version that’s hinted and 16x16:

<img alt="snap-symbolic-hinted-16x16" width="48px" src="https://gist.githubusercontent.com/elsiehupp/8b2433a2f99478cbd24bbc4fe6ae56e4/raw/c7ed0ab7f5f6e4ac8458d2a9f020184fc6de6a65/snap-symbolic-hinted-16x16-preview.svg">

\[[code](https://gist.github.com/elsiehupp/7651c9d709842d2e57c0e3118033134d?short_path=64e57b4)\] \[[rendered](https://gist.github.com

[2021-05-13 09:47] elsiehupp commented on #2403
Again, probably the way to get GTK to recolor the SVG files is to change the filenames so they’re something like `snap-hinted-16x16-symbolic.svg` (e.g. ending in `-symbolic`) rather than `snap-symbolic-hinted-16x16.svg`. But that’s just a guess.

[2021-05-13 09:56] elsiehupp commented on #2403
What I mean by “pixel hinting” is a lot clearer if you look at the two versions of the icon with an overlaid pixel grid:

#### Original
<img width="424" alt="snap-symbolic-exact-grid" src="https://user-images.githubusercontent.com/9206310/118109487-4698cd80-b3af-11eb-93b0-c190cf1a6fc1.png">

#### Pixel-Hinted

<img width="425" alt="snap-symbolic-hinted-grid" src="https://user-images.githubusercont

[2021-05-13 09:56] fthx commented on #2403
[-symbolic end did the trick.]

So:
[14" FHD display in top panel]

Old one:
![image](https://user-images.githubusercontent.com/23138504/118109573-aad48500-b3e1-11eb-8d05-23fb9d83a44e.png)

Hinted one:
![image](https://user-images.githubusercontent.com/23138504/118109677-ca6bad80-b3e1-11eb-9d60-fbb4162519ed.png)

The new one seems crispier, it looks better IMO. It looks good too on my 24" FHD moni

[2021-05-13 10:06] elsiehupp commented on #2403
![SOOOO CRISPY!!](https://gist.githubusercontent.com/elsiehupp/852652b5483a23ddefa57dc72c1b5009/raw/fff411ef5da3f2a4c1b1292da3c1abb6729c7604/crispy.gif)

[2021-05-13 10:18] fthx commented on #2403
Ok I updated.

[2021-05-13 13:07] Feichtmeier commented on #2403
@elsiehupp thank you very much. Yes we welcome pull requests 🙂

[2021-05-13 18:44] Muqtxdir commented on #2403
Hi @elsiehupp 👋

The new icons that you've suggested are soooo much better than mine and I didn't manage to put a pull requests for the `snap-symbolic` in the first place, so as @Feichtmeier you can push a pull request for this `snap-symbolic` to be added in yaru

[2021-05-14 12:17] Feichtmeier opened #2834 "Bottles: double row border"
In listviews in the settings of bottles (https://snapcraft.io/bottles) rows have a double border
![grafik](https://user-images.githubusercontent.com/15329494/118269402-fc067680-b4be-11eb-9315-ec1f4a7cde7d.png)

Looks like we do something wrong here in the libhandy gtk3 dir

@Jupi007 do you have time to look this up?

[2021-05-14 12:18] Jupi007 commented on #2834
Ofc, I will have a look :)

[2021-05-14 12:21] Feichtmeier commented on #2834
Thank you!
If you find the issue, we also need to make sure to push the change to gtk-common-themes, as this is a snap

[2021-05-14 13:14] Jupi007 commented on #2834
It looks like an upstream bug, as Adwaita is also affected (but I don't know if it's a Bottle or a Libhandy problem):

![Capture d’écran du 2021-05-14 15-10-15](https://user-images.githubusercontent.com/36476595/118275301-8c948500-b4c6-11eb-811b-b4dbc67c3b25.png)

If you want I can add a little patch awaiting the upstream one:

[code]

[2021-05-14 13:21] Jupi007 commented on #2834
I created a new issue here: https://github.com/bottlesdevs/Bottles/issues/275

[2021-05-14 13:23] Feichtmeier commented on #2834
Nice, le's just keep this opened until it is eventually fixed in libhandy, this is also a nice test for your nice githubab action :)
Imagine if we would reduce the unusual theming things further, then we could actually let the action copy everything except _colors into src :D

[2021-05-14 19:18] #2667 closed

[2021-05-14 19:24] github-actions[bot] opened #2841 "LP#1928428 "yara std theme background is transparent in GnuCash dropdown list for entry behind mouse pointer""
Reported first on Launchpad at https://bugs.launchpad.net/ubuntu/+source/yaru-theme/+bug/1928428

[2021-05-16 15:08] kothekarswaraj opened #2844 "shell icon(mini logo on top bar) for gnome-software doesn't match yaru logo"
**Expected Behavior**
shell icon must reassemble yaru logo

**Actual Behavior**
shell icon is original gnome-software logo

**Steps to Reproduce the Problem**

**Software that presents the issue**

**Yaru version**
yaru in ubuntu 21.04

**Screenshots**

[2021-05-16 18:26] #2403 closed

[2021-05-17 08:37] Feichtmeier opened #2847 "Outline radius on .circular buttons is wrong"
![grafik](https://user-images.githubusercontent.com/15329494/118459210-d1553180-b6fb-11eb-8993-b0014399dbcf.png)

https://github.com/ubuntu/yaru/blob/e021a6b90dad596a8f3eaa2d2d7ffb9249a41694/gtk/src/default/gtk-3.20/_tweaks.scss#L223-L230

[2021-05-17 10:47] Jupi007 commented on #2847
I'll have a look today.

[2021-05-17 12:52] Feichtmeier opened #2849 "Switches in selected rows have the wrong styling"
![photo_2021-05-17_14-50-52](https://user-images.githubusercontent.com/15329494/118491428-48e88800-b71f-11eb-9da8-c9260bd6efe8.jpg)

https://github.com/ubuntu/yaru/blob/7fba4e50952a081932d844524f060d0b61ff6db1/gtk/src/default/gtk-3.20/_tweaks.scss#L435-L449

[2021-05-17 13:07] Jupi007 commented on #2847
The problem comes from here:

https://github.com/ubuntu/yaru/blob/7fba4e50952a081932d844524f060d0b61ff6db1/gtk/src/default/gtk-3.20/_common.scss#L680-L695

Adwaita use their accent color for selected row background, so buttons should also have an accent color border-color.
As we don't use our accent color anymore for selected row, these lines are buggy.
I'll make a patch PR.

[2021-05-17 17:46] sith-on-mars opened #2852 "Missing icons in Okular"
I'm on OpenSUSE Tumbleweed Gnome.

It seems Yaru doesn't support the most of the icons for Okular and just falls back to Breeze Light.

Here is an example in Okular with Yaru:
![1](https://user-images.githubusercontent.com/37974764/118532230-3e85b880-b736-11eb-9e68-9df018cd9be3.png)

Could we have icons for Okular, please? I think you could look at [Adwaita](https://www.gnome-look.org/p/1302858/)

[2021-05-17 17:49] Jupi007 commented on #2834
That was indeed a bug of Bottles itself.
The dev just fixed it, so I close this :)

[2021-05-17 17:49] #2834 closed

[2021-05-18 17:33] #2847 closed

[2021-05-18 17:33] Jupi007 commented on #2849
Fixed by #2850

[2021-05-18 17:33] #2849 closed

[2021-05-19 14:30] madsrh commented on #2852
Hi @sith-on-mars
Thanks for reporting this.
Yaru isn't a light or dark icon theme, it should work in both.

What do you think @Jupi007 @ubuntujaggers could this be fixed simply by adding symlinks to existing yaru icons?

[2021-05-19 20:43] #2393 closed

[2021-05-19 20:43] #2827 closed

[2021-05-19 21:20] ubuntujaggers commented on #2852
Hmm, not sure - this looks like a bit of a weird one, I'm not sure why it's falling back to Breeze Light? I guess the problem is even if we have symbols (which take the local text colour) then the app might colour them dark, I guess because it's expecting a light background colour. Normally with Yaru you'd expect the stuff under the title bar to be pale (like LO) 🤔

[2021-05-19 21:25] Feichtmeier commented on #2852
Could you elaborate what " Adwaita Plus dark" is? Is this a special custom icon theme?

We must understand that this could be a tough task
- KDE app
- monochrome yet PNG

[2021-05-20 10:33] Jupi007 opened #2858 "List rows orange flash when unselected"
I don't know why, but since #2855 when a `list row` is unselected, there is an orange flash:

![Peek 20-05-2021 12-31](https://user-images.githubusercontent.com/36476595/118963933-46786f00-b967-11eb-8105-a6e7d7476b0a.gif)

[2021-05-20 10:35] Feichtmeier commented on #2858
![Peek 2021-05-20 12-34](https://user-images.githubusercontent.com/15329494/118964449-cdc5e280-b967-11eb-81ae-cc504481ff4d.gif)
Must be something with that gradient
Maybe you need to style all states now? Since you use a background-image now only for selected

[2021-05-20 10:40] sith-on-mars commented on #2852
Adwaita Plus dark is just the dark theme of Adwaita Plus icon theme. I edited my original post for avoiding confusion.

[2021-05-20 10:41] Jupi007 commented on #2858
I think it is because list row use `background-color`.
In the fix PR (#2859) I used `background` instead of `background-image` so it can overwrite all background properties.

[2021-05-20 10:42] #2858 closed

[2021-05-20 10:47] sith-on-mars commented on #2852
I think generally if non-monochrome icons (like in Adwaita or Yaru) are not too bright or too dark, they should be fine regardless of dark/light theme. In LibreOffice there are a few icon themes that work both on light and dark theme well.

[2021-05-20 16:11] jlemonde opened #2860 "Nautilus list view with expandable folders: selection frame is misaligned."
When folder expansion is enabled for list view in Nautilus, when selecting a folder (or any item), the selection frame is misaligned. Note that I don't know whether "selection frame" is the correct term. It might be "focus frame"

**Steps to Reproduce the Problem**

Enable expandable folders in Nautilus, then select a folder, then after a short delay click a second time on that folder to let the s

[2021-05-21 07:41] jlemonde commented on #2860
This is strange! Thank you for testing! My Ubuntu system was fresh-installed with 21.04 a week ahead of release, and now that I think of it, I only tried out the ["Nordic"](https://www.gnome-look.org/p/1267246/) theme before reverting back to Yaru. Now that I try again to switch to Nordic and back to Yaru, the bug is back. And when I switch to Adwaita and back to Yaru, the bug is gone.

I wonder w

[2021-05-21 07:55] jlemonde commented on #2860
Rectification: the bug does not always disappear when switching to Adwaita and back to Yaru. I managed to remove the bug twice in a dozen of attempts, so there may be something different going on. But Enabling the Nordic theme triggered the bug in Yaru for (almost) sure.

Is there a way for me to reinstall yaru? I tried `sudo apt install --reinstall yaru-theme-gtk` but nothing changed. Note that I

[2021-05-21 07:59] jlemonde commented on #2860
PS: Now I am getting the bug in Adwaita as well. It may be totally unrelated to Yaru, thus. So strange...

[2021-05-21 09:23] Jupi007 commented on #2860
Hi @jlemonde,
I successfully reproduced your issue on my VM. I tested: preinstalled Yaru, Yaru from master, and Adwaita. The problem is always visible.
I think it is related to Nautilus itself because on my own computer I'm using Gnome 40 with Nautilus 40, and the problem is not present at all.
So I close this issue. Thanks anyway for your report, it's very appreciated :)

[2021-05-24 07:16] ubuntujaggers commented on #2852
Ah, I thought these were symbolics - yes, if they're colour icons then a middle tone will show up on both 🙂

My next question then is whether the icons that Okular uses are part of the free desktop specification. If they are then the legacy actions project would cover it.

[2021-05-24 20:12] github-actions[bot] opened #2863 "LP#1537047 "Selected button not adequately highlighted in GTK3 themes (orange highlight too thin)""
Reported first on Launchpad at https://bugs.launchpad.net/ubuntu/+source/yaru-theme/+bug/1537047

[2021-05-25 09:32] #2860 closed

[2021-05-27 14:14] Feichtmeier opened #2870 "Gnome shell login screen dark/light mix looks weird and could be unified"
The mix of the super dark text input (gnomers call it "entry") plus the white buttons look kind of strange to me
![grafik](https://user-images.githubusercontent.com/15329494/119841933-85c63300-bf06-11eb-88c8-7a267a8e2b2a.png)

Thinking of two solutions if you agree on the problem:
- do not override gnome shell login screen buttons to be white
- make text inputs white

@madsrh @clobrano @Jupi007 ?

[2021-05-27 14:53] clobrano commented on #2870
What about the same color of the "wallpaper" and a white arrow? It is basically the same Gnome does, right?

[2021-05-27 15:11] Feichtmeier commented on #2870
Doesn't sound bad
upstream uses the default dark button styling

[2021-05-27 16:40] madsrh commented on #2870
Yeah, both options would look good. I like the white input background but perhaps making everything dark would fit better with the dark shell 🤷‍♂️

[2021-05-27 17:24] Jupi007 commented on #2870
IMO we should make everything white for the white theme, and everything dark for the dark theme.
Also maybe on the login screen, force dark widgets because it is our default variant 🤔

[2021-05-27 17:45] Feichtmeier commented on #2870
In the upstream theme it is already white for light and dark for dark. So all we need to do is to revert the file to upstream :D
then the lock screen follows if the light theme is selected from user-themes

[2021-05-27 17:47] Jupi007 commented on #2870
Do you want I make a PR?

[2021-05-27 17:48] Feichtmeier commented on #2870
I can make it, too - but if you can now, go ahead :) Currently sick IRL and kinda slow

[2021-05-27 17:50] Jupi007 commented on #2870
My VS Code is already opened with Yaru, and I preworked the modifications 😉

[2021-05-27 19:01] #2870 closed

[2021-05-28 20:33] github-actions[bot] opened #2873 "LP#1930101 "gnome-shell calendar week numbers may not be vertically centered""
Reported first on Launchpad at https://bugs.launchpad.net/ubuntu/+source/yaru-theme/+bug/1930101

[2021-05-29 13:59] VSchris-code commented on #2773
Update: The current hands have been made black. Glad this was done.

[2021-05-29 14:10] VSchris-code opened #2874 "Link select cursor in .svg cursor sheet has swapped gradient colors"
Issue's title says _almost_ it all, so have this image.
![hedj](https://user-images.githubusercontent.com/81916873/120073388-6d712800-c06e-11eb-9686-29113403efd8.png)

[2021-05-31 13:50] maxborowsky opened #2878 "Icon for Geany and OpenJDK"
Please add Suru/Yaru-style icons for Geany and OpenJDK.

[2021-05-31 15:16] Feichtmeier commented on #2878
OpenJDK could be done I guess but better if we ask too

Geary not, since I know that they are explicitly against distributions overwriting their app icon

[2021-05-31 16:59] Feichtmeier commented on #2878
Hi @shipilev !
Sorry for summoning you here and sorry if you are the wrong person for this question I found you on the openJDK contributor list, but we have a user request for a yaru openJDK icon in Ubuntu. Would you be okay if we would provide a "yaru-fied" version of your openJDK icon?

[2021-05-31 17:02] shipilev commented on #2878
What is "my OpenJDK icon" here? There is [Duke repository](https://wiki.openjdk.java.net/display/duke/Gallery) in OpenJDK, which can be sourced freely, I think (I cannot see the license there, but can ask).

[2021-05-31 17:58] maxborowsky commented on #2878
@Feichtmeier

Gea**r**y or Gea**n**y? I was talking about Geany IDE, not the GNOME Geary email app.

[2021-05-31 18:12] Feichtmeier commented on #2878
Woops, sorry. Well, it is always the same story, if the app devs are okay with a yaru icon, we can ask one of our icon designers to make one, if not it's a no-go.

@shipilev thanks! :) So I think your "team" has no problem with a special Ubuntu icon for the openJDK? (I could imagine that we would only change the baseplat and keep the Duke inside)

[2021-05-31 18:14] shipilev commented on #2878
I suspect that Duke images are free to use under one of the open-source licenses. Is it GPL? I cannot find the LICENSE file in the repository. You should probably ask about putting the license info into that repo here: https://mail.openjdk.java.net/mailman/listinfo/discuss

[2021-06-01 17:47] VSchris-code commented on #2874
Mildly pissed due to the lack of response. Will reopen if I think there's going to be a response.

[2021-06-02 17:21] Benni3-1415 commented on #2779
The _copy_ and the _drag and drop copy_ cursors are in blue too.
Some suggestions:

| Ubuntu: Primary (Orange) | Mate: Primary (green) | Success (green) |
|:---:|:---:|:---:|
| ![Ubuntu Orange](https://user-images.githubusercontent.com/73243667/120524640-8fa0d800-c3d7-11eb-9726-972a4a955eb2.png) | ![Ubuntu Mate Green](https://user-images.githubusercontent.com/73243667/120524643-916a9b80-c3d7-11eb-

[2021-06-02 18:58] Feichtmeier commented on #2779
I would go for orange too. And I think we should go also for orange for the spinners. Making thing overly complicated with all those many colors everythere does not really help

[2021-06-03 08:46] Benni3-1415 commented on #2779
IMO, we need a design guide that clarifies such questions, for example:

### Accent colors
#### Primary (orange)
for things that the user actively does (focus, active) so the user can directly see, what he is doing.
I. e.: select a file, **drag and drop**, active form input

#### Secondary (aubergine)
for passively things or those the user can't influence directly.
I. e.: slide-bar, (wallpaper), *

[2021-06-03 08:58] Feichtmeier commented on #2779
I would generally agree with such static styling. But we've played around with this for years and this very burning orange only looks good when it is drawn in small elements such as stripes and little gems. The checkbox and switches look better with the light aubergine we currently use. I know it's inconsistent but it looks much better.
This issue is about removing the blue out of the palette whic

[2021-06-03 08:58] madsrh commented on #2779
Do you have any thoughts here @elioqoshi ?

[2021-06-03 09:06] Benni3-1415 commented on #2779
What I wanted to say that orange should only be used there where something happens.

[2021-06-03 09:50] Benni3-1415 opened #2880 "`cursor: grab;` doesn't work"
### Expected Behavior
Seeing Yaru's grab cursor.

### Actual Behavior
Seeing Browser's grab cursor.
![grap](https://user-images.githubusercontent.com/73243667/120624807-5745dc00-c461-11eb-80d7-41511600ca6a.png)

### Steps to Reproduce the Problem
- Open the `csscursors.html` file in any Browser
- Hover over `cursor: grab;` style-sheet in any Browser

### Software that presents the issue
**Name:**

[2021-06-03 10:58] Jupi007 commented on #2880
Thanks for this report @Benni3-1415
This is similar to #2507 and #2219

I tested the `csscursors.html` into Chromium and Firefox and it revert to Adwaita (you surely don't have Adwaita installed so it revert to X default cursor):

![Capture d’écran du 2021-06-03 12-43-47](https://user-images.githubusercontent.com/36476595/120633049-fb338580-c469-11eb-8472-3e28ddb6b246.png)

But Gnome-web use the c

[2021-06-03 11:22] Benni3-1415 commented on #2880
The `cursor: all-scroll;l` is in Firefox / Chromium the grab cursor and in Gnome-web the move cursor, but not the `all-scroll` ![all-scroll](https://user-images.githubusercontent.com/73243667/120636974-9cbcd600-c46e-11eb-818e-e2e524c0c43b.png).

[2021-06-03 14:37] Feichtmeier commented on #2874
Uhm, sorry that we didn't respond?
Cursor get a make over in the pending pull request. Take a look mylord. No need to be pissed

[2021-06-03 14:57] Feichtmeier commented on #2800
Only gonna happen if we ever find a true Suru style replacement. No adwaita hardcopies. No big blue file cabinets.
If you have an actual idea that still fits exactly in our icon theme guidelines, shoot

[2021-06-03 15:01] Feichtmeier commented on #2824
Hi there. I think this is fixed in 21.04. let me take a look... Oh 😳 indeed unfixed

[2021-06-03 15:01] Jupi007 commented on #2804
At now, I think we should leave the spinner background white and drop the blue.
But as I don't know how it could look with a dark background I think we should try just to see, maybe that could be awesome :)

@Benni3-1415 as you're currently refresh the cursors, have you got time to look at this, please?

[2021-06-03 15:03] Feichtmeier commented on #2863
Yaru was linked by mistake on launchpad, not ayaru Bug

[2021-06-03 15:03] #2863 closed

[2021-06-03 15:04] Feichtmeier commented on #2844
I think we had a pr for this by @Muqtxdir but for some reason we didn't merge it, what was the reason again?

[2021-06-03 15:06] Jupi007 commented on #2797
Hi,
sorry for the very long wait.

With GNOME Software 40, the header background color is computed directly by the app without css.
I don't know why but it looks that Yaru overwrite somewhere the background, but only with the light theme (it works correctly with the dark variant):

![Capture d’écran du 2021-06-03 16-55-36](https://user-images.githubusercontent.com/36476595/120667567-ec5eca00-c48d-

[2021-06-03 15:09] Jupi007 commented on #2797
Maybe should we ask Gnome software devs, @Feichtmeier ?

[2021-06-03 15:16] Feichtmeier commented on #2797
There is a lot of gnome-software styling we overwrite, which we should prbly stop. This part could fit, otherwise maybe we should copy paste the upstream code for yaru

[code]

[2021-06-03 15:29] Benni3-1415 commented on #2804
Hello,
I know this opens a completely new discussion ...

![image](https://user-images.githubusercontent.com/73243667/120669536-d5b97280-c48f-11eb-95b4-75081d153062.png)
![image](https://user-images.githubusercontent.com/73243667/120670446-b53de800-c490-11eb-8989-17a50afa5794.png)

If we see the spinner as an _add-on_ to the cursor we could color it's border black an it is styled like the rest of

[2021-06-03 15:32] Benni3-1415 commented on #2804
### Dark bg + light aubergine
![image](https://user-images.githubusercontent.com/73243667/120671434-a86dc400-c491-11eb-97bd-9b64c7f16d6b.png)

[2021-06-03 15:35] Feichtmeier commented on #2804
No :D
Either white or orange :)

[2021-06-03 15:40] Feichtmeier commented on #2433
This is an issue from a very very old yaru theme, prbly 18.10.
THe 18.10 is no longer existent and 18.10 is out of support as far as I know, closing for this repository

[2021-06-03 15:40] #2433 closed

[2021-06-03 15:43] #2822 closed

[2021-06-03 15:43] Jupi007 commented on #2797
I tried to drop our G-software styling but that don't change anything to this problem, sadly. Also tried to remove all apps and tweaks but no result...

About completely drop our G-software styling I don't know, I think we need to open an issue to discuss the matter of remove some tweaks/apps styling.