[2021-06-03 15:47] Feichtmeier commented on #2797
Yeah it's a meta discussion indeed, sorry.

I think there's changing much in next release, let's copy paste the upstream in app gnome software styling if they only apply this when theme is adwaita. That's what they do in Nautilus

[2021-06-03 15:51] Benni3-1415 commented on #2804
But if _all the add-ons_ have a black border the _copy_ and the _drag and drop copy_ cursors would look like this:

![image](https://user-images.githubusercontent.com/73243667/120673990-f388d680-c493-11eb-89ef-f072f4b2f0f1.png)
![image](https://user-images.githubusercontent.com/73243667/120674040-fe436b80-c493-11eb-8ad6-7db57a38b5f6.png)

[2021-06-03 16:04] Jupi007 commented on #2797
Just tried to import all upstream styling, and it doesn't work either 😞
Make the header background transparent is the only solution IMO.

In fact by default the background-color isn't defined inside the css (see https://gitlab.gnome.org/GNOME/gnome-software/-/blob/master/src/gtk-style.css#L301-316) but directly inside the C code.
As Yaru styling comes in last position it is overwritten in a wrong

[2021-06-03 16:17] Feichtmeier commented on #2804
Could you show the wait cursor with a dark bg and a white spinner instead?

[2021-06-03 16:22] Benni3-1415 commented on #2804
### Dark bg + white (also used in an older version of [Suru](https://snwh.org/suru))
![image](https://user-images.githubusercontent.com/73243667/120678444-5f6d3e00-c498-11eb-8379-56bf7dff8305.png)

This means the _copy_ and the _drag and drop copy_ cursors get white as fg.

[2021-06-03 16:29] Feichtmeier commented on #2804
White looks clean but also pretty boring. Which was the reaspn why we went for the blue on the white disk in the first place.
I think a dark wait cursor is a -1 for me then, even if it means inconsistency
Let's wait for the others
Could you show an orange spinner on a white disk instead @Benni3-1415 ?

[2021-06-03 16:32] Benni3-1415 commented on #2804
Spinner as _add-on_ with orange as fg
![image](https://user-images.githubusercontent.com/73243667/120679845-e969d680-c499-11eb-85f9-295bdf298809.png)

My favorite is this version colored in light aubergine.

[2021-06-03 16:41] Feichtmeier commented on #2804
btw this was the old issue https://github.com/ubuntu/yaru/issues/2779
should we eventually focus on on dicussion ? =)

[2021-06-03 16:42] #2804 closed

[2021-06-03 16:45] Benni3-1415 commented on #2804
Should I put the different variants in the original issue too?

[2021-06-03 16:46] Feichtmeier commented on #2804
Yes, sorry for the confusion. Kind of a cursor issue flood right now I need to handle

[2021-06-03 16:47] Jupi007 commented on #2779
I agree in all points, except for progress bars. I love our purple ones (I know this is not an argument 😅).

[2021-06-03 17:01] Benni3-1415 commented on #2779
# Summary of #2804

### Cursor spinner as _add-on_
If we see the spinner as an _add-on_ to the cursor we could color it's border black and it is styled like the rest of the _add-ons_.
Next problem: Why are the _add-on_ colors inverted?
![image](https://user-images.githubusercontent.com/73243667/120673990-f388d680-c493-11eb-89ef-f072f4b2f0f1.png)
![image](https://user-images.githubusercontent.com/7

[2021-06-03 17:18] madsrh commented on #2779
Next problem: Why are the add-on colors inverted?

@Benni3-1415 I understand what you are doing, but I really liked this version 😄  [this idea](https://user-images.githubusercontent.com/73243667/120524640-8fa0d800-c3d7-11eb-9726-972a4a955eb2.png)?

[2021-06-03 18:23] Benni3-1415 commented on #2779
Is there really no way to convince Canonical to lighten up their [_light aubergine_](https://design.ubuntu.com/brand/colour-palette/ "design.ubuntu.com") or to define our own _very light aubergine_?

[2021-06-03 18:28] Feichtmeier commented on #2779
When you lighten up it even further it becomes pink. Let's just go with orange. Orange is the main accent color of ubuntu, let's embrace it

[2021-06-04 14:02] Benni3-1415 commented on #2779
To your idea @Feichtmeier, we could make the cursor white too:
![inverted](https://user-images.githubusercontent.com/73243667/120812779-981b1f00-c54d-11eb-862c-69f09edd183c.png) ![](https://user-images.githubusercontent.com/73243667/120693145-f04c1580-c4a8-11eb-8f60-792629a91a98.png)

If we see the spinner bg as the _dark_ add-on border both spinner and copy cursor would look good **and** consiste

[2021-06-04 14:04] Feichtmeier commented on #2779
Okay this looks cool 😃

[2021-06-04 14:11] Benni3-1415 commented on #2779
The pointer watch cursor looks fine, but maybe there is a bit too much color for the normal watch cursor, right?

[2021-06-04 16:38] Feichtmeier commented on #2779
Hm don't know would need to try it, I like the idea on the first look. We can then also change the gtk spinner to monochrome and be done with this topipc (and keep prple progress bars)

[2021-06-04 18:07] LinuxLlama opened #2882 "Suggestion: sidebar legibity improvement"
I've noticed a few people indicate that the new sidebar design featured in Ubuntu 21.04 is less easy to distinguish between selected and not selected. See the attached screenshot below. This isn't a super huge issue by any means, and I'm fine with the current design. I just wanted to throw the possibility of a refresh out there.

![Screenshot from 2021-06-04 10-40-34](https://user-images.githubuse

[2021-06-04 18:33] Jupi007 commented on #2882
hi @LinuxLlama thanks a lot for your feedback :)

We dropped the orange background because it was visually too much invasive. Brand colors shouldn't be used for so important things as text.
We previously think about put the text orange, but the problem is the dark theme: it looks very bad in terms of readability.
Our current design has got an excellent readability with both theme.

What do you thi

[2021-06-04 18:38] Feichtmeier commented on #2882
I personally do not prefer the orange text

Keep in mind that rows totally change with libadwaita, where we will just use upstream row styling

[2021-06-04 18:39] LinuxLlama commented on #2882
Excellent point, @Jupi007. It appears that the GNOME shell theme uses a lighter variant of the orange accent color — see the search bar for an example.

![Screenshot from 2021-06-04 11-37-15](https://user-images.githubusercontent.com/29968331/120848131-41035300-c529-11eb-879d-33e283b521e2.png)

Would it be possible to substitute this color for the dark theme? It might not even be a bad idea to use

[2021-06-04 18:40] Feichtmeier commented on #2882
That is the "focus orange" for outline focus ring and entries

[2021-06-04 18:42] LinuxLlama commented on #2882
Ah, understood. Thanks for the insight!

[2021-06-04 18:48] Feichtmeier commented on #2882
![Bildschirmfoto von 2021-06-04 20-48-45](https://user-images.githubusercontent.com/15329494/120849345-4470fb80-c576-11eb-893e-c1545d557475.png)

[2021-06-04 19:58] Feichtmeier commented on #2882
@LinuxLlama hi again, sorry for the rough reponse was on the fly 👋

Do you really think that one can not see which row is selected or is this an edge case to you? 😺

[2021-06-04 20:01] LinuxLlama commented on #2882
It's really an edge case. I do sometimes struggle with the low contrast on the highlight, especially in Nautilus, but that's just my poor eyesight. Honestly, this issue can be closed because the more I look at it, the less of a problem it is.

[2021-06-04 20:10] Feichtmeier commented on #2882
Hm, if you have reduced eyesight do you think this is a accesability problem?
The previous white text on full orange rows is an accesibilty problem too for some people. It is hard to find a middle spot. What do you think about the libadwaita upstream row selection coming to Ubuntu soon

[2021-06-04 20:19] LinuxLlama commented on #2882
It could be. I wear glasses and when I don't wear them, obviously things are blurry. If I'm not directly focused on the sidebar, the gray and white almost blend together and I have to look over to see what I've selected.

I'm not sure what the row selection is. Is it that picture you sent above? If so, the blue border actually does help my eyes see what is selected without having to look all the w

[2021-06-04 20:26] madsrh commented on #2882
I agree with @Feichtmeier that the orange text isn't working. I like your mockups but IMO the colored text isn't easier to distinguish between the selected and not selected.

[2021-06-04 20:28] Feichtmeier commented on #2882
In flutter there is also this nice trick with material icons having always an outline and a filled version. So when you click the row the icon becomes filled, we don't have this luxury in gtk :)

[2021-06-05 10:15] Feichtmeier commented on #2779
@Benni3-1415 could you include those changes in your pending cursor PR?

[2021-06-05 10:33] Benni3-1415 commented on #2779
I think it's a different topic, I create a new one ...

[2021-06-05 10:45] Benni3-1415 commented on #2779
## Changes

![](https://user-images.githubusercontent.com/73243667/120812779-981b1f00-c54d-11eb-862c-69f09edd183c.png)
![](https://user-images.githubusercontent.com/73243667/120524640-8fa0d800-c3d7-11eb-9726-972a4a955eb2.png)

Can someone else change the gtk theme, I don't know how to do it yet ... :slightly_smiling_face:

[2021-06-05 11:02] Feichtmeier commented on #2779
working on it:
![grafik](https://user-images.githubusercontent.com/15329494/120889603-3f578f00-c5fe-11eb-9868-95410f4c5084.png)

[2021-06-05 11:13] Benni3-1415 commented on #2779
Do I have to build it, or is it enough to run the `render-cursors.py` script?

[2021-06-05 11:18] Feichtmeier commented on #2779
After changing the cursor SVGs you need to render the cursors, yes. but there is more to do I think. those X11 cursors?
@ubuntujaggers @Jupi007 pleas help Benni

[2021-06-05 11:21] Benni3-1415 commented on #2779
I find it very irritating that it makes a difference whether you build the repository or not, normally only the source code is in the repository.
I think I'll do a PR in the future to simplify the building process ...

[2021-06-05 11:37] Feichtmeier commented on #2779
If this is easier for you, you can just cretae *one* pull requests for both of your changes, we merge it, and our icon specialists render it when they come back, okay?

[2021-06-05 12:02] Benni3-1415 commented on #2779
Yes, good idea, I don't get the build correct.

[2021-06-05 12:11] Feichtmeier commented on #2779
Both of your PRs work on the same file - the chance is high that this result in a git conflict.
The best thing would be if you would include this change in your older PR

[2021-06-05 12:46] Benni3-1415 commented on #2779
Yes, I forgotten, merging the images would go terribly wrong!

[2021-06-05 21:09] #2779 closed

[2021-06-05 21:09] #2874 closed

[2021-06-06 12:33] madsrh commented on #2882
@LinuxLlama can we close this issue?

[2021-06-06 14:25] LinuxLlama commented on #2882
Yup, I'll go ahead and do that

[2021-06-06 14:25] #2882 closed

[2021-06-06 18:37] Jupi007 commented on #2779
Sorry for the long no-response, I was absent yesterday and today, and on top of that, I can't start Telegram anymore 😞

Well, I think you need to run `w32-make.sh` and `x11-make.sh` inside the `icons/src/cursors` folder to render cursors.

[2021-06-06 18:52] Feichtmeier commented on #2779
Np! Hope you are okay?

w32-make.sh does not work, it complains about the other script to be not existent even if it does. doubled checked the path 🤷 no idea

[2021-06-06 19:00] Jupi007 commented on #2779
Alright, thanks :)

Just tried `w32-make.sh` and that indeed do not work.
It says many and many times this:
[code]
I checked and I have `python3-pil` installed.
@clobrano An Idea?

[2021-06-06 19:44] clobrano commented on #2779
I'll have a look

[2021-06-06 19:53] clobrano commented on #2779
well, basically it is based on python2, it needs rework :muscle:

[2021-06-06 21:41] Feichtmeier opened #2888 "Wait cursor is not rendered"
Thanks to @clobrano change with #2887 the w32 script now works and together with the x11 script it procudes a huge load of cursors but the wait cursor is still not being rendered and we want to render the recent cursor overhaul

I did the following:
./render-cursors.py source-cursors.svg
./w32-make.sh
./x11-make.sh
ninja install
swap cursor theme

![Peek 2021-06-06 23-36](https://user-images.githu

[2021-06-08 17:09] LinuxLlama opened #2892 "Suggestion: add depth to GTK4 tabs"
This issue is completely subjective and I'm fine if the design team has their own preferences regarding this matter. It's a small, minute detail.

![adwaita](https://user-images.githubusercontent.com/29968331/121227517-8208a980-c840-11eb-99c2-28a6b4187e28.png)

This is how upstream tabs look. In contrast, here's Yaru's tab design.

![yaru](https://user-images.githubusercontent.com/29968331/1212276

[2021-06-08 17:16] Feichtmeier commented on #2892
in general we are more flat yes, and this will prbly not change.
however with gtk4 + libadwaita upstream is closer to yaru and yaru is closer to upstream resulting in almost exactly the same look, just a bit less round and no gradient on the headerbar

This specific case has already been addressed in the last PR - the view switcher looks 100% like in upstream. Can post pictures later, or you test

[2021-06-08 17:16] #2892 closed

[2021-06-08 17:21] LinuxLlama commented on #2892
Thanks for the response, @Feichtmeier

I'll definitely test building GTK4!

[2021-06-08 18:03] Jupi007 commented on #2797
My solution doesn't work at all.
We cannot make the header background transparent because it is overwritten after by the app itself (even with a hyper specific selector). That was working with the inspector because it was applied **after** the app styling.

I think the only solution is ask the devs about this.

[2021-06-08 18:16] Benni3-1415 commented on #2805
The header bar is larger, because the Gtk feature _Client side window decorations_ is turned on. The height depends on the widgets inside it.
Most Gnome apps (i. e. not [Shotwell](https://wiki.gnome.org/Apps/Shotwell "Gnome wiki")) have buttons in the header bar and require this feature.

Yes, it looks inconsistent, but aligning the heights isn't a real solution either, IMO.

[2021-06-09 18:38] Jupi007 opened #2894 "Missing symbolic icons in gnome-calendar 40"
![Capture d’écran du 2021-06-03 17-06-02](https://user-images.githubusercontent.com/36476595/121410139-91801380-c962-11eb-8999-6d29a889d0a0.png)

[2021-06-09 21:00] ubuntujaggers opened #2895 "snap-symbolic is causing problems..."
In Inkscape, it's replaced at least three of the icons associated with snapping:

![image](https://user-images.githubusercontent.com/38893390/121428703-0573e900-c96e-11eb-86c2-0259d9f02fac.png)

Does anyone know what the expected use is for this symbol...?

[2021-06-10 07:13] Feichtmeier opened #2896 "Send the Updated/Fixed plymouth theme to Seb128"
@seb128
You helped me to work on the Ubuntu plymouth theme.
We've found some spinner frames to not be perfect which causes a slight lag in the spinning animation
@Muqtxdir fixed it
Shall we include the plymouth theme in the yaru repository?
And could you help us with getting it into 21.10?

[2021-06-10 10:01] Feichtmeier commented on #2894
Looks nice - eventually make the grid have a little more space between the dots and the dots smaller?

[2021-06-11 10:35] Jupi007 commented on #2895
Here is what I think: we don't have these icons into Yaru so Gtk try to take an icon with a close name (snapping -> snap).
The snap symbolic is not used by any app, so either we drop it, either we add snapping icons into Yaru.

IMO we should drop this snap icon because that could brake other icons.

[2021-06-11 14:58] ubuntujaggers commented on #2895
It's a beautifully executed SVG of an origami bird so we should use it for something 🤔

I need to do snapping icons anyway so maybe I'll do those and see if it fixes it.

[2021-06-11 19:03] #2894 closed

[2021-06-11 20:53] Feichtmeier opened #2899 "info bars are too bright"
![grafik](https://user-images.githubusercontent.com/15329494/121747551-df824c00-cb07-11eb-8ba1-8cd4fb3d916f.png)

[2021-06-12 07:49] sith-on-mars commented on #2852
I found the [Yaru Plus](https://github.com/Bonandry/yaru-plus#difference-between-alternative-icons-themes) icon theme, which is made by the same author of Adwaita Plus. Yaru Plus covers some of the missing icons, but not all of them. Maybe you could take a look?

[2021-06-12 07:52] sith-on-mars commented on #2852
Not quite sure what does it mean. Could you elaborate?

[2021-06-12 11:27] Feichtmeier opened #2903 "Check/radio transitions causes wiggling :eyes: effect"
![Peek 2021-06-12 13-26](https://user-images.githubusercontent.com/15329494/121774253-dcc43d00-cb81-11eb-84a1-7cfeac650b51.gif)

[2021-06-12 11:58] #2903 closed

[2021-06-12 12:06] Feichtmeier commented on #2794
The contrast is now very nice for gtk4
![](https://user-images.githubusercontent.com/15329494/121771893-7ab00b80-cb72-11eb-903b-134aa0ca4890.png)

[2021-06-13 13:56] #2895 closed

[2021-06-13 17:13] LinuxLlama opened #2908 "GDM background should follow overview"
The upstream GDM theme uses the same background as the shell theme. This isn't the case on Yaru. There's a somewhat jarring transition from the striking purple to the subdued gray. I also think that the overview gray color would look nicer with the bubbles and text field.

![Screenshot from 2021-06-13 10-05-23](https://user-images.githubusercontent.com/29968331/121816303-ae9d3680-cc2f-11eb-9932-fa

[2021-06-13 17:57] Jupi007 commented on #2908
Hi @LinuxLlama, thanks for this feedback.
Currently using Gnome 40 with Ubuntu 21.04 thanks to the [shemgp ppa](https://launchpad.net/~shemgp/+archive/ubuntu/gnome-40), I'm unable to use Yaru with GDM. How did you do that, I'm very interested?

About changing GDM background, I'm not against it at all. The only problem on my side is that I can't test Yaru with GDM...

_Offtopic: your wallpaper is r

[2021-06-13 18:01] LinuxLlama commented on #2908
I used the `set-gdm-theme` command from [this repository](https://github.com/realmazharhussain/gdm-tools). All the instructions are available on the page!

Thank you! I modified it to use the Ubuntu orange color. It looks great alongside Yaru.

[2021-06-13 18:28] Jupi007 commented on #2908
I did a test PR here 👆

Awesome, I can finally use Yaru on the login screen, big thanks!

[2021-06-13 18:35] Jupi007 commented on #2908
Which gresource option?

[2021-06-13 18:37] Muqtxdir commented on #2908
the same gnome-shell gresource in the meson file but what @LinuxLlama says also works

[2021-06-13 18:38] Jupi007 commented on #2908
Okay, thanks :)

[2021-06-15 07:18] Feichtmeier commented on #1917
@clobrano are there any python2 scripts left? I remember that you converted two scripts

[2021-06-15 07:21] Feichtmeier commented on #2271
@madsrh is there anything left you want to add to the wiki?

[2021-06-15 07:26] Feichtmeier commented on #2714
is this still opened? @Initu-Castilhos @Initu

[2021-06-15 07:26] Feichtmeier commented on #2716
yaru-unity-theme is not part of this repository

[code]

[2021-06-15 07:26] #2716 closed

[2021-06-15 07:29] Feichtmeier commented on #2754
@ahayzen I think the problem is that this app does not use the symbolic icons - full color icons should not be used for those icons - maybe you could report this to the repo of the app instead?

[2021-06-15 07:37] Feichtmeier commented on #2802
@vanvugt could you leave a comment on this one? Is this a bug in gnome shell for other fonts than cantarell?

[2021-06-15 07:38] Feichtmeier commented on #2805
This is intended and as @Benni3-1415 said - a titlebar is not always a headerbar and a headerbar is not always a titlebar

[2021-06-15 07:38] #2805 closed

[2021-06-15 07:46] madsrh commented on #2271
I've lost the overview / big picture here, so ATM no, but please @ubuntujaggers or @Jupi007 if you want to add anything here, just go ahead 👍

[2021-06-15 08:27] Feichtmeier opened #2912 "Default/Mixed theme separators are white"
![grafik](https://user-images.githubusercontent.com/15329494/122019595-3d42bc80-cdc4-11eb-9b0b-7d0821840ac8.png)

[2021-06-15 08:30] seb128 commented on #2896
@Feichtmeier thank you for the ping but where is the fix exactly? the spinner icons are included in the plymouth package and it probably makes sense to keep it this way since we can't ensure that yaru is installed or rely on that (also in the case of encrypted disk only the initramfs content is available)

[2021-06-15 08:31] Jupi007 commented on #2912
Added the `not-fixable` label because as said on discord: separators aren't part of the headerbar.

[2021-06-15 08:33] Feichtmeier commented on #2896
@seb128 the fix is currently in @Muqtxdir 's hands - should he send you the fixed version?

[2021-06-15 08:43] Feichtmeier opened #2913 "Proposal: remove the mixed theme from Yaru"
Gtk3 and Gtk4 both do **_not_** support having different background/text colors for headerbar than in the rest of the window. This means that to have bug free applications, the headerbar needs to have the same background and text "luminescence" as the rest of the window. The technical reason for this is, that the only "api" available for theming in gtk, public-color.scss, does not support headerba

[2021-06-15 08:50] seb128 commented on #2896
If you want it uploaded that would be advisable ;-)

[2021-06-15 08:50] clobrano commented on #1917
No, we're free from such plague. Closing this 🙏

[2021-06-15 08:50] #1917 closed

[2021-06-15 08:54] Feichtmeier commented on #1917
@clobrano thank you :)

[2021-06-15 09:38] Muqtxdir commented on #2896
Hi @Feichtmeier, @seb128 👋

Attached `spinner-assets.zip` containing:
- animation(0001 to 0036).pngs ( *modified* )
- bgrt-fallback.png ( ***newly-added***, *needed since this merge-request [#131](https://gitlab.freedesktop.org/plymouth/plymouth/-/merge_requests/131)* )
- bullet.png ( *unchanged* )
- capslock.png ( *unchanged* )
- entry.png ( *unchanged* )
- keyboard.png ( *modified* )
- keymap-re

[2021-06-15 11:20] seb128 commented on #2896
Thanks! So the files indicated as 'unchanged' it's compared to upstream which means we don't need to include those overrides in the packaging right? The changes to use a fallback aren't included in the current version so unsure how to test that one without trying to update the package first, how did you verify it was correctly displaying?

[2021-06-15 12:12] Muqtxdir commented on #2896
your welcome and yes, no need to override them.

I tried out the `master` branch from the [plymouth-repository](https://gitlab.freedesktop.org/plymouth/plymouth) in a vm as I don't think the changes made to `two-step` plugin are present in `impish-devel` (I could be wrong about this).

[2021-06-16 11:34] seb128 commented on #2896
Was there any discussion about the proposed changes? The updated watermark has a colored ubuntu icon where the desktop team updated it on purpose a year ago to use a black and white version since we were in agreement that it was nicer.

[2021-06-16 11:47] Feichtmeier commented on #2896
Good question - @Muqtxdir could you use the old watermark instead? I think it looks a little bit less in the face :)
Then re-upload the changed zip?

[2021-06-16 11:51] seb128 commented on #2896
No need to reupload the zip if we decide to keep the old one, it just means we don't need to replace that file in the pltymouth package by the one from the zip.

@Feichtmeier your comment suggests there is an agreement to use the non colored version? If so I will just uploaded with the other new assets from the current zip

[2021-06-16 11:55] Feichtmeier commented on #2896
I do not have an opinion on this one, I like both versions and I think both versions are compatible with the brand rules of the ubuntu logo - my intention was to fix the lagging spinner

[2021-06-16 11:59] seb128 commented on #2896
Alright, I will upload the non controversial changes now and if someone cares about making the logo colored again please start a new topic specific to that one

[2021-06-16 12:02] Feichtmeier commented on #2896
Okay thanks :) Give @Muqtxdir some credits in the changelog please :)

[2021-06-16 12:36] Muqtxdir commented on #2896
I changed the watermark.png to the colored **_ubuntu-wordmark-logo_** to have it look similar to **_bgrt-fallback logo_**
(*see screenshot* )
![bgrt-disable](https://user-images.githubusercontent.com/54065734/122218530-2d160480-cecc-11eb-967a-96ed666f1f96.png)

sorry for that, I'm totally onboard with using the previous black-and-white watermark

nice, thank you :+1:

[2021-06-17 15:58] LinuxLlama opened #2915 "Missing icon for close button in overview"
**GNOME**: 40.1.0
**Distribution**: Fedora 34 (Workstation Edition)
**Yaru**: 21.04.1-96-g9105b764

![Screenshot from 2021-06-17 08-50-00](https://user-images.githubusercontent.com/29968331/122431664-82442b80-cf49-11eb-92e9-e65b9318b4ec.png)

This occurs when I build with the `gnome-shell-gresource` option set to `true` or if I use Yaru as the GDM theme. I did a bit of digging and found that the u

[2021-06-17 16:01] LinuxLlama commented on #2915
I'm in the Yaru session. All of the other added assets work, such as the spinner, notification bell, and arrows in the app grid

[2021-06-17 16:07] Feichtmeier commented on #2915
I think this only works in yaru with no modifications made to the build and in the Ubuntu session. But I think only @3v1n0 has a real answer on this, but he is very rarely on this repo around

[2021-06-17 16:09] Muqtxdir commented on #2915
@LinuxLlama I'll try out GNOME 40.1 session tomorrow, it's probably due to a change in name of `windows-close-24.svg` that was used in GNOME 40.0

[2021-06-17 19:15] #2915 closed

[2021-06-17 19:50] madsrh commented on #2913
Here's another example from Firefox:

![image](https://user-images.githubusercontent.com/3986894/122463478-f0263c80-cfb5-11eb-8a9b-09071610a700.png)

[2021-06-17 20:01] madsrh opened #2918 "Firefox tabs appear incorrectly in the mixed theme"
Because we're using a dark headerbar in an otherwise light theme, Firefox is styling the tabs incorrectly. The two issues are:
- a white background for the selected/active tab
-  icons not being inverted (see the Github icon below)

![image](https://user-images.githubusercontent.com/3986894/122463680-2ebbf700-cfb6-11eb-9afb-94583dc240e3.png)

[2021-06-18 06:13] hwittenborn commented on #2918
I'm on Ubuntu 20.04, but I don't even have the GitHub icon working correctly on the full dark theme:

![image](https://user-images.githubusercontent.com/74838472/122514973-5de06180-cfd2-11eb-8d66-85ff1019d27b.png)

I'm in Google Chrome if it helps at all.

Is it just a bug with the 20.04 release of Yaru or something?

[2021-06-18 06:22] madsrh commented on #2918
This is a bug in Chrome not supporting dark themes. There's nothing we can do here.

[2021-06-18 08:14] Feichtmeier commented on #2896
Landed in daily
[code]

thanks both @Muqtxdir and @seb128 !

[2021-06-18 09:09] seb128 commented on #2896
@Muqtxdir was there an issue with the upload that your reopened?

[2021-06-18 09:11] Muqtxdir commented on #2896
Hi @seb128

I was trying out the new-changes in [plymouth_0.9.5-0ubuntu3.1](https://code.launchpad.net/~usd-import-team/ubuntu/+source/plymouth/+git/plymouth/+ref/applied/ubuntu/impish) and the **bgrt-fallback.png** is sized at 536x536, instead of it being 128x128 like the one from the updated`spinner-assets.zip` in previous comment

[2021-06-18 09:13] seb128 commented on #2896
Oh, sorry, I missed your EDIT and the fact that you add a new zip with different content at the same place. We don't have the plymouth support for that feature at the moment but I will include the updated asset when we update plymouth

[2021-06-18 09:19] Muqtxdir commented on #2896
thankyou for this, 👍

[2021-06-18 11:55] Benni3-1415 commented on #2918
The browser does not invert the icon, Github detects the color scheme with `prefers-color-scheme` (in the mixed theme light) and then sets the icon (in this case dark).
This error has been also existing on Windows until Firefox 89 came out and the title-bar color changed from dark blue to white.

[2021-06-18 18:52] Initu-Castilhos commented on #2913
In case Yaru-light will be renamed to Yaru?

[2021-06-18 20:06] Feichtmeier commented on #2913
Yes, we will probably stick to "yaru" and "yaru-dark" then ⚪ / ⚫

[2021-06-19 00:33] chrisjbillington opened #2920 "Cursor change is a bit radical"
Old cursor:

![image](https://user-images.githubusercontent.com/1044087/122625371-d991eb00-d072-11eb-9741-cd99c81ba4b5.png)

New cursor:

![image](https://user-images.githubusercontent.com/1044087/122625318-89b32400-d072-11eb-9669-96ea744f59ab.png)

There isn't much innovation in default cursors anymore, OSs and themes seem to have standardised on an arrow with a stem like Yaru had previously.  (a

[2021-06-19 08:16] Feichtmeier commented on #2920
Hi Chris :wave:
Yes it is a big change - but we talked and discussed it in several PRs. It looks like we are going to use this cursor now, but considering you often have a good veto, let's have some last opinion round on this topic. CC @ubuntu/yaru-team

[2021-06-19 08:52] Benni3-1415 commented on #2913
I like the mixed theme very much.

#### One idea to keep it alive:
![idea](https://user-images.githubusercontent.com/73243667/122636892-eef72b80-d0eb-11eb-96d7-b61408c3a28f.png)

The lighter shade doesn't look as good as before, but the widgets could stay in the light theme!

[2021-06-19 11:24] chrisjbillington commented on #2920
Appreciate my subjective opinion being taken seriously :p. If you go for it I will definitely get over it and not flip any tables. But yes, I do think it is a shame to move against the grain on one of the few things that has been standardised across OSs, and it was genuinely jarring when I first saw it. I suspect there'll be a bit more pushback than just me.

I see PR #2868, were there others?

[2021-06-19 11:51] jbouter opened #2921 "yaru cursors: kde/plasma support"
**Expected Behavior**

For all cursors to properly display, in a KDE plasma behavior

**Actual Behavior**

Key components and symbolic links are missing that KDE plasma expects

**Steps to Reproduce the Problem**

1. Use KDE Plasma
2. Install the yaru cursor theme
3. Enable the cursor theme
4. Observe missing icons, falling back to the breeze cursors

**Yaru version**

[code]

**Missing Icons**

T

[2021-06-19 12:11] Muqtxdir commented on #2921
Hi @jbouter 👋
Thanks for sharing the files that needed to be linked. I'll do this

[2021-06-19 13:14] jbouter commented on #2921
Hi @Muqtxdir 👋🏻

Thanks! If there's any assisting I can do, please let me know. :-)

[2021-06-19 19:57] Feichtmeier opened #2923 "Aubergine spinner could need an outline"
@Benni3-1415

I really enjoy the aubgergine spinner, but because it has a purple border it can look smaller than it actually is. Could you try to make it have a white outline?

https://user-images.githubusercontent.com/15329494/122654116-6313ec80-d149-11eb-89a1-7b609615a682.mp4

[2021-06-20 16:35] Benni3-1415 commented on #2923
At first:
All cursor _additions_ are white with a dark (black / orange / aubergine) outline (e. g. not _drag-and-drop move_ I'll correct this).
If there is an other solution (than making a white outline) I would chose it.

#### Dark theme
Stupid solution: enlarge the circle:
![spinner-dark](https://user-images.githubusercontent.com/73243667/122681653-b5aae280-d1f5-11eb-94fb-141b73fb442c.png)

####

[2021-06-20 16:41] Feichtmeier commented on #2923
Hmmm. Def. needs the shadow to get a little depth. THe bigger circle could work. Could you show a picture with the white outline though? :)

[2021-06-20 16:54] Benni3-1415 commented on #2923
If all the _additions_ were given a shadow, those with a black border would look blurry:
![link](https://user-images.githubusercontent.com/73243667/122682243-a24d4680-d1f8-11eb-9dd8-0a07040e96ac.png)

#### @Feichtmeier your outline
![spinner-outline](https://user-images.githubusercontent.com/73243667/122682112-e0963600-d1f7-11eb-9617-435cdfa2b50c.png)

[2021-06-20 17:00] Feichtmeier commented on #2923
Well, this looks better IMO
I would not say that this spinner is "an addition". It is a full cursor :)
And thank you for the work btw :)!!!
Let's wait on the others' opinion

[2021-06-20 17:15] Muqtxdir commented on #2923
@Benni3-1415 would be cool if you could push a PR, so that we can see how it looks on various backgrounds.

but judging from the images in this issue-thread, this looks good

[2021-06-20 17:38] Benni3-1415 commented on #2923
Right, it is very unusual to have a cursor as an _ addition_ ...

The spinner is the only cursor / widget, where a shape fades out!

#### Spinner as cursor
![cursor1](https://user-images.githubusercontent.com/73243667/122683227-248c3980-d1fe-11eb-93b8-c0b2a732091d.png) ![cursor2](https://user-images.githubusercontent.com/73243667/122683239-37067300-d1fe-11eb-866a-8459c4410d3c.png) ![cursor3](https

[2021-06-20 17:52] Benni3-1415 commented on #2920
The original PR: #2868

The new design is actually inspired by Adobe (it is used as the default cursor in e. g. Illustrator) and the Yaru cursors with _additions_ (or extra icons).

I expected this argument and I think you get used to the cursor quickly, because you see it every day.

[2021-06-20 19:18] ubuntujaggers commented on #2920
Having used the new cursor a bit and had time to get used to it, I definitely like the new hands :+1: but I prefer the traditional arrow.

I think my question would be, what does changing the arrow improve?  It didn't look bad and there weren't any usability issues.  For some reason the stemmed arrow draws my eye to the tip of the arrow (where the hotspot is) while the current one draws it more to

[2021-06-20 19:47] madsrh commented on #2920
I really thought that this new design would grow on me (I use Adobe applications every day), but it's hasn't.

@ubuntujaggers said it 👍

The good thing about this being in master is that more people have been testing it. It hasn't shipped in a release yet and UI freeze isn't until September, so there's plenty of time.

[2021-06-21 01:41] vanvugt commented on #2802
I've been assuming this is a gnome-shell bug. I had not considered the possibility that it is specific to a font, but indeed I can only find Ubuntu users reporting the issue.

Ubuntu bug: https://bugs.launchpad.net/bugs/1882291
GNOME bug: https://gitlab.gnome.org/GNOME/gnome-shell/-/issues/2912

[2021-06-21 06:41] Feichtmeier commented on #2802
Thanks @vanvugt !
Then we can close it here :)

[2021-06-21 06:41] #2802 closed

[2021-06-21 13:13] ubuntujaggers opened #2924 "With dark theme, current line is unreadable in Gedit"
Is this the case for everyone, or has something just gone funny for me?  The current line is highlighted in Gedit, but in dark theme, it comes out as white on light grey:

![image](https://user-images.githubusercontent.com/38893390/122767666-cc574500-d29a-11eb-9288-d1bbed05e13c.png)

[2021-06-21 13:29] Muqtxdir commented on #2924
Hi @ubuntujaggers 👋

This is known-issue and caused because of using the default classic `gtksourceview`, you can correct this by going to **preferences** -> **fonts & colors** and choosing either ***Yaru-light*** or ***Yaru-dark*** color scheme

[2021-06-21 14:22] Benni3-1415 commented on #2920
This is how it would look corrected:
![left_ptr](https://user-images.githubusercontent.com/73243667/122776067-0a5c6500-d2ab-11eb-9ad2-b10d367d5336.png) ![left_ptr (12px)](https://user-images.githubusercontent.com/73243667/122776445-66bf8480-d2ab-11eb-8325-a9d495f864e5.png "24px")
The 24px version is not pixel perfect on the left.

---

I don't know any good objective reason!

[2021-06-21 16:10] elioqoshi commented on #2920
If it's helpful, I could go over this with the Brand team over the next meeting tomorrow :)

[2021-06-21 16:35] Feichtmeier opened #2925 "Remove aubergine from the Yaru palette"
This comes directly from a rebranding initiative at canonical:

All widgets coloured in aubergine need to be coloured in monochrome or ???. The only exception are the green elements.

This needs changes in gtk2, gtk3, gtk4, cursor theme and gnome shell theme for:

- sliders
- checks/radios
- switches
- the wait cursors

WIP: on waiting mode until the accent color is chosen

[2021-06-21 16:58] waynecrosby commented on #2920
I have to agree with @ubuntujaggers. It's not a good pattern to follow and goes against what is now standard in the OS industry. The removal of the stem in Illustrator and Photoshop is to allow the addition of an icon when interacting with objects, which works well in an application with different menu items but is not adding anything in our OS.

Wether it looks more modern or not is a subjective

[2021-06-21 17:21] LinuxLlama commented on #2925
Would this also include the login screen? #2910

[2021-06-21 17:27] Feichtmeier commented on #2925
Good question - CC @elioqoshi

[2021-06-21 18:51] Jupi007 commented on #2888
Closed with #2916

[2021-06-21 18:51] #2888 closed

[2021-06-21 23:13] Initu-Castilhos commented on #2925
But the icons also have to change, as the tab has aubergine and orange gradient colors.

[2021-06-22 01:50] Initu-Castilhos opened #2928 "Change a terminal's background color."
Change terminal color to bg_color and fg_color equal to Adwaita.[
![Captura de tela de 2021-06-21 22-46-14](https://user-images.githubusercontent.com/59381215/122850016-ec125b80-d2e2-11eb-9f39-e0a6ebcd6555.png)
](url)

![Captura de tela de 2021-06-21 22-46-30](https://user-images.githubusercontent.com/59381215/122850079-02b8b280-d2e3-11eb-8b95-188531f83eb0.png)

[2021-06-22 06:17] Feichtmeier commented on #2925
I think gradients can stay

[2021-06-22 06:22] Feichtmeier commented on #2928
Let's wait until the canonical design team found everything they want to change.
I think it's all about the accent colour in control elements but let's see

[2021-06-22 06:32] elioqoshi commented on #2913
Just to be explicit: I went over this with the Brand and Visual team at Canonical and we agree that this is the best way to move forward. We would also aim to be closer in the loop with stylistic decisions for the next release since we are doing a rebranding where it would be beneficial to be more up-to-date with progress

[2021-06-22 06:35] elioqoshi commented on #2925
As far as I know everywhere aubergine is applied, so yes.

In the context of the login screen we might apply light or dark theming to it, I assume? I mean there shouldn't be any reason for it to be dark if the light theme is selected, right?

Please keep in mind these are all work-in-progress discussions and we might not have all of the answers yet :)

[2021-06-22 09:47] #2920 closed

[2021-06-22 09:47] #2923 closed

[2021-06-22 16:35] clobrano commented on #2928
Hey @Initu-Castilhos, could you explain the rational behind this request?

[2021-06-22 16:36] clobrano commented on #2924
Yes, we had some Launchpad issues tracking this, but I think @flexiondotorg fixed also this in Mate somehow

[2021-06-22 17:04] #2913 closed

[2021-06-22 17:07] Initu-Castilhos commented on #2928
I think using less aubergine color is better.

[2021-06-24 23:08] ahayzen commented on #2754
@Feichtmeier I've reported https://github.com/mate-desktop/mate-applets/issues/608 :-)

[2021-06-25 06:34] Feichtmeier commented on #2918
Fixed with #2922

[2021-06-25 06:34] #2918 closed

[2021-06-25 06:34] Feichtmeier commented on #2912
Fixed with #2922

[2021-06-25 06:34] #2912 closed

[2021-06-25 06:35] Feichtmeier commented on #2824
@ubuntujaggers @Jupi007 @Muqtxdir any takers?

[2021-06-25 09:22] Feichtmeier commented on #2880
Some of the cursor PRs have fixed this for both _chrome_ and _edge_:
![grab](https://user-images.githubusercontent.com/15329494/123401581-3a578100-d5a7-11eb-9722-7ffae000081e.gif)

but not with firefox
![ff](https://user-images.githubusercontent.com/15329494/123401918-84406700-d5a7-11eb-90a6-22409dd530b5.gif)

What symlink/name are we missing?

[2021-06-25 10:28] Feichtmeier commented on #2928
Ah, I just remembered @didrocks really loving the dark aubergine ubuntu terminal, he might as well have an opinion on that, too :)

[2021-06-25 11:23] #2880 closed

[2021-06-25 11:45] #2824 closed

[2021-06-25 13:37] Benni3-1415 commented on #2880
`cursor: grab;` does work now :+1:

but not the `all-scroll` ![all-scroll](https://user-images.githubusercontent.com/73243667/120636974-9cbcd600-c46e-11eb-818e-e2e524c0c43b.png).

But this is still not fixed!

[2021-06-25 13:40] Jupi007 commented on #2880
@Benni3-1415 I remember that each navigator has it's own cursor name implementation. So it's not Yaru's fault 😉

[2021-06-26 11:31] thedefectiveram opened #2933 "Snap store Update button is indistinguishable"
**Expected Behavior**

I have Sublime Text installed, and a few weeks back version 4 came out and I had noticed that mine was still on version 3 and had not self update. So I fired up Ubuntu Snap store and looked up Sublime Text. Took me a good 10 to 20 seconds and I saw that there was an Update button that would force update.

**Actual Behavior**

The Update button is grey on grey background
**St

[2021-06-26 11:35] Feichtmeier commented on #2933
Since we only color buttons green that use the .suggested-action styleclass they are normally colored.

I mean, agree with you - I am just not a fan of overriding stuff. I don't really know what the future of gnome software, the snap store and Ubuntu is, but eventually you could open up an issue on gitlab / gnome software. Pro tip: use Adwaita as your theme for the screenshot ;)

[2021-06-28 07:11] didrocks commented on #2928
This was also a branding value. Please check with the design team, but there are strong markers for the ubuntu branding and this is one of them, so that you know "you are on ubuntu".

People who don’t like aubergine can always switch to another terminal theme (many are shipped with the system)

[2021-06-28 08:27] Feichtmeier commented on #2928
Since we "force" yaru-dark for the terminal, I would also recommend the Aubergine. But maybe we could reduce this to the dark theme, so when someone selects to follow the system in the settings and choses the light theme the terminal follows
![grafik](https://user-images.githubusercontent.com/15329494/123604703-61a68c00-d7fb-11eb-8fef-cd8112b2263f.png)

[2021-06-28 17:21] Feichtmeier commented on #2358
Fixed with #2922

[2021-06-28 17:21] #2358 closed

[2021-06-28 18:11] joaopauloalbq opened #2935 "Header bar is too huge"
Could a more compact headerbar be added?

![yaru huge](https://user-images.githubusercontent.com/9905202/123682241-24ed8b80-d821-11eb-9c41-525689fa1683.png)

![yaru compact](https://user-images.githubusercontent.com/9905202/123683703-e953c100-d822-11eb-80f3-a341528d06da.png)

[2021-06-28 18:13] Feichtmeier commented on #2935
Hi there, we've decided to not change any of gnome themes padding. So I'm sorry but we're not gonna change this. Best regards and thanks for wanting to help

[2021-06-28 18:13] #2935 closed

[2021-06-28 18:22] joaopauloalbq commented on #2935
I understood :(
Thanks for the answer!

[2021-06-30 15:15] seb128 commented on #2896
The logo has been included in the new upload, https://launchpad.net/ubuntu/+source/plymouth/0.9.5git20210323-0ubuntu1 , which is a new git snapshot with support for the fallback bgrt logo, testing feedback would be welcome!

[2021-06-30 15:35] Muqtxdir commented on #2896
Thanks @seb128. I'll try that in vm and close this issue

[2021-07-01 00:23] Initu-Castilhos commented on #2714
Yes!

[2021-07-01 08:56] antenore opened #2940 "Remmina panel/systray icon renamed"
I'm the Remmina maintainer, we have renamed the panel (system tray) remmina icon from remmina-panel to remmina-status.

I'm not sure how you could proceed as older versions of Remmina will still have remmina-panel (and remmina-panel-inverted).

Probably adding a new remmina-status.(svg|png) as a copy of the existing remmina-panel.(svg|png) icons?

Sorry for the inconvenience, this change was neede

[2021-07-01 13:14] Muqtxdir commented on #2896
Tested on **ubuntu-desktop 21.10** by passing the `bgrt_disable` in grub-bootloader, it displays bgrt-fallback correctly

https://user-images.githubusercontent.com/54065734/124129955-e7486700-da9b-11eb-9cb9-e7a3acede7b2.mp4

[2021-07-01 13:15] #2896 closed

[2021-07-01 15:44] LinuxLlama opened #2941 "GNOME Software 40-41 inconsistencies with Adwaita"
**Application:** gnome-software
**Version:** 41~alpha-0.20210701git839e7b0.fc34
**System:** Fedora 34 (Workstation Edition)
**Yaru:** 21.04.1-109-g3b9b1ffa

The latest development version of GNOME Software has some issues with the Yaru theme. Notice the lack of a border around the installed section:

![Screenshot from 2021-07-01 08-23-38](https://user-images.githubusercontent.com/29968331/12415180

[2021-07-01 15:51] Feichtmeier commented on #2941
I guess that's new custom CSS :)

https://gitlab.gnome.org/GNOME/gnome-software/-/blob/master/src/gtk-style.css

[2021-07-01 15:58] Muqtxdir commented on #2844
I'll look into this, once GNOME 40 stuff lands in 21.10

[2021-07-01 20:56] Muqtxdir commented on #2924
@clobrano does it make sense to trigger theme-change of **gedit** via Appearance in Settings like this?

https://user-images.githubusercontent.com/54065734/124188293-b4729300-dadc-11eb-8071-f7c0c0c22400.mp4

[2021-07-02 19:05] #2941 closed

[2021-07-03 14:26] fouzan14 commented on #2924
I am also affected by this issue, @clobrano @muqtxdir @ubuntujaggers do I install yaru from Github to get this menu in Settings ?

[2021-07-03 15:22] clobrano commented on #2924
Hi @Muqtxdir, sorry for the late response, I didn't get the notification this time. It is a nice idea 👍

[2021-07-03 16:12] Muqtxdir commented on #2924
no problem, I'll add gedit-prefrences scheme into Theme-preview boxes.

@fouzan14 Sorry for the confusion this is not part of this repository, the clip is based on not yet finalized MR for **Settings: Appearance**. Hopefully, if it's approved you could look forward for this in ubuntu 21.10

[2021-07-08 05:45] vanvugt opened #2947 "Login screen button highlights are hardly perceptible"
On the login screen I can tab between the password field, back button and cogwheel button. But when either of the buttons are selected it's hardly noticeable. They're either white or slightly more white. It should be more obvious which button is focussed when tabbing between them on the keyboard.

Shell version: 3.38.4
OS version: Ubuntu Impish Indri (development branch)

Package: yaru-theme-gnome

[2021-07-08 06:13] Feichtmeier commented on #2947
I think we actually thought this was fixed. @Jupi007 could you double check?
If not I would suggest to revert it back to what upstream uses

[2021-07-08 09:28] Jupi007 commented on #2947
This is indeed fixed in master because we reverted to upstream look:

![Peek 08-07-2021 11-27](https://user-images.githubusercontent.com/36476595/124898475-8363f800-dfdf-11eb-840a-379f9f9e3ad8.gif)

I did this into #2871.

[2021-07-08 09:28] #2947 closed

[2021-07-09 07:42] madsrh commented on #2940
If @ubuntujaggers is AFK could you fix this @Jupi007 ?
Wouldn't the best solution be to rename the old file to and adding a symlink for it?

[2021-07-09 07:52] ubuntujaggers commented on #2940
Apologies guys, I can do this early next week 🙂

[2021-07-13 18:37] LinuxLlama opened #2951 "Missing shadow on workspace preview"
**GNOME**: 40.1.0
**System**: Fedora 34 (Workstation Edition)
**Yaru**: 21.10.1-4-gb261ee3b

As the title says, there aren't any shadows on the workspace previews unlike the upstream shell theme. Is this intentional?
![Screenshot from 2021-07-13 11-31-58](https://user-images.githubusercontent.com/29968331/125506682-104de19d-7dd4-4559-8bce-4be5d0f55237.png)

[2021-07-13 18:53] Jupi007 commented on #2951
Thanks for the report @LinuxLlama 👍

Nope, this isn't intentional at all.

The weirdest things is that we have the `box-shadow` property (and it is exactly the same as upstream):

https://github.com/ubuntu/yaru/blob/b261ee3be3b61d127db1e6d5d09a46ec6fd4a25a/gnome-shell/src/gnome-shell-sass/widgets/_window-picker.scss#L48-L52

Honestly, I don't understand at all what's happening here 🤔

[2021-07-16 09:22] zippy-zebu opened #2952 "Gnome-system-monitor looks broken [40.1-1, impish]"
Version: 40.1-1
Os: Ubuntu 21.10 dev

With HdyApplicationWindow and HdyHeaderBar It is broken...tested under xfce (use headerbar), unity (use no-csd) and gnome-shell with yaru and other stylesheets. Even if you ignore the no-csd thing the padding has increased making the app looks bad. There are also the issue with valign, vexpand?

Greybird

![Screenshot_2021-07-15_21-49-50](https://user-images.g

[2021-07-16 10:30] Feichtmeier commented on #2952
This is the intended look by upstream GNOME. We did not change any padding. Won't fix, sorry

[2021-07-16 10:36] zippy-zebu commented on #2952
@Feichtmeier Hi I updated the screenshot. There is also issue with the border (3rd screenshot) which is not intended. Also padding looks much smaller with Adwaita. Please reopen.

[2021-07-16 10:37] Feichtmeier commented on #2952
Alright, will fix if it's different from adwaita

[2021-07-16 11:22] Jupi007 commented on #2951
I receive an update of GS, and the shadow is come back by itself:

![Capture d’écran de 2021-07-16 13-17-40](https://user-images.githubusercontent.com/36476595/125939999-e0346cc0-343e-42f2-9e72-c0ff2eaf43b6.png)

Looks resolved so.

[2021-07-16 11:22] #2951 closed

[2021-07-16 14:00] Muqtxdir commented on #2952
@zippy-zebu could you share the screenshot with **Adwaita** as the selected theme.

[2021-07-19 13:17] emyoulation commented on #1544
There's linkrot for the SVG of the template.

A good link for the webpage in July 2021 is:
https://gitlab.gnome.org/GNOME/adwaita-icon-theme/-/blob/master/src/symbolic/gnome-stencils-legacy.svg

The file Permalink:
https://gitlab.gnome.org/GNOME/adwaita-icon-theme/-/blob/720b4c23046368a5ebb963f47349f4fbc01fda6e/src/symbolic/gnome-stencils-legacy.svg

[2021-07-20 09:31] Feichtmeier opened #2954 "Global row selection is problematic"
The row selection for nautilus and apps with similar layout works.

However it does not work well globally because those rows can be everywhere
![grafik](https://user-images.githubusercontent.com/15329494/126298119-0ad147e1-916e-46a6-8f80-a3eb842c4c28.png)
(portal)

![grafik](https://user-images.githubusercontent.com/15329494/126298236-d3fd0d53-3c92-4a25-8eb9-4d5861241962.png)
(gnome software)

@J

[2021-07-20 10:30] Jupi007 commented on #2954
About nautilus, we can use the `.nautilus-window` top level selector, but as far as I know, there's no way to target gcc.

Maybe only style nautilus like this, and make selected row grey every where?

[2021-07-20 10:41] Feichtmeier commented on #2954
That sounds like a good idea yeah.

[2021-07-21 05:53] Muqtxdir commented on #2921
Hi @jbouter 👋

I've created this PR: #2958 for all the **missing-symlinks** (_still need to do wayland-cursor and x-cursor_), please tryout this PR when free and share your experience

[2021-07-21 09:28] jbouter commented on #2921
Hi @Muqtxdir ! Brilliant, I'll give it a go as soon as I can. I am however missing `grab` and `openhand` from the list. They seem to be related to each other.

How can I go about building your PR? I haven't really worked with cursors before, and only ever downloaded "compiled" cursors. Can I download the content of your PR and move it to the proper directory, or do I need to build cursors prior to

[2021-07-21 18:37] Muqtxdir commented on #2921
Sharing the instructions from [CONTRIBUTING.md](https://github.com/ubuntu/yaru/blob/master/CONTRIBUTING.md)
**Step1:**
[code]
**Step2:**
[code]

[2021-07-21 22:01] jbouter commented on #2921
Ah, I could've found that myself. Sorry! Got it compiled and working though, and it looks absolutely lovely. I also really like the darker "loading" cursors that replace the blue circle.

Anyway, all the cursors that I could visually discover missing are now working. I'll test it for a few more days, but it sure looks like the newly added symlinks resolve the issue.

[2021-07-22 13:08] jgcodes2020 opened #2962 "Support MIME type text/x-c++hdr"
**Icon Request**

Support `text/x-c++hdr`.

**Steps to locate the icon**

This icon will likely require an original design, but it should bear similarities to both the C header icon and C++ source icon.

**Software where the icon is missing**

- Name: Nautilus
- Version: 3.38.2-stable
- OS version: Ubuntu 21.04 (hirsute)

**Screenshots**
If we are going to maintain similarity to C icons, we could

[2021-07-23 17:57] ubuntujaggers opened #2964 "File manager is not our best icon..."
I know everyone's pretty sick of this icon :smile: but I wondered what you thought of a small change to make the purpose of the app a little clearer:

![image](https://user-images.githubusercontent.com/38893390/126822359-0590c8cb-5c99-432d-9135-a841fdd3f63c.png)

![image](https://user-images.githubusercontent.com/38893390/126822397-37c7492c-b9ce-4491-ad18-865727bb7112.png)

[2021-07-23 18:33] ubuntujaggers commented on #2940
Oops!  I'll do it now.

[2021-07-23 18:38] ubuntujaggers commented on #2940
We don't actually seem to have any Remmina icons in our theme since ours was adopted upstream?

[2021-07-23 18:59] ubuntujaggers commented on #2852
Basically, there are some "standard" buttons that are used across multiple apps.  If the ones that Okular uses are part of that set, I'm slowly working through proving them all as a project, so we'll be covered by that work.

[2021-07-23 19:13] Feichtmeier commented on #2964
nice idea. how does it look on the small size?

[2021-07-23 19:34] ubuntujaggers commented on #2964
![image](https://user-images.githubusercontent.com/38893390/126832503-6b1117d3-3f48-4ec4-88b9-49247b44d47b.png)

[2021-07-23 19:35] ubuntujaggers commented on #2964
Hang on, one of them is too big... (32px)

[2021-07-23 19:36] ubuntujaggers commented on #2964
Here you go:

![image](https://user-images.githubusercontent.com/38893390/126832714-ffa35055-4c15-467b-ab9e-4435b833df79.png)

[2021-07-23 19:38] Muqtxdir commented on #2964
Few general-opinions that I gathered from previous issues (see: #2800 #1891 #1755 )
- The Files icon inside the Square-baseplate looks a tad smaller than other Square icons (*Optical illusion point*)
- Files-app icon is not similar to the Folders/Directories icons (*continuity and consistency point*)

Unfortunately I can't say it resolves these two and also may confuse others why there's a magnify

[2021-07-23 20:04] antenore commented on #2940
Yes, that's right @ubuntujaggers but as we have changed the panel icon, it may be not conform to your guidelines and standards?

[2021-07-23 23:10] madsrh commented on #2964
I just had this idea 🗄️  Can you see it? 😅

![image](https://user-images.githubusercontent.com/3986894/126849193-00f3eaf7-df66-478d-8c20-b9302c2d72ac.png)

[2021-07-24 01:33] LinuxLlama commented on #2964
Since we're throwing out ideas, what about a design like this? I tried to match the home folders. Ideally, the icon would be thinner and the folder size would match the rest of the icons

![folder](https://user-images.githubusercontent.com/29968331/126853747-e9403f6e-a518-49fa-8e52-b5a26c9b02f6.png)

[2021-07-24 04:02] Feichtmeier commented on #2964
There is one problem I see with the search metaphor: there is a specific type of directories/folders called "search results". This reminds of this. Gathering ideas sounds really great btw.

[2021-07-24 04:04] Feichtmeier commented on #2800
Closing this issue in favour of https://github.com/ubuntu/yaru/issues/2964 where the discussion popped out again. Maybe we find a Suru/Yaru style icon everyone can agree on

[2021-07-24 04:04] #2800 closed

[2021-07-24 20:58] ubuntujaggers commented on #2964
Could flatten the top of the grey bit to make the front of a drawer:

![image](https://user-images.githubusercontent.com/38893390/126880926-884b175a-7d8b-4320-8a80-6d1cd76344a1.png)

[2021-07-25 09:28] sith-on-mars commented on #2852
I think those icons are "standard" buttons used across different apps, and perhaps more popular among Qt apps? For example [QOwnNotes](https://www.qownnotes.org/) also use many same icons.

[2021-07-26 01:38] Initu-Castilhos opened #2967 "Add an icon for synaptic and make Adwaita dependent."
![Captura de tela de 2021-07-25 22-33-13](https://user-images.githubusercontent.com/59381215/126921889-eba57887-d4c8-4163-95d7-6e5a1dfcdbb3.png)
![synaptic](https://user-images.githubusercontent.com/59381215/126921910-0a9971d9-317f-4308-9b5a-8c3cb1b76a20.png)
Example icon for synaptic like the image above

[2021-07-26 18:53] #2954 closed

[2021-07-26 23:19] madsrh commented on #2964
Yes! I don't know what everyone else thinks, but if it's no trouble, I would love a test PR for this @ubuntujaggers

[2021-07-27 00:19] LinuxLlama commented on #2964
@madsrh Check #2965 😉️

[2021-07-28 11:57] Muqtxdir commented on #2962
Hi @jgcodes2020 👋

Based on your suggested-input I've created a PR, do checkout: #2969

[2021-07-28 17:09] Muqtxdir commented on #2952
@zippy-zebu @Feichtmeier  Tried ```unity-session``` on ```impish``` and this also occurs in **Adwaita**, hence this is not specific to **Yaru**

#### screenshot: Adwaita
![Screenshot from 2021-07-28 22-33-50](https://user-images.githubusercontent.com/54065734/127366085-15240094-3ef5-4ffb-b2e2-f693cfc419be.png)

#### screenshot: Yaru
![Screenshot from 2021-07-28 22-33-39](https://user-images.github

[2021-07-28 17:49] #2962 closed

[2021-07-29 11:34] lguenth commented on #2481
Any updates on this?

[2021-07-29 20:08] madsrh commented on #2967
Isn't this actually two independent issues @Initu-Castilhos :

1. Add Yaru style icon for Synaptic
2. Make Yaru inherit icons from Adwaita (rather than Humanity)

Is this correct?

[2021-07-30 00:51] Initu-Castilhos commented on #2967
Yes!

[2021-07-30 19:41] Muqtxdir commented on #2967
Hi @Initu-Castilhos

just created PR #2972 which adds icon for synaptic-package-manager, do checkout the branch

[2021-07-31 05:48] #2967 closed

[2021-07-31 05:49] #2770 closed

[2021-07-31 08:58] madsrh opened #2974 "Missing icon: update-notifier"
![image](https://user-images.githubusercontent.com/3986894/127734784-afec296f-1d8b-4304-9dfe-56d4b5def9bf.png)

[2021-07-31 09:09] Feichtmeier commented on #2974
It's the update notifier :) this thing always crashes in the daily Iso since some years
We tried to make an icon for it once but then it was pixeled because somehow the small resolution icon is taken

[2021-07-31 09:36] madsrh commented on #2974
Doh, I knew that! It says so in the top bar 🤦‍♂️

Also the **System-crash-notification** is weird.

![image](https://user-images.githubusercontent.com/3986894/127735535-eee3b3aa-d33a-43f4-92f9-9e9a3c385122.png)

[2021-07-31 09:59] madsrh commented on #2974
Sorry I was on an old branch

[2021-07-31 09:59] #2974 closed

[2021-08-01 14:04] Muqtxdir opened #2977 "add symlinks to legacy status and panel icons"
- [ ] ac-adapter-symbolic
- [ ] account-logged-in-symbolic
- [ ] applications-chat-panel-symbolic
- [ ] audio-input-microphone-high-symbolic
- [ ] audio-input-microphone-high-panel-symbolic
- [ ] audio-input-microphone-low-zero-symbolic
- [ ] audio-input-microphone-low-zero-panel-symbolic
- [ ] audio-input-microphone-medium-symbolic
- [ ] audio-input-microphone-medium-panel-symbolic
- [ ] audio-in

[2021-08-01 15:17] jbouter commented on #2921
Hi @Muqtxdir! 👋🏻

After using the cursor theme for a while, I've found no inconsistencies anymore. Even though there seem to be a few symlinks missing, I have no idea where those cursors would appear as I've not been able to spot them. As far as I am concerned, your PR resolves the issue! :-)

[2021-08-01 15:27] Muqtxdir commented on #2921
Hi @jbouter,

Thanks for sharing the feedback in the time you used the PR-branch and for alsp pointing out that there's a couple of symlinks missing that need to be added (*I've made a list of the missing-ones comparing it to the awesome Breeze cursor-set and will update the PR*). I'll look into the symlinks once #2944 is finished and merged into `master` to avoid any conflict.

*Note: also, sorry

[2021-08-01 19:56] jbouter commented on #2921
Hey @Muqtxdir,

You're most welcome! Thank you for taking this feature request serious - considering Yaru isn't necessarily a KDE project, you wouldn't have been wrong to dismiss the request to begin with.

I looked at #2944 earlier and I'm pretty amazed with how that's turning out. Obviously, this request will rely on #2944's progression. That's entirely fine of course, I'm just happy to have thi

[2021-08-05 08:22] Muqtxdir commented on #2924
The suggested patch for switching Text-editor color scheme along with GTK-theme has now been merged into GCC, take a look at this [gnome-control-center_40.0-1ubuntu4](https://launchpad.net/ubuntu/+source/gnome-control-center/1:40.0-1ubuntu4) (*only available on Ubuntu 21.10*)

### screen-record:

![Peek 2021-08-05 13-43](https://user-images.githubusercontent.com/54065734/128316758-16d18fd9-fe16-47

[2021-08-05 08:22] #2924 closed

[2021-08-05 21:04] LinuxLlama opened #2980 "GNOME Software 41: illegible close button on context dialog"
**Application:** gnome-software
**Version:** 41~beta-0.20210805git6abd9d80.fc34
**System:** Fedora 34 (Workstation Edition)
**Yaru:** 21.10.1-22-g29b57350

![Screenshot from 2021-08-05 13-16-47](https://user-images.githubusercontent.com/29968331/128415666-0a14dccb-93e8-4ba7-9b09-68c1d8fdba7b.png)

The new context dialogs on GNOME Software 41 use a 'headerbarless' design which conflicts with the Ya

[2021-08-07 09:17] madsrh commented on #2964
Closing this since #2965 is merged 🤘

[2021-08-07 09:17] #2964 closed

[2021-08-16 14:56] peterwu opened #2986 "canberra-gtk-play cannot play desktop-logoff.oga"
[code]
desktop-login works no problem.

[2021-08-16 20:50] madsrh commented on #2986
Hi @peterwu
Thanks for taking the time to report this 👍
It does indeed look like the _desktop-logoff_ is encoded with the wrong format. It should have been Ogg Vorbis audio.

@ItzSwirlz could you create a PR with a fixed version?

![image](https://user-images.githubusercontent.com/3986894/129627474-54006860-2c97-4df2-a6bc-64dd6c136a25.png)

[2021-08-18 07:09] #2669 closed

[2021-08-31 18:41] #2980 closed

[2021-09-01 16:14] #2986 closed

[2021-09-03 22:14] jackpot51 opened #2999 "Work with us at Pop!_OS to theme libadwaita"
As many of you know, libadwaita is now hardcoding a stylesheet. In the interest of both Pop!\_OS and Ubuntu being able to ship libadwaita applications with our own themes, I want to work with the Yaru developers to enumerate the changes we make to the Adwaita stylesheet, and request that they are included in libadwaita.

In the meantime, I have opened this issue which, when implemented, will allow

[2021-09-03 22:37] Feichtmeier commented on #2999
Hi @jackpot51 👋

Awesome idea! 👍

Yaru includes a stylesheet for libadwaita. A github action pulls all changes from their repo. We then curate the changes needed to keep the yaru style (mainly colors in gtk4/libdwaita).

I am currently a little bit unplugged from open source due to IRL stuff (bough a house -.-) but I am slowly recharging my batteries for open source trouble.

In the meantime I am

[2021-09-03 22:39] jackpot51 commented on #2999
Thanks for the overview! Our process is the same, but actually uses Yaru as the base. I'm just getting off work, but hopefully tomorrow we can come up with some more. In the meantime, I have implemented a way for libadwaita applications to opt-in to the system GTK theme: https://gitlab.gnome.org/GNOME/libadwaita/-/merge_requests/232

[2021-09-04 21:28] #2921 closed

[2021-09-04 21:32] Muqtxdir commented on #2921
Thanks @jbouter you've been really helpful with the missing symlinks list on this issue 👍

[2021-09-04 22:08] jackpot51 commented on #2999
@Feichtmeier @Muqtxdir could one or both of you please comment on my comment here?

https://gitlab.gnome.org/GNOME/libadwaita/-/merge_requests/232#note_1262813

[2021-09-04 23:10] Feichtmeier commented on #2999
Done :)

[2021-09-04 23:18] jackpot51 commented on #2999
Thanks!

[2021-09-11 23:48] Initu-Castilhos opened #3008 "Add colored category icons."
Add colorful category icons to ArcMenu and other graphical environments like: Cinnamon, XFCE, etc...
![Captura de tela de 2021-09-11 20-26-35](https://user-images.githubusercontent.com/59381215/132966209-b84e96c7-0938-4739-a95c-f139afa9a5a5.png)

![Captura de tela de 2021-09-11 20-28-09](https://user-images.githubusercontent.com/59381215/132966232-06ac9cb9-fb7b-4d96-8ff7-dec9b5275722.png)

Yaru-MA

[2021-09-12 20:09] github-actions[bot] opened #3009 "LP#1943371 "Yaru-Theme does not define colors/icons/gradients which are used by applications""
Reported first on Launchpad at https://bugs.launchpad.net/ubuntu/+source/yaru-theme/+bug/1943371

[2021-09-14 11:12] Feichtmeier commented on #2940
@antenore hi :wave: is this new version of remminna already in the 21.10 daily repos? So we could see if everything is fine or not

[2021-09-14 13:14] antenore commented on #2940
Hey @Feichtmeier ! Hope you are doing well.

Yes, it does, we have 1.4.20 thanks to @mfvescovi that is the Remmina downstream maintainer for Debian

[2021-09-14 13:29] Feichtmeier commented on #2940
@antenore I am fine here hope you too?
Uhh indeed the panel icon now is no longer monochrome but full color and fuzzy at the sides.
![FLAMESHOT_2021-09-14_15-28](https://user-images.githubusercontent.com/15329494/133266345-b9e3328b-8ca1-40ea-843d-476710b13b43.png)
How does it look in other distributions? Is it correct there?
Otherwise you might fix this upstream instead?

[2021-09-15 10:51] Feichtmeier opened #3012 "GDM: add a border to buttons"
IMO the buttons need a subtle border like the entry and the popup

![FLAMESHOT_2021-09-15_12-49](https://user-images.githubusercontent.com/15329494/133420522-ad333492-e365-4ac0-af13-24bcb8596222.png)

@Jupi007 could you eventually take care for this one for 21.10? :angel:

[2021-09-15 11:19] Jupi007 commented on #3012
Ofc, will do it tonight :+1:

[2021-09-16 18:31] #3012 closed

[2021-09-17 07:13] Muqtxdir opened #3015 "outdated ubiquity styling"
Last night I tried out installing `ubuntu-desktop-21.10` and noticed these couple of issues:
(_see below screenshot and notice the highlighted numbering alongside the selected red-boxes_)

#### screenshot:
![2021-09-17_12-34](https://user-images.githubusercontent.com/54065734/133739707-a06cbf88-bcd0-4623-8c60-aec94247193e.png)

#### issues:

1.  The headerbar still uses the old Yaru headerbar_colo

[2021-09-17 07:31] Feichtmeier commented on #3015
Hi @Muqtxdir
Both the slideshow and that dark heading is controlled by html
@madsrh made it in the past

____

I hope they will update the appearance page in time :(
So it is already merged on launchpad?
I don't even know whom to tag anymore but maybe @didrocks finds time to help

[2021-09-17 08:51] Muqtxdir commented on #3015
So it is already merged on launchpad?

The current appearance-page in 21.10 builds looks like this:
![Screenshot from 2021-09-17 14-17-02](https://user-images.githubusercontent.com/54065734/133753657-9cc7b74e-4a17-4257-9529-d5179a1ce93b.png)

However in [LP: #1943849](https://bugs.launchpad.net/ubuntu/+source/gnome-control-center/+bug/1943849) daniel just assigned it to me with status as ***in-pro

[2021-09-18 00:40] chrisjbillington opened #3016 ""copy" emblem in mouse cursor has poor contrast with orange selected item colour"
Not a big deal, but the little plus icon on the drag-and-drop cursor is orange, and often what you're dragging-and-dropping is also orange (since it was selected), so this results in poor contrast:

![yaru-cursor](https://user-images.githubusercontent.com/1044087/133866007-973a6721-62c6-45c1-b0d9-8b3af230ae75.png)

Perhaps green would be better?

(rough GIMP scribble):

![yaru-cursor](https://user

[2021-09-18 07:40] Jupi007 commented on #3016
Very good suggestion 🤔

What do you think of @ubuntu/yaru-team ?

[2021-09-18 07:48] Feichtmeier commented on #3016
Totally agree. We should use green

[2021-09-18 07:49] Muqtxdir commented on #3016
I'd say we change the orange parts of `dnd-copy` and `copy` black-gradient, as the one found in `left_ptr_watch`. also we can't go for green because yaru-mate uses green shade for selected-items.

[2021-09-18 07:54] madsrh commented on #3016
+1

[2021-09-18 08:00] Jupi007 commented on #3016
@Muqtxdir But the Mate green isn't the same as the green from our palette. So it is really annoying?
Does anyone can take screenshot from Mate?

Otherwise we could use purple 🤔

[2021-09-18 08:13] Feichtmeier commented on #3016
The mate green is different but maybe @Muqtxdir is right and we should use monochrome to be as neutral as possible

[2021-09-18 08:14] Jupi007 commented on #3016
Will try this :)

[2021-09-18 19:51] fthx opened #3017 "Busy arrow cursor color"
[Ubuntu 21.10, GNOME 40]

Hi,

Running Ubuntu session, the busy arrow cursor shows a black wheel.
Running GNOME session with Yaru cursor theme, the wheel is blue (as previous Yaru's?).

Is that intended?

[2021-09-18 20:00] fthx opened #3018 "Titlebars color are both light or dark"
[Ubuntu 21.10, Ubuntu session, all Yaru appearance]

Hi,

I use Yaru (light).
I noticed some dark titlebars (as previous Yaru): terminal, firefox snap, chromium snap, libreoffice snap...
Some other are light: nautlius, logs, system monitor...

Is that intended? Is that a cache issue?

[2021-09-18 20:08] Feichtmeier commented on #3018
Yes we only have yaru (light) and yaru-dark (dark) now.

[2021-09-18 20:26] Muqtxdir commented on #3018
hi @fthx 👋

Thanks for reporting this, from what I can make snap-apps still use the old yaru headerbar? If that so then @Feichtmeier it might be good time to create the `ubuntu/impish` branch so that `gtk-common-themes` can be updated to that

[2021-09-18 20:27] Muqtxdir commented on #3017
did you notice this when using snap packaged applications ?

[2021-09-18 20:31] fthx commented on #3018
Oooookkayy!
For GNOME Terminal, I feel it's an Ubuntu theming as Adwaita GTK theme in Ubuntu session gives me a black header bar too.
IMO that's not consistent with new light header bars in Yaru?

[2021-09-18 20:36] fthx commented on #3017
Mmmmh, that's possible but I cannot remember this point.
Your idea is other's thread fact that new Yaru theme is not already packaged for Impish snaps?

[2021-09-18 20:41] fthx commented on #3018
I found the culprit.
![image](https://user-images.githubusercontent.com/23138504/133908000-a06e08db-b53b-42ca-a692-adb9c89da288.png)
Using "system" value makes the headerbar follow Yaru's light colors.

[2021-09-18 20:42] fthx commented on #3018
For sure I did not modify this key!
I did not even know this key!

[2021-09-19 06:34] Feichtmeier commented on #3018
There are several apps that use the "prefer-dark" flag in gNoMe :) additionally Ubuntu uses this flag for the terminal. So there are several apps in Ubuntu perma dark,  which is in my opinion a VERY bad idea. I think this comes from a time when dark themes weren't a thing. I think it's too late now for a change to this in 21.10 but maybe we can ask for this in the next cycle. There are quiet a few

[2021-09-19 13:45] ItzSwirlz commented on #2999
Hello everyone. Just me popping in.. as a cinnamon person confused by this mess. I'm sorry about all this mayhem @jackpot51 . Exactly what apps are we trying to theme/'untheme' here?

[2021-09-20 19:37] #3016 closed

[2021-09-21 02:37] chrisjbillington commented on #3016
Brilliant, thanks for the fix!

[2021-09-22 08:23] clobrano commented on #3009
Possibly resolved in upstream application

https://github.com/ginggs/gelemental/commit/17c3a7fffe19890fc312a33ec2590ce1ac61f2e6

anyway I think it is not up to Yaru define application specific colors.

[2021-09-22 08:23] #3009 closed

[2021-09-22 19:22] Jupi007 opened #3023 "Libhandy (and Libadwaita) icons are missing"
- [x] Add missing icons;
- [x] Add Github action.

![Capture d’écran du 2021-09-22 21-12-50](https://user-images.githubusercontent.com/36476595/134407997-092b58f2-d8d3-4ccd-bac1-f750b8520ae2.png)

See:
- https://gitlab.gnome.org/GNOME/libhandy/-/tree/master/src/icons/scalable
- https://gitlab.gnome.org/GNOME/libadwaita/-/tree/main/src/icons/scalable

[2021-09-23 09:44] #3023 closed

[2021-09-24 23:46] chrisjbillington opened #3028 "GTK theme parsing error: The :insensitive pseudo-class is deprecated"
I'm getting this warning whenever running Gtk apps from a terminal, looks like it might be caused by the change in #3027
[code]

I'm on Arch Linux using yaru from the master branch, installed from the [AUR](https://aur.archlinux.org/pkgbase/yaru-git/)

The GTK version according to pacman is 3.24.30+62+g8d04980f38-1

[2021-09-25 08:51] Jupi007 commented on #3028
Thanks for the report @chrisjbillington :)
I made a fix in the linked PR.

[2021-09-25 11:30] #3028 closed

[2021-09-25 11:38] chrisjbillington commented on #3028
Thanks! Can verify the warning is gone now.

[2021-09-26 20:09] github-actions[bot] opened #3030 "LP#1923855 "Window / View in display / Java""
Reported first on Launchpad at https://bugs.launchpad.net/ubuntu/+source/yaru-theme/+bug/1923855

[2021-09-28 11:54] Muqtxdir opened #3033 "syncing symbolics with GNOME apps"
Make use of Github-actions that we've been using to sync the changes between `adwaita-icon-theme` for all GNOME apps that are shipped on Ubuntu as well, so that we don't have to find ourselves with missing `symbolic` and `fullcolor` icons and wait for someone else to report them. (_For example see #2992, #3023, #3006, #3000, #2990, #2987, #2595, #2593, #2499_).

_Note: This issue does not suggest

[2021-09-30 14:21] kothekarswaraj opened #3073 "vim icon request"
**Icon Request**
vim package in ubuntu repo

**Steps to locate the icon**

**Software where the icon is missing**

**Screenshots**

[2021-10-01 12:20] chrisjbillington opened #3079 "Completed and remaining parts of progress bar in Transmission are the same colour"
The progress in a progress bar in Transmission is not visible, because the "completed" and "incomplete" parts of the progress bar are the same colour. This only occurs for the selected item.

**Software that presents the issue**

Transmission 3.00-2 on Arch Linux

**Yaru version**

21.10.2 installed from the AUR on Arch Linux

**Screenshots**

Yaru:

![Peek 2021-10-01 22-13](https://user-images.gi

[2021-10-01 12:22] Jupi007 commented on #3079
Thanks for the report @chrisjbillington :)
I'll take a look.

[2021-10-01 17:46] #3079 closed

[2021-10-01 22:38] chrisjbillington commented on #3079
Thanks for the quick fix!

[2021-10-03 10:55] Feichtmeier commented on #3018
Ok after re reading the issue I think this is also related to gtk-common- themes

Since we've removed yaru light if you are not on impish already the snaps won't match the debs :/

On note of the dark terminal I think it's ok to have the prefer dark option pre-selected because you can opt out of it by selecting the system default in the terminal settings.
Most people still prefer the permanent dar

[2021-10-03 10:56] #3018 closed

[2021-10-05 20:09] github-actions[bot] opened #3087 "LP#1946042 "Ubuntu Dock changes look/breaks in High Contrast""
Reported first on Launchpad at https://bugs.launchpad.net/ubuntu/+source/yaru-theme/+bug/1946042

[2021-10-06 09:38] Jupi007 commented on #3087
Closed by #3089

[2021-10-06 09:56] Jupi007 opened #3090 "Add a High Contrast variant of Yaru"
Todo list for adding a High Contrast variant of Yaru:

- [ ] Get HC files upstream with our Github Actions ;
- [ ] Add HC variant to Gtk3/4 ;
- [ ] Maybe fix HC variant of Gnome-Shell ;
- [ ] Add an icon variant for HC ;
- [ ] Adapt meson build.

Will be also required:

- [ ] Patch Gnome-Shell ;
- [ ] Patch Gnome-Control-Center accessibility page.

[2021-10-06 10:04] Feichtmeier commented on #3090
I think the current shell upstream scss is made in a way that the HC variant uses many files from the normal variant

[2021-10-06 10:06] Jupi007 commented on #3090
Yes, and our one does in the same way. Imo we just need to add some HC colors.

[2021-10-07 15:51] vsv opened #3110 "The notification area calendar is barely visible in gnome-shell 41 with Yaru-light"
When using Yaru-light shell theme in Gnome 41, the calendar in the notification area has working days rendered in green color, thus making it difficult to read them on the white background.

**Screenshots**

![Screenshot from 2021-10-07 17-28-42](https://user-images.githubusercontent.com/821431/136417510-1dd95e3f-7b38-4172-9946-d086eb4e93cf.png)

**System information**

$ gnome-shell --version
GNO

[2021-10-07 16:59] Muqtxdir commented on #2732
closing this as `gnome-control-center` appearance panel also changes the gedit's color scheme as well starting with ubuntu 21.10

[2021-10-07 16:59] #2732 closed

[2021-10-07 22:46] Feichtmeier opened #3111 "The dock and the panel have different background colors and the dock is not transparent"
![grafik](https://user-images.githubusercontent.com/15329494/136472361-a0b9931c-447c-4e7b-9525-de505607a2f3.png)

We tried to band-aid fix this in the cycle but it didn't really work out.
I think this looks really unpolished and needs a fix.

@3v1n0 anything you could do here? Something changed in the dock code from 21.04 to 21.10 so the styling is not correctly applied anymore.

[2021-10-08 20:10] github-actions[bot] opened #3113 "LP#1946523 "Thin line over the top rigth and left corners of GTK3 windows when unfocused""
Reported first on Launchpad at https://bugs.launchpad.net/ubuntu/+source/yaru-theme/+bug/1946523

[2021-10-11 18:12] Muqtxdir opened #3116 "missing-symbolics part2"
All GNOME apps are now using symbolic-icons provided under: [icons-dev-kit](https://gitlab.gnome.org/Teams/Design/icon-development-kit-www/-/tree/master/img/symbolic)

[2021-10-11 18:13] Muqtxdir commented on #3116
### weather:

- [ ] clouds-symbolic.svg
- [ ] few-clouds-night-symbolic.svg
- [ ] few-clouds-symbolic.svg
- [ ] fire2-symbolic.svg
- [ ] fire-symbolic.svg
- [ ] fog-symbolic.svg
- [ ] moon-alt2-symbolic.svg
- [ ] moon-alt-symbolic.svg
- [ ] moon-symbolic.svg
- [ ] rain-alt-symbolic.svg
- [ ] rain-symbolic.svg
- [ ] scattered-clouds-symbolic.svg
- [ ] showers-symbolic.svg
- [ ] snow-symbolic.svg
-

[2021-10-11 18:13] Muqtxdir commented on #3116
### time:

- [ ] alarm-symbolic.svg
- [ ] clock-symbolic.svg
- [ ] hourglass-symbolic.svg
- [ ] month-symbolic.svg
- [ ] playback-speed-symbolic.svg
- [ ] snapshots-alt-symbolic.svg
- [ ] stopwatch-symbolic.svg
- [ ] timer-alt-symbolic.svg
- [ ] timer-sand-symbolic.svg
- [ ] timer-symbolic.svg
- [ ] today-alt-symbolic.svg
- [ ] today-symbolic.svg
- [ ] week-symbolic.svg
- [ ] year-alt-symbolic.svg

[2021-10-11 18:14] Muqtxdir commented on #3116
### other:
- [ ] alarm-symbolic.svg
- [ ] bell-large-none-symbolic.svg
- [ ] bell-large-symbolic.svg
- [ ] bell-none-symbolic.svg
- [ ] bell-symbolic.svg
- [ ] build-symbolic.svg
- [ ] clock-symbolic.svg
- [ ] configure-symbolic.svg
- [ ] dictionary-symbolic.svg
- [ ] do-not-distrub-symbolic.svg
- [ ] drawer-symbolic.svg
- [ ] editor-symbolic.svg
- [ ] gear-symbolic.svg
- [ ] info-symbolic.svg
- [

[2021-10-11 18:14] Muqtxdir commented on #3116
### maps:
- [ ] bar-symbolic.svg
- [ ] bed-symbolic.svg
- [ ] bench-symbolic.svg
- [ ] building-symbolic.svg
- [ ] bus-symbolic.svg
- [ ] cafe-symbolic.svg
- [ ] city-symbolic.svg
- [ ] compass-alt-symbolic.svg
- [ ] compass-symbolic.svg
- [ ] compass-wind-symbolic.svg
- [ ] cycling-symbolic.svg
- [ ] discover-symbolic.svg
- [ ] driving-symbolic.svg
- [ ] drone-symbolic.svg
- [ ] explore2-symbolic

[2021-10-11 18:17] Muqtxdir commented on #3116
### directions:

- [ ] arrow1-down-symbolic.svg
- [ ] arrow1-left-symbolic.svg
- [ ] arrow1-right-symbolic.svg
- [ ] arrow1-up-symbolic.svg
- [ ] arrows-questionmark-symbolic.svg
- [ ] bottom-large-symbolic.svg
- [ ] bottom-symbolic.svg
- [ ] down-large-symbolic.svg
- [ ] down-symbolic.svg
- [ ] first-large-symbolic.svg
- [ ] first-symbolic.svg
- [ ] go-bottom-symbolic.svg
- [ ] go-first-symbolic.

[2021-10-11 18:18] Muqtxdir commented on #3116
### devices:

- [ ] battery-symbolic.svg
- [ ] bluetooth-symbolic.svg
- [ ] cameras-symbolic.svg
- [ ] camera-symbolic.svg
- [ ] camera-toggle-symbolic.svg
- [ ] cd-symbolic.svg
- [ ] computer-symbolic.svg
- [ ] C-symbolic.svg
- [ ] dialpad-symbolic.svg
- [ ] dice2-symbolic.svg
- [ ] dice3-symbolic.svg
- [ ] dice-symbolic.svg
- [ ] display-symbolic.svg
- [ ] electric-car-symbolic.svg
- [ ] externa

[2021-10-11 18:19] Muqtxdir commented on #3116
### body:

- [ ] eye-closed-negative-symbolic.svg
- [ ] eye-closed-symbolic.svg
- [ ] eye-not-looking-symbolic.svg
- [ ] eye-open-negative-filled-symbolic.svg
- [ ] eye-open-negative-symbolic.svg
- [ ] eye-open-symbolic.svg
- [ ] feet-symbolic.svg
- [ ] fingerprint-authentication-symbolic.svg
- [ ] hand-fist-none-symbolic.svg
- [ ] hand-fist-symbolic.svg
- [ ] hand-point-horizontal-symbolic.svg
-

[2021-10-11 18:20] Muqtxdir commented on #3116
### animals:

- [ ] bug-symbolic.svg
- [ ] cow-symbolic.svg
- [ ] penguin-alt-symbolic.svg
- [ ] penguin-symbolic.svg

[2021-10-11 18:23] Muqtxdir commented on #3116
sorry @Jupi007 it's on their new icon-devkit repository: https://gitlab.gnome.org/Teams/Design/icon-development-kit-www/-/tree/master/img/symbolic

[2021-10-12 06:18] Feichtmeier opened #3119 "Gnome shell notifications :hover could be improved"
![weird](https://user-images.githubusercontent.com/15329494/136901585-fad0caa0-b443-4b9a-bc92-6f2e57ca0708.gif)

Without hover they look in place and styled like the rest of the shell things. But on hover they suddenly become bright with a dark border which also makes them jumping in size

Ubuntu 21.10

[2021-10-12 09:40] #3119 closed, assigned to Jupi007

[2021-10-12 23:41] ro1y commented on #2925
I personally think a black background or a mascot-less version of the current version's background would look nice for the lock screen.

[2021-10-14 16:16] Feichtmeier opened #3123 "gtk3 dark themes knobs look strange in the backdrop"
I am still not a fan of the pink/purple progress bars, but I think we could improve the knobs/sliders in to be more like in the active window

Imo currently they are too different

![Peek 2021-10-14 18-13](https://user-images.githubusercontent.com/15329494/137356772-1ba57b5f-6377-4fab-8be6-1e7fb6069738.gif)

[2021-10-19 11:57] sagalpreet opened #3128 "Yaru system sounds do not work on replacement"
I replaced the default yaru system sound named **system-ready.oga** at ```/usr/share/sounds/Yaru/stereo``` with another ```.oga``` file named exactly the same i.e **system-ready.oga**.

However, the sound didn't work anymore i.e whenever I boot into the system, there was no sound. On reverting back the change, sound started working again.

*The file name was exactly the same, however the icon diff

[2021-10-19 15:11] #3123 closed

[2021-10-20 11:37] Muqtxdir opened #3136 "create a wiki-page form symolic-icon guidelines"
Add a new wiki-page that explains the process of creating a symbolic-icons for Yaru.
As the current-wiki only describes the process for full-color icons in detail

[2021-10-21 17:43] Muqtxdir commented on #2517
Hi @AaronTechnic

could you share a screenshot of icon that is used in Linux just to confirm it.

I think a symlink to [`backups-app`](https://github.com/ubuntu/yaru/blob/master/icons/src/fullcolor/apps/backups-app.svg) would be the easy-way if we want to provide an icon for timeshift

[2021-10-22 19:36] #3128 closed, assigned to nobody

[2021-10-24 14:28] #3110 closed, assigned to nobody

[2021-10-26 18:13] arjanvaneerden opened #3143 "cannot upgrade yaru-cinnamon-theme-icon after upgrading to Ubuntu cinnamon 21.10"
**Expected Behavior**
"sudo apt-get upgrade" should be able to upgrade yaru-cinnamon-theme-icon

**Actual Behavior**
After upgrading ubuntu cinnamon to the newest version (21.10), sudo apt upgrade dfailes at yaru-cinnamon-theme-icon

Installing yaru-theme-gtk by typing sudo apt install  yaru-theme-gtk did not help, so I removed that again.

**Steps to Reproduce the Problem**
1) Upgrade Ubuntu Cinn

[2021-10-30 10:52] arjanvaneerden commented on #3143
Sorry, I did not know that. Thank you that you looked into that anyway. I tried it, but it gave (almost) exactly the same error message as earlier. So, although I copied your exact sentence, including the specified _--reinstall_, it outputs _The following packages will be upgraded._

Thank you anyway, I found out that I just could set this package on _hold_ for now, so that other packages can be u

[2021-10-30 13:21] ItzSwirlz commented on #3143
Hey there. Yaru cinnamon is currently part of the ubuntucinnamon-environment package (it was moved). I thought this *might* cause issues but it would make everything easier so I did the change.

Maybe try uninstalling (and purging to remove the extra scraps) all of Yaru-Cinnamon, Including the ubuntucinnamon-environment because I believe that's a dependency, then reinstall all of it. Do it in a te

[2021-11-01 19:24] mfonville commented on #2149
For me this very same bug is happening again on Ubuntu 21.10 with Guake 3.8.0 and higher

[2021-11-01 22:05] andrea-de commented on #2149
I'm also having this problem with `guake_3.8.1-1~ppa~focal0_all`

[2021-11-02 08:53] mfonville commented on #2149
@Davidy22 and @mlouielu are you aware of this issue too?

[2021-11-02 09:46] Davidy22 commented on #2149
No changes were made to tab bar style interpretation in Guake from 3.7 to 3.8. What you might be noticing instead is the new tab bar hide behavior that by default hides the tab bar if there is only one tab, which can be toggled off in the preferences menu.

[2021-11-02 13:21] juujuujj opened #3159 "hand2 cursor does not have visible fingers (after becoming black again)"
This was the thing that yoinked me out of having a good experience using Yaru cursors separately with black hands. If possible, revert the hands to the white state and swap the outline and fill colors for a quick resolve and rebuild the cursors into bitmaps.

[2021-11-04 16:00] aaronsuns commented on #1243
Still no workaround? Using terminator on default ubuntu 20.04,  can't select first char is annoying.

[2021-11-04 16:02] aaronsuns commented on #1243
One work around is that double click the line you want to select and then hold shift to drag for the rest.

[2021-11-04 17:16] clobrano commented on #1243
I'm sorry, but there's still no fix for this. Another workaround is to start selection from the end of the line and then drag to the left.
Out of cut curiosity, is the problem the same using adwaita, or is yaru specific?

[2021-11-04 19:18] aaronsuns commented on #1243
Only know this behavior with defaults Ubuntu 20.04. Default version from Ubuntu repo.

the problem is that some time you are in the middle of a big log file, you want to select long paragraph from one place,  hard to identify the start point since similar log can be repeated several times.  From bottom right to top left would be pain.  I’d rather manually type the first chat after copy or use trip

[2021-11-09 21:04] luciotorre opened #3216 ""Software & Updates" and "Software Update" icons are too similar."
**Expected Behavior**

When trying to open the "Software Updater" app I type "update" in the search bar of gnome shell and icons come up. Ideally it would be easy to identify which icon i should click.

**Actual Behavior**

See attached screenshot. When one searches for "update" two icons appear which not only are very similar (both look like A's) but the clipping of the names makes it impossible

[2021-11-09 23:21] madsrh commented on #3216
Hi @luciotorre
Thanks for taking the time to report this 🙏
Sadly, we're well aware of the issue, but haven't come up with a solution. You can read up on earlier ideas in these threads:
https://github.com/ubuntu/yaru/issues/1051
https://github.com/ubuntu/yaru/issues/2292
https://github.com/ubuntu/yaru/issues/1940
https://github.com/ubuntu/yaru/issues/863
https://github.com/ubuntu/yaru/issues/862

B

[2021-11-10 07:58] Davidy22 commented on #2149
Didn't have any idea of how this could have regressed, but something just came to me so I'm back. From Guake 3.8 onwards a checkbox was added labelled "Use system default theme," which will attempt to detect and use the system default theme. It was set to be enabled by default. If you uncheck that box and fiddle with themes, do you notice the issue persisting? And if it only happens for some theme

[2021-11-10 13:30] mfonville commented on #2149
@Davidy22 Yes I have fiddled already with that checkbox and various options in the drop down. The issue always happens with Yaru-dark or Yaru in dark-mode, but it e.g. also happens with the Radiance theme. All other themes (including the light version of Yaru) seem to be working correctly.

[2021-11-10 21:55] fernandonavajas commented on #2149
I'm also having this problem
![bar tab transparent](https://user-images.githubusercontent.com/23393394/141199739-f6b31850-15cf-46d4-8443-ee2f4eaf4a67.gif)
I dont see the tab labels :C

[2021-11-11 09:33] Davidy22 commented on #2149
So there's two things going on I believe. When this issue was "fixed," Guake was actually just not using the Yaru theme. When the "Use system default theme" option was added and made default, this issue resurfaced because Guake started using the system Yaru theme again for people who have it set, and the underlying issue wasn't actually dealt with so this issue returned.

Just spitballing because

[2021-11-11 11:24] Jupi007 commented on #2149
I can confirm the problem on 21.10 using guake 3.8 from the ppa.
I also found a way to fix it. I'll make a patch very soon.

[2021-11-11 13:22] Muqtxdir commented on #3113
the issue-reporter has stated it was not reproducible

[2021-11-11 13:22] #3113 closed

[2021-11-11 13:22] #3015 closed

[2021-11-11 20:36] #2149 closed

[2021-12-01 12:40] fsabin opened #3245 "Text of selected item is barely visible (only contour)"
**Expected Behavior**
Text of selected item is clearly visible

**Actual Behavior**
Text of selected item is barely visible (only contour)

**Steps to Reproduce the Problem**
LibreOffice:
- Open the Open the Styles and Formatting window and select any style
- Open the Set Paragraph Style combo box and select a style
- Open the Font Name combo box and select a font

Eclipse: Select an item from the

[2021-12-01 13:40] Jupi007 commented on #3245
I can confirm the issue.

But it is sadly non-fixable in its current state 😔
Those `treeview` seems hardly overwrite the text color. I tried everything, but it is impossible to redefine it.

The only solution is to remove the grey selected row tweak for `treeview`.
I'll make a PR.

[2021-12-03 05:41] fsabin commented on #3245
Hi @Jupi007,
your fast and prompt response is appreciated. Did you check also the Font Name and Set Paragraph Style combo box elements in LibreOffice? Do they also use a tree view?

[2021-12-03 09:26] Jupi007 commented on #3245
You're welcome :)

Yes, it also fixes Font and Paragraph combos which are all using `treeview`.

[2021-12-03 09:58] #3245 closed

[2021-12-03 22:48] ItzSwirlz opened #3249 "[Feature Request] Emacs theme"
Straightforward idea-a Yaru theme for Emacs. Thanks to @flexiondotorg iirc he did gtksourceview files, but Emacs is super weird because a theme can only be made for Emacs with a .el lisp file.

The only emacs ubuntu theme I could find was https://github.com/rocher/ubuntu-theme based off of what seems to be "Humanity".

Example: https://github.com/zenobht/exotica-theme. It could literally be one fi

[2021-12-07 07:48] fsabin opened #3254 "Check box checked state barely visible"
**Expected Behavior**
Check box checked state is clearly visible

**Actual Behavior**
Check box checked state barely visible

**Steps to Reproduce the Problem**
Start a freshly installed Google Chrome. The issue can be observed in the "Welcome to Google Chrome" dialog.
Delete ~/.cache/google-chrome and ~/.config/google-chrome to simulate a fresh install.

**Software that presents the issue**
OS: U

[2021-12-07 09:25] Jupi007 commented on #3254
Hi @fsabin,
thanks for the report.

I can reproduce the bug but before #3247.
It looks that this PR solved the problem.

Screenshot using `master` on Ubuntu 21.04:

![Capture d’écran du 2021-12-07 10-24-57](https://user-images.githubusercontent.com/36476595/145002442-4a98f592-5220-47e0-845e-47a50a25e071.png)

[2021-12-07 09:25] #3254 closed

[2021-12-07 09:26] Jupi007 commented on #3254
Closed by #3247

[2021-12-07 18:10] ItzSwirlz commented on #3249
I'm closing this in this repo because I figured that it'd be best for separate repos to exist for Gtk/Qt/actual GUI applications and CLI stuff. I think eventually if it grows enough it should be moved to the Ubuntu GH organization, but I opened https://github.com/ItzSwirlz/yaru-cli for development. This also avoids packages that are one or two files.

See https://github.com/ItzSwirlz/yaru-cli/issu

[2021-12-07 18:10] #3249 closed

[2021-12-09 17:10] giovannicaligaris opened #3257 "Missing Sim icon (Phosh)"
I have compiled the latest master and the SIM icon is not rendering correctly. it shows a square instead. Please check the images for Yaru and Adwaita.

<img src="https://user-images.githubusercontent.com/26255347/145443189-8b5334f6-a6ba-4cc2-9046-f30e6e6a2767.png" width=35% height=35%> <img src="https://user-images.githubusercontent.com/26255347/145443244-15704834-5323-4ade-9fdd-4a5486b8830b.png"

[2021-12-09 17:16] Muqtxdir commented on #3257
Hi @giovannicaligaris

Thanks for taking the time to report this issue. I'll look into this one.

[2021-12-09 18:48] Jupi007 commented on #3257
Hi @giovannicaligaris
How can we reproduce this view?

[2021-12-09 19:54] #3257 closed

[2021-12-09 20:23] Muqtxdir commented on #3257
from what i found, you can install phosh on ubuntu-21.10 with `sudo apt install phosh`  (_you should probably try phosh session in vm_)

[2021-12-10 12:06] giovannicaligaris opened #3261 "Dark mode splash (Phosh)"
When using the Yaru-dark theme the Splash on Phosh should be black, instead it defaults to white.

The white image is using Yaru-dark and the black one Adwaita Dark.

<img src="https://user-images.githubusercontent.com/26255347/145571629-be023b0b-b538-4256-b2d3-a47a44b16fd8.png" width=35% height=35%> <img src="https://user-images.githubusercontent.com/26255347/145571637-61b21a6b-9551-432e-b1d7-693

[2021-12-10 13:13] Muqtxdir commented on #3261
i think for splash to be displayed correctly/properly, yaru would need to include phosh's-stylesheets using [`phosh's-stylesheets (adwaita)`](https://gitlab.gnome.org/World/Phosh/phosh/-/tree/main/src/stylesheet) as reference.

However I don't think phosh allows you to change it's shell-theme like GNOME-Shell allows you to change it (_via user-theme extension_).

[2021-12-10 13:23] giovannicaligaris commented on #3261
@Muqtxdir as far as I know, Phosh does not support user-themes. Just GTK themes and Icons

[2021-12-10 15:55] Muqtxdir commented on #3261
ok, @Jupi007 could you look into adding the phosh stylesheets into gtk3 build-process?

[2021-12-11 08:21] winyl opened #3262 "Yaru Dark Theme text invisible in Software's app tiles when in foreground."
When turning on Yaru Dark theme on Ubuntu 20.04.03(Focal Fossa), if Software app is on top of other windows(in the foreground), the app tiles have text color matching the background of the app tile, hence the text in the app tile is not readable. Please correct!

**Expected Behavior**
I should be able to read the text in app tiles in Ubuntu Software app
**Actual Behavior**
Text is not visible, hen

[2021-12-11 08:31] Feichtmeier commented on #3262
Is this due to the reason that both Ubuntu versions share the same theme version in the snap? @Jupi007

[2021-12-11 09:48] Jupi007 commented on #3262
I'm installing a VM to see what is happening here. :)

[2021-12-11 11:57] Jupi007 commented on #3262
Sorry @winyl but I can't reproduce the problem with a fresh install of 20.04. I tried both gnome-software and snap-store.

Can you try to update your system:

[code]
and also
[code]

[2021-12-11 20:10] github-actions[bot] opened #3263 "LP#1954561 "Yaru Dark Theme text invisible in Software's app tiles when in foreground.""
Reported first on Launchpad at https://bugs.launchpad.net/ubuntu/+source/yaru-theme/+bug/1954561

[2021-12-12 05:09] vitalkanev commented on #3263
Appears to be already reported on GitHub as https://github.com/ubuntu/yaru/issues/3262

[2021-12-12 12:04] clobrano commented on #3263
Yes, this is the automatic report from Launchpad. Closing this

[2021-12-12 12:04] #3263 closed

[2021-12-15 13:47] #2798 closed

[2021-12-15 13:47] #2925 closed

[2021-12-19 14:54] giovannicaligaris opened #3270 "Push to Debian"
Now that most of the icons and stylesheet have been fixed for Phosh, is it possible to push it Debian Bookworm (Arm) so other Mobian users can install it?

[2021-12-19 17:18] Jupi007 commented on #3270
I did take the time to import Phosh styling yet.
But I'll do it very soon if I found the time.

[2021-12-20 08:29] Feichtmeier commented on #2813
@andrewshadura after feeled one million years I had the time to create a mate VM

I can not reproduce this issue with ALT + TAB
![grafik](https://user-images.githubusercontent.com/15329494/146736149-719e8cd4-7b31-422c-b16f-71cc4e515473.png)

WHat's the key combo to tigger this focus switcher screen?

[2021-12-20 08:41] andrewshadura commented on #2813
On my system it’s Alt-Tab.

[2021-12-20 08:51] Feichtmeier commented on #2813
Weird - which version are you running?
I installed a fresh 21.10 (which also has an outdated yaru, as we've just unified the mate and master branches... btw... @Muqtxdir @Jupi007 how do I build the mate themes now? xD)

[2021-12-20 08:54] andrewshadura commented on #2813
If I remember correctly there are multiple switcher types, maybe you have a different one selected?

[2021-12-20 08:56] andrewshadura commented on #2813
Oh, I’m using Marco as the WM, do you maybe have Compiz instead?

[2021-12-20 09:08] Feichtmeier commented on #2813
i use the default ubuntu mate - no idea :D

[2021-12-20 09:10] andrewshadura commented on #2813
The setting is in the MATE Tweak — but I have to say I use the default too, but then I didn’t install with MATE initially, so that could have had an influence.

[2021-12-20 10:09] Jupi007 commented on #2813
You need to set **mate** and **mate-dark** options to `true` in `meson_options.txt`.

[2021-12-20 10:23] Jupi007 commented on #2813
Oh, important thing, you need to remove the `build` folder when disabling **mate** flavours.

[2021-12-23 08:30] Feichtmeier opened #3277 "Keep gray rows for nautilus"
We should revert this for nautilus only. It looks like the gtk4 port will take much longer. It is kind of easy what to expect in those rows and upstream does it too:

https://github.com/ubuntu/yaru/blob/13e18b5c27c5893520b5617a411a18d549373ca2/gtk/upstream/nautilus/Adwaita.css#L76-L95

_Originally posted by @Feichtmeier in https://github.com/ubuntu/yaru/pull/3271#issuecomment-999931364_

It's the

[2021-12-23 10:16] Feichtmeier opened #3279 "Rework Software & Updates icon"
![grafik](https://user-images.githubusercontent.com/15329494/147225520-fbaa12bb-e451-4014-a6ef-6a8965f78f40.png)

With the switch to orange the strong purple on the baseplate does not fit anymore.
However as discussed in https://github.com/ubuntu/yaru/pull/3265#issuecomment-993967478
and due to various feedback from users how indistinguishable the two icons are a rework would be nice. Eventually s

[2021-12-23 11:51] #3277 closed

[2021-12-23 13:33] ubuntujaggers commented on #3279
How about something like...

![image](https://user-images.githubusercontent.com/38893390/147247735-ec7e94c2-08c5-4d78-a94e-2470c010949b.png)

[2021-12-23 13:43] Jupi007 commented on #3279
Very nice icon :+1:

[2021-12-23 13:44] Feichtmeier commented on #3279
Thank you for your time looks nice! Blue is fresh
If we keep the A, could you increase the contrast between the baseplate and the A a bit? It currently looks a little bit like it is merging with the background

[2021-12-23 14:05] ubuntujaggers commented on #3279
![image](https://user-images.githubusercontent.com/38893390/147251244-1eb9ca2c-7270-4b1d-a989-ce8eb0404258.png)

??

[2021-12-23 14:12] ubuntujaggers commented on #3279
Also possibly helps with background/foreground if we remove the middle bits from the cog:

![image](https://user-images.githubusercontent.com/38893390/147252032-ebe6509e-e399-4283-aa36-c9e71d811eb9.png)

[2021-12-23 14:39] Feichtmeier commented on #3279
Really cool 👏 👍 I would love to go with this :)

[2021-12-29 09:21] AaronTechnic commented on #2517
Hi, sorry for my late response, I have not used GitHub for a while, but i will send the screenshots soon.

[2021-12-31 17:03] Feichtmeier opened #3284 "Missing Icon: Keyboard Layout"
When you click on

![grafik](https://user-images.githubusercontent.com/15329494/147833345-62796623-3cba-4dfd-bd2c-7d0b6deeb9a7.png)
(sorry for german)

This window pops up with an icon in the dock which we do not have and is replaced with a generic keyboard symbolic icon
![Bildschirmfoto von 2021-12-31 17-59-09](https://user-images.githubusercontent.com/15329494/147833316-50ac48de-f6bc-49fb-9e70-e

[2022-01-01 20:11] github-actions[bot] opened #3285 "LP#1956135 "Icon stereotypes""
Reported first on Launchpad at https://bugs.launchpad.net/ubuntu/+source/yaru-theme/+bug/1956135

[2022-01-01 20:18] Jupi007 commented on #3284
I'll take a look at this.

[2022-01-01 20:52] #3284 closed

[2022-01-04 02:05] Initu-Castilhos opened #3288 "Add exit, restart, shutdown and recent files icons."
Don't fear the exit, restart, shutdown and recent files folder icon. On Humanity's icons there are these colored icons and on Yaru the exit, restart and shutdown icons are only symbolic and the recent file folder icons don't.
![Captura de tela de 2022-01-03 20-34-36](https://user-images.githubusercontent.com/59381215/147999961-339fef99-91ba-41cc-a449-da9750077304.png)
I know that the focus of the

[2022-01-04 08:53] Feichtmeier commented on #3111
@3v1n0 happy new year :partying_face:

It seems to me that the option "custom-theme-shrink" was previously not set to true OR could be overwritten by the scss in yaru. In either case we currently have no space between the app icons which makes the whole dock look to condensed. Playing around with this option you can see the difference especially when you hover on an app icon which is next to an ac

[2022-01-04 18:23] Muqtxdir commented on #1535
since no updates are being passed to `communitheme` snap anymore, closing this issue seems rerasonable (_see #3154_)

[2022-01-04 18:23] #1535 closed

[2022-01-04 18:23] Muqtxdir commented on #2064
since no updates are being passed to `communitheme` snap anymore, closing this issue seems rerasonable (_see #3154_)

[2022-01-04 18:23] #2064 closed

[2022-01-04 18:25] Muqtxdir commented on #1541
legacy_battery icons issue solved with #3260

[2022-01-04 18:25] #1541 closed

[2022-01-04 18:29] Muqtxdir commented on #2620
@Jupi007 has done this with PR: #2856 #3206 #3231 #3234 #3269

[2022-01-04 18:29] #2620 closed

[2022-01-04 18:39] Muqtxdir commented on #2445
As previously stated by @clobrano  in LP:#1871386 this is pretty much the expected_behavior as ***user-themes-gnome-shell-extension*** looks in both directories.

[2022-01-04 18:39] #2445 closed

[2022-01-04 18:43] Muqtxdir commented on #3090
@Jupi007  I think it has do with upstream just using `$variant: 'dark';` for **high_contrast** unlike yaru using `$variant: 'hc';`

[2022-01-05 03:52] Initu commented on #3111
Glad you'll have more customization options in the dock.  I know this is not the place for this but it would be great if you have the option to move the date to the right side like Pop OS 21.10

[2022-01-05 18:20] Muqtxdir commented on #3111
if you like what you see in this screencast, perhaps you need to take a look at [`what-if? PPA`](https://launchpad.net/~muqtxdir-m/+archive/ubuntu/what-if) (_for **ubuntu-20.04** and **ubuntu-21.10**_).

https://user-images.githubusercontent.com/54065734/148268299-e623f412-38ba-4d56-a161-6cc30a38a4c4.mp4

[2022-01-10 11:20] #3279 closed

[2022-01-10 12:02] Muqtxdir commented on #3216
This was addressed and re-drawn with PR: #3279

[2022-01-10 12:02] #3216 closed

[2022-01-10 12:08] Muqtxdir commented on #3285
closing this one, since the issue-reporter did not raise any problems in the LP-bug tracker.

[2022-01-10 12:08] #3285 closed

[2022-01-10 12:12] Muqtxdir commented on #3143
Hi @arjanvaneerden

Thanks for taking your time and reporting the issue faced by you and as mentioned by @Jupi007  `yaru-cinnamon-theme-icon` is not part of `yaru-theme` packaging.

Please try to raise the issues related to `yaru-cinnamon-theme*` under their Github issue tracker.

[2022-01-10 12:12] #3143 closed

[2022-01-10 12:15] Muqtxdir commented on #3008
Hi @Initu-Castilhos

The fullcolor-category icons have been added to Yaru by @Jupi007 in PR: #3225

[2022-01-10 12:15] #3008 closed

[2022-01-10 19:20] #2908 closed

[2022-01-12 00:32] jgabriel98 commented on #2481
I guess not 😞

[2022-01-12 00:32] #2481 closed

[2022-01-12 17:40] ItzSwirlz commented on #3288
Yeah. Can confirm cinnamon needs this. Those were the extra icons I was talking about in the Cinnamon PR

[2022-01-14 11:01] Muqtxdir opened #3307 "mate: make the panels same across both default and dark"
the `default` theme has light-colors on both top and bottom-panel. Now that all panel icons are present under `unity-panel` and are used in those panels. Its better to have the panels in dark colors as the panel-icons are `white` in color.

#### screen-recording:

https://user-images.githubusercontent.com/54065734/149505028-2566c7bf-fb59-456b-a7ff-a89048931088.mp4

[2022-01-14 13:35] giovannicaligaris commented on #3261
Sorry to be annoying, but any progress on this?

[2022-01-14 16:47] Jupi007 commented on #3261
Sorry, I totally forgotten this.
I'll do it very soon :)

[2022-01-14 16:51] Jupi007 commented on #2149
This need to be backported, but honestly I don't know exactly how to do this.
I'll try to find a solution because we also have some more patch to backport.

[2022-01-15 08:24] Muqtxdir commented on #2873
Fixed in `20.04.11.1`

[2022-01-15 08:24] #2873 closed

[2022-01-15 14:50] Jupi007 commented on #3261
Closing this because not fixable (see https://github.com/ubuntu/yaru/pull/3308#issuecomment-1013694160).

[2022-01-15 14:50] #3261 closed

[2022-01-19 20:10] github-actions[bot] opened #3318 "LP#1958375 "[SRU] Backport GTK transparent tab fixes""
Reported first on Launchpad at https://bugs.launchpad.net/ubuntu/+source/yaru-theme/+bug/1958375

[2022-01-19 20:10] github-actions[bot] opened #3319 "LP#1958376 "[SRU] Backport Gnome Shell high-contrast dock fix""
Reported first on Launchpad at https://bugs.launchpad.net/ubuntu/+source/yaru-theme/+bug/1958376

[2022-01-19 20:11] Jupi007 commented on #3319
This is one of my SRU.

[2022-01-19 20:11] #3319 closed

[2022-01-19 20:11] Jupi007 commented on #3318
This is one of my SRU.

[2022-01-19 20:11] #3318 closed

[2022-01-21 07:48] Feichtmeier opened #3321 "Add instructions how to build the .deb files into contributing.md"
Apart from the manual build dependencies, `debhelper` and  `dh-migrations` seem to be needed to build the debian files.
@Muqtxdir told me that `sudo dpkg-buildpackage -b -uc -us` builds the debian files, however they were inaccessible for my current user (locked symbol) and were put outside of the yaru dir. Also 1k+ files were added to the git repo.
I've ran the command from the yaru dir root fold

[2022-01-21 10:30] Muqtxdir commented on #3321
closed with: #3322

[2022-01-21 10:30] #3321 closed

[2022-01-24 20:11] github-actions[bot] opened #3327 "LP#1942702 "Ubuntu Dock "Show Applications" button"
Reported first on Launchpad at https://bugs.launchpad.net/ubuntu/+source/yaru-theme/+bug/1942702

[2022-01-28 13:10] Feichtmeier opened #3334 "Shell popovers row MainAxisAligment"
![grafik](https://user-images.githubusercontent.com/15329494/151552328-59f937a4-eef4-4975-ae90-09aaa5cf91a9.png)

The switch and the label are not on the same line :)

GNOME Shell 40.5
yaru theme from master :)

[2022-01-29 08:48] ShadowOfPripyat opened #3335 "Make icons for 3d model types and G-Code"
**Icon Request**

I would like to have icons for 3D models like .stl or .obj since i use the Raspberry Pi for printing. Also for Ultimaker Cura Software because is very used in the 3D printing world.

**Software where the icon is missing**

- Name: Nautilus
- Version: 3.36.3
- OS version: Ubuntu 20.04.3

**Screenshots**

*Cura logo*
![image](https://user-images.githubusercontent.com/73404930/15165

[2022-01-31 14:49] Muqtxdir opened #3348 "appearance: add accent colors for yaru-variants"
hi,

In last week's [Indaba (`28 jan 2022`)](https://discourse.ubuntu.com/t/ubuntu-desktop-team-indaba-ama-january-28-2022-6pm-utc/26095) about themeing, @hellsworth made a suggestion to @Jupi007 that it would be nice to have an option to seamlessly switch between different accent-colors  from the `gnome-control-center` similar to how it is offered in **_elementaryOS6._**

below is a showcase of a

[2022-01-31 16:20] ItzSwirlz commented on #3348
This would simplify things for all flavors; as long as accent colors for each flavor are made, one global yaru package would work

[2022-01-31 18:18] hellsworth commented on #3348
@seb128 @3v1n0 might have some thoughts about this :)

[2022-02-02 18:02] elioqoshi commented on #3348
@waynecrosby your input might be needed here as well.

My 2 cents: Great improvement I think many users will appreciate! I do think the default brand colors could be distinguished so they don't look like random accent colors but I am not sure what the best solution for that would be.

[2022-02-02 23:25] Scotty-Trees opened #3351 "Minor Issue: Theme is misaligned when using MPRIS Indicator Button"
Greetings,

Just wanted to say thank you for making the Yaru theme. It's been my go to theme for the last year and I personally could not live without Yaru-dark! With my praise for the project out of the way, I do have some thoughts... (that's an Austin Powers reference there!)

**Expected Behavior**

I use a Gnome Extension called "Mpris Indicator Button" (currently supports Gnome 38/40/41), whic

[2022-02-03 02:28] 3v1n0 commented on #3348
I'd be ok with such solution! it's not far from what elementary is doing and to what upstream will probably ship.

I think it's still a good way to give users the ability to have some theme customization while preserving the main ubuntu/yaru aspects, so I'd be happy to review the code for this! :)

Not sure if @seb128 or @kenvandine have different opinions though.

[2022-02-03 02:32] 3v1n0 commented on #3348
I'd be ok with such solution! it's not far from what elementary is doing and to what upstream will probably ship.

I think it's still a good way to give users the ability to have some theme customization while preserving the main ubuntu/yaru aspects, so I'd be happy to review the code for this! :)

Not sure if @seb128 or @kenvandine have different opinions though.

[2022-02-03 06:41] seb128 commented on #3348
Sounds nice, +1 from me

[2022-02-03 08:55] Jupi007 commented on #3351
HI @Scotty-Trees,
thanks to have take your time to write this very long and well detailed issue :)

I can confirm the issue with Yaru `master` and GS40.
Indeed, using an older version, before we added GS42 support, fix the problem.

IMO this is related to the fact you need to use GS42.
Sadly I can't confirm my thought because I have no way to test GS42.

Maybe @Muqtxdir can help, I know you instal

[2022-02-03 09:01] Scotty-Trees commented on #3351
@Jupi007 , No worries, thanks for taking the time to check it out and test it, I appreciate it very much. I don't have any other updates to add at the moment, but I'll be tracking the issue and watching over any progress. Thanks again.

[2022-02-03 09:20] Feichtmeier commented on #3334
It's a known upstream issue (some of th ebullet points)
https://gitlab.gnome.org/GNOME/gnome-shell/-/issues/4969
So we could just close it here and wait until it drops on the PRs?

[2022-02-03 09:21] Jupi007 commented on #3334
I agree :+1:

[2022-02-03 09:23] #3334 closed

[2022-02-03 09:30] Feichtmeier commented on #3348
Big fan ofc, too!

I agree with @elioqoshi , if we do not have a fully free colors slider like in windows, I would also use our/canonical/ubuntus main colors

`#924D8B`
`#77216F`
`#C7162B`
`#E95420`
`#f99b11`
`#0e8420`
`#335280`

But probably we need to adjust some of them with lighten/darken to guarentee a good contrast in both light/dark themes

[2022-02-03 10:02] Muqtxdir commented on #3351
Edit: I also noticed that the ext doesn't support GS42, it could also be related to that

I can take a look by enabling use unsupported extensions. just updating it to latest changes, it may take a while

[2022-02-03 10:15] Muqtxdir commented on #3348
Thanks for the @3v1n0 and @seb128  for the reply, should I do MR against the same `ubuntu-panel` branch? or should I wait until `ubuntu-41/42` branch lands on gitlab ?

I agree with @elioqoshi , if we do not have a fully free colors slider like in windows, I would also use our/canonical/ubuntus main colors agree with @elioqoshi , if we do not have a fully free colors slider like in windows, I woul

[2022-02-03 14:22] 3v1n0 commented on #3348
@Muqtxdir I've synchronized the ubuntu panel with what's currently in ubuntu few days ago, so that should be a good target.

I think you can already go, given that this will apply to the `ubuntu-panel` only that is quite independent from the rest. Also we won't take the 42 version (as it's going [gtk4](https://discourse.ubuntu.com/t/ubuntu-desktop-gnome-plans-for-the-incoming-lts/)).

[2022-02-03 15:36] Muqtxdir commented on #3348
ok, thanks for clarifying it

[2022-02-03 17:37] Scotty-Trees commented on #3348
@Muqtxdir Will this also add a different accent color to the gnome-shell theme aspect as well or will that always remain the same?

[2022-02-03 17:46] waynecrosby commented on #3348
@Muqtxdir @elioqoshi I think it looks great! The brand colours could do with being distinguished a bit more that the others I agree, I'll schedule some time to look at the colours. Are we thinking 8 is the ideal number of colour choices?

[2022-02-03 18:20] Muqtxdir commented on #3348
yes, but this would require few adjustments to the `gnome-shell` meson build part to account for flavour/variants as @clobrano mentioned that it currently doesn't do that and also add a yaru-patch to GNOME-Shell to respect Yaru's `gtk-theme` values

[2022-02-03 18:22] 3v1n0 commented on #3348
I can handle the shell part if you want.

Il gio 3 feb 2022, 19:20 Muqtadir ***@***.***> ha scritto:

[2022-02-03 18:23] Jupi007 commented on #3348
Yeah, the GS build system need to be reworked.
It should fit the way we do with `gtk`: each flavour in its folder, and a system of symlink.

[2022-02-03 18:24] Muqtxdir commented on #3348
hi @waynecrosby

I think having 8 colors (_those being: Aqua, Blue, Green, Orange(default), Purple, Pink, Red and Yellow_) seems like a perfect balance.

[2022-02-03 19:41] rafaelmartines commented on #3348
Well if this merges to master branch and releases with 22.04, time to back to Ubuntu.

[2022-02-03 22:58] elioqoshi commented on #3348
I want to row back on this one quickly as I didn't realize what the impact of this will be upstream. I was under the impression this would be already available in some manner in GNOME, which is not the case. I really don't want us to do more changes downstream which app developers have to consider beyond what's available in GNOME. We should take into account how this affects the whole GNOME ecosys

[2022-02-04 01:44] geminis3 commented on #3348
Awesome, +1 for accent colors

[2022-02-04 07:16] Feichtmeier commented on #3348
I think there is a bit more information to be clarified.
First of all the recolouring API is not yet done upstream in libadwaita.
Secondly 22.04 won't ship with libadwaita because the level of polish and testing isn't reached yet. So what those colours mean is just a set of yaru themes for gtk3 with a predefined color. So instead of two Yaru themes (light/dark) there would be 16 Yaru themes (2*8).

[2022-02-04 15:09] elioqoshi commented on #3348
I am not comfortable with that. It doesn't change much from the current Yaru behaviour but it creates expectations for app developers that this is a platform feature on GTK which every app should support while it's not a GTK thing. Having 8 colors mean that app developers would need to test their apps with 8 new combinations while I don't think this is responsible from us to expect that.

[2022-02-08 08:07] neffscape commented on #3348
This might be the best feature for 22.04. +1 for accent colors, but please stick to the ubuntu palette (or ubuntu flavour colors).

[2022-02-08 10:02] zara1193 commented on #3348
+1 for this. The accent selector is a wonderful idea, but I'd really like to see, for example, the Ubuntu aubergine color (even though the lavender already included in the proposal screenshot looks good too.)

[2022-02-08 22:29] kenvandine commented on #3348
After a great deal of thought on this, I disagree.  In a GTK3 world, app developers already have to deal with users with a thousand different themes, most of which are much lower quality than Yaru and Adwaita.  Added accent color selection to Yaru doesn't really change much from the app developer's point of view.  This also wouldn't affect apps that have opted into libadwaita.  Overall I think thi

[2022-02-09 10:57] #3307 closed

[2022-02-09 11:52] andrewshadura commented on #2813
I guess I figured out why we’re seeing different results. In MATE Tweak, in Windows tab, select *Marco (Compton GPU compositor)*. Then you should see the same window switcher as I do.

[2022-02-09 12:42] Muqtxdir commented on #3348
@3v1n0 I created MR on gitlab for `gnome-control-center`, please have a look at it :)

### screenshot:
| current: 22.04 LTS | MR for 22.04 LTS |
 | ------------- | ------------- |
| ![before2](https://user-images.githubusercontent.com/54065734/153202697-fc0d96f0-f20f-4289-af12-4c4927d7e5b8.png)  |  ![after](https://user-images.githubusercontent.com/54065734/153202794-1c3f4a54-df2a-42bf-a761-0acb46

[2022-02-09 13:04] seb128 commented on #3348
reference the previous mentioned mp, https://gitlab.gnome.org/Community/Ubuntu/gnome-control-center/-/merge_requests/7

[2022-02-09 21:34] BrainBlasted commented on #3348
This is my perspective as an upstream contributor, but I would like to ask that you hold off for the reasons @elioqoshi mentioned. I plan to work on opt-in accent color support upstream, and:

* App developers targeting GNOME would be able to opt in
* I plan to submit it as part of xdg-desktop-portal, like the new dark style support. Applications from other desktops would then be able to support i

[2022-02-09 23:33] neffscape commented on #3348
I support the idea to implement this upstream for a future GNOME version
(hopefully 43). However 22.04 will still live in a GTk3 world, and being an
LTS, this version it's going to be around for several years. For this
reason I think this MR should be accepted anyway: it's a nice idea, it
works now and will make 22.04 a much more interesting release (and it's
going to age better in a world where f

[2022-02-09 23:54] BrainBlasted commented on #3348
This is because of two things:

* The elementary AppCenter is curated, and users know that apps from outside of it may not support system themes and APIs. That expectation is built into the platform.

* App developers targeting elementary know that it's something they can support, but they also have the ability to opt out and use their own accent colors. That way if they want to support it, they k

[2022-02-10 16:20] kenvandine commented on #3348
App developers using GTK3 aren't testing their apps against all the possible themes today, there are thousands of themes and users really do use them.  The app developer doesn't have any control over that in a gtk3 world.  There are users using Chicago95, we can't protect them from their own choices.  I agree going beyond the world of wild wild west themeing, we can certainly do much better, but t

[2022-02-11 04:55] Scotty-Trees opened #3384 "Possible to sync gnome-shell top panel bar with upstream pixel size?"
Greetings again,

**Expected Behavior**

I don't know if my report is a bug issue per se or more a purposeful choice by the Yaru team, but I'll do my best to offer as much information as I can in the matter. One thing I've noticed recently is that the Yaru theme is doing their best to align more and more with the upstream Adwaita theme and I like that approach. One thing I have noticed that isn't

[2022-02-12 17:19] Muqtxdir commented on #2584
This is caused because caja, uses GtkFlowBox for icon-representation unlike nautilus

[2022-02-12 17:19] #2584 closed

[2022-02-18 06:55] Initu-Castilhos opened #3393 "Cinnamon theme improvements."
My suggestion for the cinnamon theme is:

- Menu with rounded corners 7px;

![Captura de tela de 2022-03-08 13-22-02](https://user-images.githubusercontent.com/59381215/157280364-7ab01738-9d83-4ddd-b2ea-c2e0d7358f8b.png)

Example as shown in the image above.

[2022-02-22 19:33] Jupi007 commented on #3393
Hi @Initu-Castilhos,
these are good suggestions, thank you :)

We'll try to implement them.

[2022-02-22 20:42] Jupi007 commented on #3335
Closed by  #3388

[2022-02-22 20:42] #3335 closed

[2022-02-23 14:48] elagost commented on #3261
@giovannicaligaris mind if I ask how you got phosh to use dark splash screens at all? This seems to be the only evidence I've found of someone successfully doing this. Have you modified it yourself or set some gsetting or something?

[2022-02-24 14:16] #3288 closed

[2022-02-24 14:19] 3v1n0 opened #3407 "Update GNOME Shell 42 assets and tune theme"
- [x] Add missing yaru icons (per new GNOME Shell Icon theme) [ Handled in https://github.com/ubuntu/yaru/pull/3421 ]
- [ ] Review yaru-light theme (stuff such as the keyboard had special code that is now gone)
- [ ] Do another full-review :) `diff -u gnome-shell/upstream/theme/gnome-shell-sass/ gnome-shell/src/gnome-shell-sass/ -r`, and add missing `// Yaru` comments for the missing stuff or drop

[2022-02-24 14:45] 3v1n0 commented on #3407
Ok, one thing that is definitely to be fixed are notification actions:

![image](https://user-images.githubusercontent.com/345675/155546332-1afc0472-089d-4721-bd12-fb3f1d24f00a.png)

[2022-02-24 19:44] Scotty-Trees commented on #3384
It's been 2 weeks since the post. Any thoughts? Apologizes I do not mean to pester, I very much enjoy this project and the work everyone involved does. I just hope the shell can be more like upstream.

[2022-02-24 19:50] Muqtxdir commented on #3384
Hi @Scotty-Trees

Thanks for the appreciation and kind words towards yaru and for taking out time for opening this issue.

sorry, for the late-reply but this top-bar issue will be discussed/addressed along with the GS42 refinements issue: #3407

[2022-02-24 20:01] Jupi007 commented on #3384
I'm really sorry @Scotty-Trees.
I'm really busy these day and didn't found the time to respond you.

Your issue is very well written with good arguments.
We'll think about it :)

[2022-02-24 20:11] github-actions[bot] opened #3410 "LP#1962100 "package yaru-theme-gnome-shell 20.04.11.1 failed to install/upgrade"
Reported first on Launchpad at https://bugs.launchpad.net/ubuntu/+source/yaru-theme/+bug/1962100

[2022-02-24 20:15] #3111 closed

[2022-02-24 20:15] #3327 closed

[2022-02-24 20:39] Scotty-Trees commented on #3384
@Muqtxdir no worries about the late reply, I understand everyone can be busy with things. Thanks for the #3407 tracker, I'll be sure to follow and keep up with that for any updates.

@Jupi007 it's totally fine, I know you all are busy creating a great theme, and it's okay if sometimes things or life gets in the way it happens; it always helps to be flexible and open minded to others, so don't worr

[2022-02-25 02:00] 3v1n0 opened #3411 "Please use dark dark theme for the ding (desktop icons extension) context menu"
Ding sadly doesn't use gnome-shell native menus so the right-click menu on the desktop looks a bit odd.

Would be nice if you could do some theme customization so that such menu looks more like a native shell menu.

[2022-02-25 09:24] Muqtxdir commented on #3384
_this is happening because you are  on GS42, see below it displays it correctly_

![Screenshot from 2022-02-25 14-51-08](https://user-images.githubusercontent.com/54065734/155689610-ad75bd4c-dc05-4533-be0a-1f5ff186f992.png)

[2022-02-25 09:40] fthx opened #3414 "[gnome shell 42] Nautilus pathbar does not look good"
[Ubuntu Jammy dev with latest proposed GS42+Mutter+Yaru updates]

Hi all,

I know it's quite early in Ubuntu's GS42 lifetime but anyway:
![image](https://user-images.githubusercontent.com/23138504/155691855-42eca7a3-5e98-44ff-8b54-0cd36177f0fd.png)

Adwaita's:
![image](https://user-images.githubusercontent.com/23138504/155692033-a915b52a-0d40-4b8e-a581-75607bfc8f2f.png)

I'm not using Yaru shell t

[2022-02-25 11:27] Scotty-Trees commented on #3384
@Muqtxdir I'm sorry if I wasn't totally clear before, but that screenshot with the volume notification being a giant circle is on my Gnome 41.4 install using the latest git commit of the yaru shell and yaru gtk theme. I assume all the upstream changes being made will make yaru look great on Gnome 42, but I think in that process, one or more of those changes has "broken" this volume notification in

[2022-02-25 11:31] Muqtxdir commented on #3384
edit: it should have been written as _not on GS42_ in my above comment

[2022-02-25 11:39] Scotty-Trees commented on #3384
@Muqtxdir Ahh okay thank you, that makes more sense now. I'm on EndeavourOS, so typically Arch-based distros don't get the latest Gnome until usually the first point release, so I'll have to wait till 42.1 gets released most likely before I can truly be of any further help I think. I guess it won't be wise for me to keep testing the latest yaru theme updates if I'm using the wrong Gnome version. T

[2022-02-25 16:32] seb128 opened #3419 "No coloring for gedit pach mode with yaru scheme"
Using yaru-themes 21.10.2 on Ubuntu, if you select the yaru color scheme in gedit and open a .patch the removed and added lines aren't colored which makes it quite difficult to read compared to classic color scheme

![yarupatch](https://user-images.githubusercontent.com/10974330/155751665-8f3e57dc-ff01-481f-b440-f6b93c7a0147.png)

[2022-02-25 20:11] github-actions[bot] opened #3420 "LP#1962283 "Ubuntu dock has a border""
Reported first on Launchpad at https://bugs.launchpad.net/ubuntu/+source/yaru-theme/+bug/1962283

[2022-02-26 20:51] 3v1n0 commented on #3420
Closing this as it'

[2022-02-26 20:51] #3420 closed

[2022-03-01 09:50] Muqtxdir commented on #3419
hi @seb128

does this look better compared to the one we have in 21.10?

| ubuntu-21.10 | proposed  |
| ------------------ | ------------- |
| ![beforre](https://user-images.githubusercontent.com/54065734/156143981-f467f773-8c9c-447c-909c-0b0de4ed4312.png) | ![new](https://user-images.githubusercontent.com/54065734/156144071-c25a8bcf-c0ae-403e-91db-26dc6fd53da6.png) |

[2022-03-01 09:53] seb128 commented on #3419
Yes, much better, the coloring makes it obvious which lines are removed or added in the change

[2022-03-01 09:57] Muqtxdir commented on #3419
ok, I'll finish up with the dark-variant and I'll make PR then :)

[2022-03-01 13:50] #3419 closed

[2022-03-03 09:40] Jupi007 commented on #3414
Hi @fthx
thanks for the report, we are working on here #3405

[2022-03-04 10:28] Jupi007 commented on #3414
Closed by #3405

[2022-03-04 10:28] #3414 closed

[2022-03-04 10:30] Jupi007 commented on #3411
I tried to specifically style this menu, but it looks like this is not possible.
It's a Gtk3 menu without any class, which mean we can style it without style all Gtk3 menus.

[2022-03-06 03:56] AaronTechnic commented on #3411
@Jupi007 But is it still possible to achieve it? In Ubuntu 20.04 GNOME Shell native right click menus were on the previous extension, but that changed in 21.04. Is there any way to get that right click menu back? I think it looks nice.

[2022-03-06 04:00] AaronTechnic commented on #3017
Shouldn't this issue be closed already?

[2022-03-06 09:25] Jupi007 commented on #3411
I understand but the problem is that this extension use a Gtk menu while the old one was using a native shell menu.
We can't style it without alter the whole desktop menus.

[2022-03-06 22:33] Initu-Castilhos opened #3454 "Update cinnamon theme thumbnail."
Here are the updated thumbnails for cinnamon, just download the images.

![Yaru](https://user-images.githubusercontent.com/59381215/156944939-19e0f716-71d6-4398-9043-441fc92fd216.png)
![Yaru-dark](https://user-images.githubusercontent.com/59381215/156944952-cb599b48-d77d-4325-afcf-c8923bd00760.png)
![Yaru-Cinnamon](https://user-images.githubusercontent.com/59381215/156944961-9e197d4d-f326-4530-ab8

[2022-03-06 23:30] Initu-Castilhos opened #3455 "Add thumbnail in gtk theme."
Here is the thumbnail for the gtk-3 theme, just download the images.

![control](https://user-images.githubusercontent.com/59381215/156946605-06c26ed9-7f4c-48fb-b114-6865ca4de14c.png)
![control-dark](https://user-images.githubusercontent.com/59381215/156946608-3d480dac-1739-4d6b-bc9f-aa08cde74426.png)
![Captura de tela de 2022-03-06 20-27-29](https://user-images.githubusercontent.com/59381215/1569

[2022-03-06 23:33] Initu-Castilhos opened #3456 "Add thumbnail in metacity theme."
![metacity](https://user-images.githubusercontent.com/59381215/156947060-bab1e888-12d0-4e56-9a4d-3fffb1bd7c32.png)
![metacity-dark](https://user-images.githubusercontent.com/59381215/156947066-4202ef03-be61-40fb-82c7-b2ac940a718c.png)
Here are the thumbnails for the metacity theme. Just download the images.

[2022-03-06 23:39] Initu-Castilhos opened #3457 "Add thumbnail for cursor theme."
![thumbnail](https://user-images.githubusercontent.com/59381215/156947260-6bf1dea2-28a3-4868-987a-0ce515609a56.png)
Here is the thumbnail for the cursor theme. Just download it. of image

[2022-03-07 08:53] Jupi007 commented on #3454
Thanks a lot for the pics @Initu-Castilhos
I'll make a PR to integrate them.

[2022-03-07 09:02] Muqtxdir commented on #3455
Hi @Initu-Castilhos,

what is the need for a screenshot? There's already relevant thumbnails provided in ubuntu's `gnome-control-center` appearance panel.

[2022-03-07 09:04] Jupi007 commented on #3455
We miss the thumbnails for this:

![Capture d’écran du 2022-03-04 12-09-49](https://user-images.githubusercontent.com/36476595/157000571-6be793e9-875d-4ff2-aac6-f1a50528e8f6.png)

[2022-03-07 09:11] Muqtxdir commented on #3455
ok, so this all issues are for `cinnamon`. Although I don't think it's a good idea to have linux-mint icon used as application-drawer in screenshot. gives the wrong-idea that the theme will also use the same icon.

[2022-03-07 09:13] Jupi007 commented on #3455
Oh, but I think the two last screenshots are only used to show us how it render with the thumbnails.
We should only add the two first ones.

[2022-03-07 10:07] #3454 closed

[2022-03-07 10:08] Jupi007 commented on #3457
Closed by #3459

[2022-03-07 10:08] #3457 closed

[2022-03-07 10:08] Jupi007 commented on #3456
Closed by #3459

[2022-03-07 10:08] #3456 closed

[2022-03-07 10:08] Jupi007 commented on #3455
Closed by #3459

[2022-03-07 10:08] #3455 closed

[2022-03-07 10:25] Jupi007 commented on #3411
@3v1n0 Unless Ding add a specific selector for menus, I'm afraid it is impossible to implement this. Closing so.

Btw, it is only a personal note, but I think Gtk menu is more appropriated for such large menus as desktop ones.
GS menus style is nice, but when having a large amount of items, the padding is becoming too much.

[2022-03-07 10:58] 3v1n0 commented on #3411
@Jupi007 if a specific class is needed, we can definitely add one, it's really not an issue.

If you are in a jammy VM you can already easily try to edit it, using this (files are in `/usr/share/gnome-shell/extensions/ding@rastersoft.com`.

[code]

Then it's just about theming the `.desktopmenu` class.

[2022-03-07 10:59] Jupi007 commented on #3411
Okay, I'll try this :)

[2022-03-07 10:59] 3v1n0 commented on #3411
GS menus style is nice, but when having a large amount of items, the padding is becoming too much.

I agree we can reduce the padding here, but preserve the styling.

[2022-03-07 17:51] Initu-Castilhos opened #3461 "Update gtk-3.0 theme thumbnail."
Sorry to bother you again but I figured out how to generate thumbnail for gtk-3.0 themes, there is a text file explaining how to generate thumbnail for themes located at:/usr/share/cinnamon/gtk-3.0.

![thumbnail](https://user-images.githubusercontent.com/59381215/157089122-4b55f9d5-d8fb-4e2a-8c04-af997ea13efd.png)
![thumbnail-dark](https://user-images.githubusercontent.com/59381215/157089157-162ec

[2022-03-08 07:14] fthx opened #3463 "Green battery icon during charge"
Hi,

Running Jammy with Adwaita GS theme but Yaru icons.

I get a green battery icon when my laptop is plugged. Is that intended?
IIRC, we had some such issues in the past with wifi icon.

![image](https://user-images.githubusercontent.com/23138504/157185830-629a230e-1b4b-4015-960c-361cd4b1cd47.png)

Sorry if it's intended or already committed.

[2022-03-08 07:53] Muqtxdir commented on #3463
Hi @fthx

This change was made in the PR: #3243 to be in sync with Adwaita's-symbolics. If you are having any issues please share (_I hope it's nothing weird like the wifi icon_)

[2022-03-08 08:43] fthx commented on #3463
Hi!

Ok, I did not know we put now some color in GS.
:-)
Thanks for pointing this.

[2022-03-08 08:43] #3463 closed

[2022-03-08 16:08] ItzSwirlz commented on #3393
By the way, cinnamon should not be cinnamon-shell as I don't think that's how its referred to, but whatever you guys want

[2022-03-09 06:28] Initu-Castilhos opened #3469 "Add full icons for cinnamon."
If it is possible to add icons from cinnamon settings, that currently the icons are legacy as shown in the image below:
![Captura de tela de 2022-03-09 03-23-33](https://user-images.githubusercontent.com/59381215/157384821-17c14f62-6e8b-4ac3-9aaf-48d1fa205a39.png)

for this as shown in the image below:
![Captura de tela de 2022-03-09 03-23-50](https://user-images.githubusercontent.com/59381215/157

[2022-03-09 11:18] clobrano commented on #3410
this is unlikely a Yaru issue. At least not one we can solve in this repository. Closing this

[2022-03-09 11:18] #3410 closed

[2022-03-09 11:57] aedelred commented on #3348
Please do make this change. I feel that choice of light/dark and accent color should be standard on any user interface.

[2022-03-09 14:37] clobrano commented on #3030
The original bug seems to refer to dart, so I believe this has nothing to do with Yaru gtk

[2022-03-09 14:37] #3030 closed

[2022-03-09 18:22] ItzSwirlz commented on #3469
Some icons can be recycled but yes, new icons would be needed for Cinnamon and to work with other DE's later down the road

[2022-03-09 23:12] Jupi007 commented on #3411
Tested, this works.

**Before:**

![Capture d’écran du 2022-03-10 00-04-33](https://user-images.githubusercontent.com/36476595/157554023-2de6792b-a2d3-42f9-a29d-847901be11e3.png)

**After:**

![Capture d’écran du 2022-03-10 00-04-13](https://user-images.githubusercontent.com/36476595/157554038-ea2b1242-8e8a-4305-8732-1a8dee8aeb72.png)

But it only works on the menu from a right click in an empty z

[2022-03-10 20:11] github-actions[bot] opened #3473 "LP#1964493 "gdm has a black background now""
Reported first on Launchpad at https://bugs.launchpad.net/ubuntu/+source/yaru-theme/+bug/1964493

[2022-03-11 04:55] vitalkanev commented on #3473
The background was changed as part of https://github.com/ubuntu/yaru/pull/2910

[2022-03-12 18:38] Muqtxdir commented on #3159
Hi @juujuujj

Thanks for taking out time to make a suggestion. Having white hand2 cursor was an inconsistency with the rest of the cursor-set's bitmaps, for which few times issues were opened here on github. I think @Benni3-1415 and @ubuntujaggers were involoved and looked into making it the same colors as pointer.

Also, the fingers are visible at all the sizes. Not sure to what problem you are h

[2022-03-12 18:38] #3159 closed

[2022-03-12 18:40] Muqtxdir commented on #3262
I was on ubuntu-20.04.4 vm the other-day and this issue does not happen. @winyl please follow the instructions shared by @Jupi007 as it's most likely to get resolved by that.

[2022-03-12 18:40] #3262 closed

[2022-03-12 18:48] Muqtxdir commented on #3073
Hi @kothekarswaraj

Since Vim is not a GNOME-core application and more a third-party application that isn't even shipped by default on ubuntu-desktop. It would require an approval permission from the maintainers (_please see: [stopthemingmyapp](https://stopthemingmy.app)_).

That being said closing this issue as the icon provided by Vim is pretty great and I don't think other icon-contributors her

[2022-03-12 18:48] #3073 closed

[2022-03-12 18:50] Muqtxdir commented on #2933
since the MR is already opened at the correct-place, closing this issue as it isn't Yaru's issue per se

[2022-03-12 18:50] #2933 closed

[2022-03-12 18:52] #2430 closed

[2022-03-12 19:10] Muqtxdir commented on #2697
Hi @madsrh

This is not a yaru-issue, it is caused due to no use of proper-margins in ubiquity's GTK-frontend. That being said this is resolved (_see screenshot below_)

![ubiquity](https://user-images.githubusercontent.com/54065734/158031566-f7bf1a4f-67cf-475c-97f6-91ef3c866440.png)

[2022-03-12 19:10] #2697 closed

[2022-03-12 19:21] Muqtxdir commented on #3270
Hi @giovannicaligaris

The debian-packaging is handled by folks from ubuntu-desktop and is done on launchpad. If anyone is interested into getting this as debian-package under debian repositories, they are more than welcome to volunteer for handling the packaging if we are made aware of the publishing of package.

Thanks!

[2022-03-12 19:21] #3270 closed

[2022-03-12 19:27] Muqtxdir commented on #2794
hi @qwertychouskie

the dark theme has gotten so many improvements and fixes since 21.04 and the colors have definitely improved and look well in the recent releases. If you still feel that the dark-theme still needs improvements you are welcome to share your suggestion, in this discussion [2684](https://github.com/ubuntu/yaru/discussions/2684)

Thanks!

[2022-03-12 19:27] #2794 closed

[2022-03-12 19:40] Muqtxdir commented on #2999
Hi @jackpot51

since the option to swap style-sheets is something that libadwaita won't allow to do, for the `prefer-dark` functionality to work properly without any hassles.  Even though both yaru and pop themes are relatively closer to upstream Adwaita with minor-changes, the newer relatively safer approach based on the discussion we had with libadwaita folks is to just make the Libadwaita's sty

[2022-03-12 19:40] #2999 closed

[2022-03-12 19:51] Muqtxdir commented on #2878
hi @shipilev

as mentioned already above @Feichtmeier Geany is not a GNOME-core application and more a third-party application that isn't even shipped by default on ubuntu-desktop. It would require an approval permission from the maintainers (_please see: [stopthemingmyapp](https://stopthemingmy.app)_).

That being said closing this issue as I don't think other icon-contributors here, have the tim

[2022-03-12 19:51] #2878 closed

[2022-03-12 19:53] Muqtxdir commented on #2754
hi @ahayzen

since you've opened this issue at the correct-place for others to track the progress there and this being not a Yaru-issue per se, closing it.

Thanks!

[2022-03-12 19:53] #2754 closed

[2022-03-12 20:02] Muqtxdir commented on #3090
since with #3416 other variants are being implementing, the `hc` would need to be provided for all of them. which in itself is a huge work and would require more contrast testing than regular, it's better to avoid adding `hc` for all of them and stick to GNOME's  `hc` stylesheet.

Also since libadwaita provides `hc` and `hc-dark` strictly for `hc` needs. yaru's-hc wouldn't be used at all and becom

[2022-03-12 20:02] #3090 closed

[2022-03-12 21:05] madsrh commented on #2697
Thanks @Muqtxdir 👍

[2022-03-12 21:19] jackpot51 commented on #2999
Have fun

[2022-03-13 17:30] #2517 closed

[2022-03-13 17:55] Muqtxdir commented on #2586
Hi @madsrh

The Popover in the first screenshot is a `GtkMenu` widget and in the second screenshot it is a `tooltip_text` property. So essentially both are different things so there's no way in `scss/css` to unify it without globally changing the look of `tooltip_text` (_which is really not a good idea_)

I hope Im making sense 😅

[2022-03-13 17:56] Feichtmeier commented on #2165
Is this still relevant with all the new design and style classes? @Muqtxdir @Jupi007

[2022-03-13 17:59] Jupi007 commented on #2165
Well, I don't know why, but I can't lock my screen on my computer.
I'll try to look at this in a VM.

[2022-03-13 18:01] Muqtxdir commented on #2128
hi @oSoMoN

_The icon has been re-added [here](https://github.com/ubuntu/yaru/blob/master/icons/Yaru/16x16/legacy/mail-receive.svg) by @ubuntujaggers in his big legacy-icons PR without any gradient in the svg. So could you please see whether this issue is still valid?_

[2022-03-13 18:01] Jupi007 commented on #2165
![Capture d’écran de 2022-03-13 19-00-25](https://user-images.githubusercontent.com/36476595/158072849-75ff5f59-5f41-442c-b1a7-6ba40e0ff8ec.png)

This doesn't look bad at all.
@clobrano did you have a similar look?

[2022-03-13 18:05] Muqtxdir commented on #2165
I think this 'autosuspend' message only appears to battery-powered-devices, I'll try triggering this autosuspend notification on my laptop

[2022-03-13 18:08] Feichtmeier commented on #2165
I think this is a different message. Maybe you can cheat it when you set your auto suspend time to 5 minutes

[2022-03-13 18:20] Feichtmeier commented on #2797
I think this is doesn't happen anymore, right?

[2022-03-13 18:24] Jupi007 commented on #2797
Indeed:

![Capture d’écran du 2022-03-13 19-23-09](https://user-images.githubusercontent.com/36476595/158073705-21de5f09-f055-4bad-a8c6-7abb16136991.png)

[2022-03-13 18:24] #2797 closed

[2022-03-13 18:28] Feichtmeier commented on #2420
I think, though I don't have nemo installed, that this should not happen anymore, since we do not overwrite tree view selection anymore and we do not have the row wildcard anymore. Checking...

[2022-03-13 18:34] Feichtmeier commented on #2420
ewww
still there
![image](https://user-images.githubusercontent.com/15329494/158074059-71ed350e-bc1c-4e68-a8b7-8a6ba8d9c532.png)

[2022-03-13 18:34] Jupi007 commented on #2420
Even using Adwaita?

[2022-03-13 18:41] Feichtmeier commented on #2420
yes
![image](https://user-images.githubusercontent.com/15329494/158074300-d36519b6-ed3e-4f8c-a594-f00be3cef5c2.png)

[2022-03-13 19:07] Jupi007 commented on #2420
Well this is not a Yaru problem.
It could be related even to Gtk itself or to the nemo built-in stylesheet.

@herrdeh can you ask the nemo devs to investigate this problem?

[2022-03-13 20:11] github-actions[bot] opened #3479 "LP#1964684 "Yaru (battery) icons in Power Statistics do not show correctly ""
Reported first on Launchpad at https://bugs.launchpad.net/ubuntu/+source/yaru-theme/+bug/1964684

[2022-03-13 20:49] Muqtxdir commented on #3479
This is happening mostly because the icons present in `panel` are being used in power statistics.

[2022-03-13 21:30] madsrh commented on #2586
Thanks for looking into this @Muqtxdir but the issue was poorly explained by me - sorry.
I only confused you by mention the tooltip. This probably isn't an issue at all, but you more clearly see the overlap in the image below. IMHO 1px down would be better (or more hence the tooltip reference 😉)

![Screenshot_20220313-222111__01](https://user-images.githubusercontent.com/3986894/158079908-0c7fde26

[2022-03-13 21:32] Muqtxdir commented on #3469
@ItzSwirlz rather than commenting about the scope/direction of icons if you are not contributing towards it, please for the hundreth-time in this repo I ask you to share the list of these fullcolor-icons. Just having a screenshot of missing-icons and not mentioning the related fullcolor-icons names would not help in making any effective progress by any means.

We are all volunteers here who are co

[2022-03-13 22:53] Initu-Castilhos commented on #3469
Sorry for the lack of technical information:
follow the list:
- cs-applets
- cs-backgrounds
- cs-bluetooth
- cs-cat-admin
- cs-cat-appearance
- cs-cat-hardware
- cs-prefs
- cs-color
- cs-date
- cs-default-applications
- cs-desklets
- cs-desktop
- cs-desktop-effects
- cs-details
- cs-display
- cs-drivers
- cs-extensions
- cs-firewall
- cs-fonts
- cs-general
- cs-input-method
- cs-keyboard
- cs-lang

[2022-03-14 09:20] Jupi007 opened #3483 "Wrong padding in dock mode"
The padding is too low at both ends of the dock:

![Capture d’écran du 2022-03-13 22-19-11](https://user-images.githubusercontent.com/36476595/158079754-f51a600d-59a2-48e1-874d-d5cc30ca1afe.png)

This only appends in non extended mode when there's too much apps.

@3v1n0 Can you take a look at this?
I spend 1H trying to fix this without success.

[2022-03-14 09:22] Jupi007 commented on #3351
@Scotty-Trees Can you check again using GS42 and the master branch if this still appends?

[2022-03-14 09:42] Scotty-Trees commented on #3351
@Jupi007 I'm on EnveaourOS Gnome, still using Gnome 41. I don't think Arch will have Gnome 42 until around the middle/end of April next month. I can happily test it for you then, if you don't mind the wait, since I don't have any other way to test it on my system at the moment.

[2022-03-14 09:47] Jupi007 commented on #3351
April is a bit too late.
But there's no problem, don't worry :)

I'll try to find a workaround to install this extension on my VM.

[2022-03-14 09:53] Scotty-Trees commented on #3351
@Jupi007 there is an unofficial gnome 42 unstable testing for Arch I found on GitHub, but I think your idea might be a bit easier and quicker in a VM. Let me know if you have any success and good luck!

[2022-03-14 10:10] Jupi007 commented on #3411
I could be great to sync Gtk theme variant and Gnome Shell one :+1:

Personally, I didn't forced the dark theme in my PR.
I only added a bit more spacing and rounding here and there.

[2022-03-14 10:16] Muqtxdir commented on #3351
hi @Scotty-Trees and @Jupi007

Ive tested the extension locally on GNOME-Shell 42, the close hover alignment issue seems to be reoslved (_please see screen cast below_)

https://user-images.githubusercontent.com/54065734/158152272-820f4532-ee33-4076-9635-de16a0df01cd.mp4

[2022-03-14 10:30] Scotty-Trees commented on #3351
@Muqtxdir Great work and thanks for testing and appreciate the update! Looking forward to using it when Gnome 42 is out in the wild for us Arch users!

[2022-03-14 12:08] lyubomir-popov commented on #3473
The chosen colour (`#222`?) seems ok to me. It is dark enough to allow white or light text to be readable on it, and it work well with any [theme colours](https://github.com/ubuntu/yaru/issues/3348) that are about to be introduced.

Once theme colours are introduced, it would make sense to derive a background colour from the accent colour as an alternative.

#### Accessibility considerations
(Ther

[2022-03-14 13:16] Muqtxdir commented on #3473
hi @lyubomir-popov 👋

thank you for sharing a detailed analysis regarding the background-color for gdm. Really great points presented regarding the accessibility and consistency aspects. However I'd like to just add few points and elaborate from yaru's scope of themeing:

#### Some context related to the change:
Since, the accent-colors will be introduced in 22.04, it made sense to use a darker ba

[2022-03-14 13:20] Jupi007 commented on #3473
The GDM background have to be as neutral as possible.
Users can pick an accent color for their own session.
But the login screen is shared across users and so should be unaccented.

[2022-03-14 19:23] Jupi007 commented on #3348
Grey is very problematic with Gtk3 (see #3245 for ex.).
I would prefer to doesn't ship it as accent.

[2022-03-14 19:39] ItzSwirlz commented on #3348
Eventually we may want to bounce back to it as Budgie is gray (or we could go with a white I suppose)

[2022-03-14 19:40] ItzSwirlz commented on #3469
There's more  if you count the settings daemon stuff, but the icons listed in the symlinks work well enough. But I'm not skilled in icon creation, so I can't create these icons.

[2022-03-14 21:07] 3v1n0 commented on #3483
Ok, will check on that.

[2022-03-14 21:09] 3v1n0 commented on #3473
Technically we could do what unity did changing bg-color based on user accent, but definitely not for 22.04.

[2022-03-14 21:32] Jupi007 commented on #3483
Thanks :)

[2022-03-14 21:40] 3v1n0 commented on #3411
So... I thought we wanted to keep the shell always dark, while apply the dark/light variants only to the toolkits.

Well, we could... I didn't do it so far because as said I thought that was a decision to keep the shell always dark...

It's technically possible. I personally to have the shell always dark, but maybe it's just a personal choice.
thave any preference here?

To make it clearer, so far

[2022-03-15 02:30] 3v1n0 commented on #3348
Thanks @lyubomir-popov for the analysis.

There are good options in your proposal, however I wonder if we can provide some more vivid colors, especially when it comes to green, purple and red (that currently we don't have anymore).

I definitely understand that the contrast on some background colors is hard to achieve.
At the same time I think that we can accept some lower contrast ratio, if we ca

[2022-03-15 05:05] Feichtmeier commented on #3411
@3v1n0

We've chosen the dark shell because:

1) we thought we couldn't or we shouldn't change shell to follow GTK
2) since we thought we couldn't we thought that a dark pop-up on a light BG is less annoying than a light pop-up on a dark BG

Ideally all should be synced like in Android or Windows :)

[2022-03-15 06:33] Muqtxdir commented on #3411
please keep it consistent with user's choice of light/dark mode system-wide as it is a general assumption derived from user's experience from other platforms like android, plasma and windows.

[2022-03-15 07:42] Jupi007 commented on #3411
Honestly, I also prefer a whole light/dark synced system.

[2022-03-15 09:25] lyubomir-popov commented on #3473
Is this colour only ever used on the login screen? And does any small text (under 14px) appear on top of it?
Asking these questions to understand how light the gray can be before it breaches accessibility guidelines.

Someone mentioned elsewhere that this current dark grey (perceived as black by them) confuses them into thinking something went wrong, if this is a shared feeling then moving to ligh

[2022-03-15 09:35] origpumu opened #3485 "Wrong background-color in evolution mail view for html mails"
**Expected Behavior**

HTML-mails in evolution should shown on white background in mailview also if I have choosen yaru dark in system settings.
Mails without a background color definition should not have a dark background.

**Actual Behavior**

The text in some html-mails keeps black and the background a dark grey, so the user can't read texts properly.
textmails are shown correctly with light te

[2022-03-15 09:41] Jupi007 commented on #3473
This colour is the same used for the overview background.
It is a very specific color which aim to be _lighten than dash but darken than $bg-color_.

Here is screenshots of the two states of this screen:

![VirtualBox_Ubuntu 22 04 dev_15_03_2022_10_35_06](https://user-images.githubusercontent.com/36476595/158348899-b16a2517-c7a9-4883-a10a-cb8d0ed23471.png)

![VirtualBox_Ubuntu 22 04 dev_15_03_2022

[2022-03-15 09:48] lyubomir-popov commented on #3473
@Jupi007 thank  you for the screenshots and additional context. To be honest, given the presence of the logo anmd user choices, I don't think this can be confused with a "something went wrong" situation, so I see no need to change this in any way from a design or accessibility perspective.

[2022-03-15 09:49] Jupi007 commented on #3473
It's also my opinion :)

[2022-03-15 09:57] Jupi007 commented on #3485
Hi @origpumu
Thanks for the report.

Did you checked using the Adwaita theme?

`gsettings set org.gnome.desktop.interface gtk-theme Adwaita`

Then to revert Yaru-dark: `gsettings set org.gnome.desktop.interface gtk-theme Yaru-dark`

[2022-03-15 10:33] origpumu commented on #3485
Adwaita theme works as expected with bright background. Adwaita-dark shows the same wrong behavior like yaru-dark.

[2022-03-15 10:39] Jupi007 commented on #3485
Thanks. We are based on Adwaita, so this is not a Yaru bug.
Imo, this is related to the **Evolution** stylesheet itself.

So, please open an issue at **Evolution** repository.
Once done, please also post the link here, so we can follow the discussion.
We could eventually add a temporary patch.

Thanks :)

[2022-03-15 12:34] origpumu commented on #3485
https://gitlab.gnome.org/GNOME/evolution/-/issues/1835

[2022-03-15 16:30] 3v1n0 commented on #3411
Fair enough, it seems we've a consensus here :-D

[2022-03-16 02:45] vanvugt commented on #3473
Whatever the final colour of the login screen is, remember we need to patch gnome-shell to inherit the same colour for its system background used briefly during the login animation.

[2022-03-16 07:43] Jupi007 commented on #3473
The bg shouldn't change now.
So the final color is the one from screenshots: `#222222`.

[2022-03-16 08:18] vanvugt commented on #3473
Seems people agreed in #2910 that it should not be changed to grey, and the PR was closed in September. Then it was reopened and merged in January without any explanation. Did I miss something?

[2022-03-16 09:17] Jupi007 commented on #3473
I'm sorry to not have given a correct explanation of why I reopened and merged this commit.
After a discussion in a private chat, we all decided to merge this PR for testing in real conditions the grey bg.

[2022-03-16 09:20] vanvugt commented on #3473
I do like grey, and I will change the gnome-shell login animation to match if need be. I just don't want the strong supporters of purple to be upset.

[2022-03-16 09:22] Jupi007 commented on #3473
I understand, and I'm really sorry 😕

Honestly, I really prefer this color over purple.
I looks more professional, and the dark entry blends much better.

[2022-03-16 20:16] github-actions[bot] opened #3487 "LP#1965003 "Orange running dots on launchers are out of centre on bottom dock""
Reported first on Launchpad at https://bugs.launchpad.net/ubuntu/+source/yaru-theme/+bug/1965003

[2022-03-17 18:21] #3411 closed

[2022-03-17 20:11] github-actions[bot] opened #3489 "LP#1965207 "The spinner animation in the panel has hiccups and jumps periodically""
Reported first on Launchpad at https://bugs.launchpad.net/ubuntu/+source/yaru-theme/+bug/1965207

[2022-03-17 20:11] github-actions[bot] opened #3490 "LP#1965210 "Grey (gray) panel menus don't contrast with the grey login screen""
Reported first on Launchpad at https://bugs.launchpad.net/ubuntu/+source/yaru-theme/+bug/1965210

[2022-03-18 02:51] #3348 closed

[2022-03-18 09:30] Jupi007 commented on #3473
@3v1n0 I think we can close this issue?

[2022-03-18 10:03] Jupi007 opened #3491 "Lock screen issue in light theme"
![Capture d’écran du 2022-03-17 21-05-50](https://user-images.githubusercontent.com/36476595/158982708-785f02b1-dedf-4bd9-9ae4-d97f38f7fbb9.png)

[2022-03-18 10:12] Jupi007 commented on #3485
@origpumu As I see that the app developers fixed that, can I close this issue?

[2022-03-18 12:21] flexiondotorg opened #3493 "MATE: Colour variations of existing icons requested"
Please can MATE colour accented versions of the following icons be added:

- [x] actions/folder-new.png
- [x] actions/folder_new.png
- [x] emblems/emblem-symbolic-link.png
- [x] legacy/document-export.png
- [x] places/start-here.png
  - Reference SVGs
    - <https://github.com/ubuntu-mate/ubuntu-mate-artwork/blob/master/usr/share/icons/Yaru-MATE-light/16x16/places/start-here.svg>
    - <https://gi

[2022-03-18 13:12] Jupi007 commented on #3493
I'll add those icons.

[2022-03-18 13:35] lah7 opened #3494 "meson.build: ERROR: Unknown variable "css_sources_path" with accent colours"
The community project [`ubuntu-mate-colours`](https://github.com/lah7/ubuntu-mate-colours) previously generated colour variants for Yaru-MATE by patching this repository's `hirsute/mate` branch, but now intends to switch to using this project's build system to generate coloured GTK/Icon themes for Ubuntu MATE 22.04.

From a fresh clone, there seems to be an issue building the accent colours:

[cod

[2022-03-18 13:43] Muqtxdir commented on #3494
hi @lah7

The `default` and `dark` needs to be set true for build to work now as accent colors are dependent on it.

[2022-03-18 14:42] lah7 commented on #3494
Thanks, it turns out that `gnome-shell=false` causes the error.

Just to clarify, is it possible for accent colours to be generated based on a "flavour"? For example, `Yaru-mate` → `Yaru-mate-blue`?

[2022-03-18 17:57] Jupi007 opened #3495 "Use new ubuntu logo"
See: https://ubuntu.com/blog/a-new-look-for-the-circle-of-friends

[2022-03-18 18:17] Muqtxdir commented on #3495
@Jupi007 i think these two icons are the only ones that should be updated:
- fullcolor: ubiquity
- scalable: start-here

[2022-03-18 18:59] Jupi007 commented on #3495
Yes, thanks @Muqtxdir :)

[2022-03-18 20:11] github-actions[bot] opened #3497 "LP#1965556 "Gnome dialogues light on dark theme with custom highlight color""
Reported first on Launchpad at https://bugs.launchpad.net/ubuntu/+source/yaru-theme/+bug/1965556

[2022-03-19 04:46] lekegf opened #3502 "Software Center icon should be one colour only"
Hi;
I noticed that Software Center icon (Snap Store as some call) now changes its colour according to the new system accent colour.
It doesn't make much sense to me changing its colour, since the chosen accent colour doesn't reflect anything within the interface of the program itself.
Besides, the colour should be universal, so it can be easily recognized in any Ubuntu installation independent of

[2022-03-19 05:18] 3v1n0 commented on #3487
This was fixed some time ago by @Jupi007.

[2022-03-19 05:18] #3487 closed

[2022-03-19 06:56] eshagh79 opened #3506 "Wrong in right-to-left(RTL) icon"
Hi, I noticed that one of the yaru icons is misspelled.
I saw this error in one of the plugins I use and first checked the plugin and realized that the problem is with the icon. This problem does not exist with other icons set like Adwaita.
The go-last-symbolic-rtl.svg icon has a problem.
https://github.com/ubuntu/yaru/icons/Yaru/scalable/actions/go-last-symbolic-rtl.svg

**Expected Behavior**

I

[2022-03-19 08:28] Jupi007 commented on #3506
Hi @eshagh79,
thanks for the report.
We'll fix that quickly.

[2022-03-19 09:03] Jupi007 commented on #3502
Hi @lekegf,
thank you to have taking you time to write this issue.

I don't know for the others, but this is not my opinion :)
Imo, having such a large orange like this one when we change the accent color could be sad.
The feature of accented icons is nice and I think it is important to use it everywhere there is orange in an icon.

[2022-03-19 09:23] Jupi007 commented on #3497
Not related to the Yaru theme it self.

[2022-03-19 09:23] #3497 closed

[2022-03-19 10:19] Jupi007 commented on #2899
@Feichtmeier Can I fix this?

[2022-03-19 10:40] Feichtmeier commented on #2899
@Jupi007 yes please 👍

[2022-03-19 14:48] rafaelmartines commented on #3502
I disagree, should change the color of the App Center as well, to keep the consistency, otherwise I would remove the App Center icon from dock

[2022-03-19 14:57] #3506 closed

[2022-03-19 14:57] #3493 closed

[2022-03-19 16:10] Muqtxdir commented on #3502
I'm neutral on this, either one is fine with me. Since this requires opinion and feedback of others, ping: @ubuntu/yaru-team

[2022-03-19 17:12] Muqtxdir commented on #2173
The `gnome-shell-theme-gresource` now makes use of custom-names for accent-colors in `gnome-shell`

[2022-03-19 17:12] #2173 closed

[2022-03-19 17:14] Muqtxdir commented on #2128
tried `qgit` on ubuntu-22.04, the warnings no longer appear. so closing this issue

[2022-03-19 17:14] #2128 closed

[2022-03-19 17:15] Muqtxdir commented on #2621
These have fixed by @3v1n0 in PR: #3416

[2022-03-19 17:15] #2621 closed

[2022-03-19 17:30] Feichtmeier commented on #3502
I agree with the opening post. I don't think that an orange software centre icon clashs with the other colors. But I don't have a super strong opinion on this and it would probably not really hurt if we take the current approach

[2022-03-19 18:11] madsrh commented on #3502
I'll have to agree with @lekegf. The orange in the software center icon is not used as an accent color, it's Ubuntu branding, so it makes IMHO sense to keep it orange.

[2022-03-19 19:56] seb128 commented on #3495
Hey there, I'm adding the svg for some of the logos, the square version is the one to use for <= 32px according to design, let me know if you need anything else for the yaru update

![Ubuntu_Standard_32px_RGB](https://user-images.githubusercontent.com/10974330/159136434-8800423d-1f6f-466c-bff6-7f4054e14b8d.svg)

![Ubuntu_Standard_128px_RGB](https://user-images.githubusercontent.com/10974330/159136

[2022-03-19 19:57] Jupi007 commented on #3495
Thanks a lot @seb128 :+1:

[2022-03-19 20:58] #3491 closed

[2022-03-19 21:30] zara1193 opened #3516 "GTK2 components are missing for the new color selections in 22.04."
**Expected Behavior**

GTK2 applications should follow the selected color setting, or at least not look broken.

**Actual Behavior**

Light themes aside from the default orange revert to the orange GTK2 scheme in GTK2 applications, and dark variants look completely broken.

**Steps to Reproduce the Problem**

Open a GTK2 application when you've selected any accent color but orange. You can also sw

[2022-03-20 06:25] Feichtmeier commented on #2899
I think we could just go with the unmodified upstream versions and could be good. No idea why they were changed

[2022-03-20 08:27] Jupi007 commented on #2899
Upstream use totally transparent background.
Honestly, I prefer with a soft grey but I can just remove the tweak if you prefer.

[2022-03-20 08:27] #3495 closed

[2022-03-20 08:47] Feichtmeier commented on #2899
Oh? Okay. Then it must be a thing for nautilus only. Other Infobars use this invertion of primary colour, desaturated

[2022-03-20 08:50] Jupi007 commented on #2899
So we can just use a softer grey for this?
Btw where can I find other infobars?
Nautilus is the only place I saw one.

[2022-03-20 09:59] Feichtmeier commented on #2899
Found one
![image](https://user-images.githubusercontent.com/15329494/159157183-6fc38945-c54f-412d-ab4d-6f3a5ef24163.png)

[2022-03-20 10:01] Jupi007 commented on #2899
Thanks :+1:

Imo, the patch should only target nautilus.

[2022-03-20 10:01] #2899 closed

[2022-03-20 11:03] #3489 closed

[2022-03-20 12:40] schuelermine opened #3521 "System status change indicators like display brightness or volume are too rounded, with sliders overflowing"
**Expected Behavior**

An aesthetically pleasing volume indicator

**Actual Behavior**

The indicator had way rounded corners and the slider overlapped them.

**Steps to Reproduce the Problem**

**System information**

**Yaru version**

22.04.2

**Screenshots**

![Screenshot from 2022-03-20 13-36-07](https://user-images.githubusercontent.com/48802534/159162657-389c0f61-4a96-45c9-9d03-a171f14d7f28.

[2022-03-20 12:50] Jupi007 commented on #3521
Hi @schuelermine,
it looks like you aren't using Gnome Shell 42.

This theme is based on the upstream GS42 theme and so is incompatible with any previous versions.

Closing this so.

[2022-03-20 12:50] #3521 closed

[2022-03-20 20:10] github-actions[bot] opened #3522 "LP#1965649 "package yaru-theme-icon 22.04.2 failed to install/upgrade"
Reported first on Launchpad at https://bugs.launchpad.net/ubuntu/+source/yaru-theme/+bug/1965649

[2022-03-20 20:10] github-actions[bot] opened #3523 "LP#1965659 "Yaru color themes make some apps unreadable white""
Reported first on Launchpad at https://bugs.launchpad.net/ubuntu/+source/yaru-theme/+bug/1965659

[2022-03-21 01:47] vanvugt commented on #3473
Maybe check with @seb128 first since he [opened the bug](https://launchpad.net/bugs/1964493).

[2022-03-21 07:38] seb128 commented on #3473
You can close it yes, it still feels buggy to me like if the login manager was failing to load but that's just my packager eye, I will trust the designers in their choice

[2022-03-21 09:20] #3473 closed

[2022-03-21 20:16] github-actions[bot] opened #3531 "LP#1965627 "Unlock screen password is barely visible/contrasting""
Reported first on Launchpad at https://bugs.launchpad.net/ubuntu/+source/yaru-theme/+bug/1965627

[2022-03-21 20:47] Jupi007 commented on #3531
Already closed by #3513

[2022-03-21 20:47] #3531 closed

[2022-03-22 01:48] flexiondotorg commented on #2585
The is fixed via https://github.com/ubuntu-mate/ubuntu-mate-artwork/releases/tag/22.04.7

[2022-03-22 06:39] madsrh commented on #2585
Thanks @flexiondotorg 👍

[2022-03-22 06:39] #2585 closed

[2022-03-22 09:20] origpumu commented on #3485
Fixed in https://gitlab.gnome.org/GNOME/evolution/-/issues/1835

[2022-03-22 09:20] #3485 closed

[2022-03-22 17:49] 3v1n0 commented on #3523
GTK2 apps were not handled... We need to fix this, apparently. :(

[2022-03-22 17:49] 3v1n0 commented on #3522
Closed by 00f1f04d082a6a98bc3c1880955450722bfc50cd

[2022-03-22 17:49] #3522 closed

[2022-03-22 17:50] 3v1n0 commented on #3523
Duplicate of #3516

[2022-03-22 17:50] #3523 closed

[2022-03-22 20:11] github-actions opened #3533 "LP#1965941 "Oval buttons in Java apps on 22.04/Yaru""
Reported first on Launchpad at https://bugs.launchpad.net/ubuntu/+source/yaru-theme/+bug/1965941

[2022-03-23 11:28] flexiondotorg opened #3536 "MATE: Caja text-based location is unreadable in light Yaru themes"
**Expected Behavior**

When using Caja with text-based location bar, the text entry should be readable when using a light Yaru theme.

**Actual Behavior**

When using Caja text-based location bar and a light Yaru theme, the text is black on a dark background and not readable.

**Steps to Reproduce the Problem**

  * Download the Ubuntu MATE 22.04 daily-live image.
  * From from USB or or in a VM

[2022-03-23 11:29] Jupi007 commented on #3536
Once I finished with dark panel icons, I'll take a look at this.

[2022-03-23 11:42] flexiondotorg opened #3537 "MATE: Text caret navigation not visible when renaming files/folders on Desktop with dark themes"
**Expected Behavior**

The text caret navigation should be visible when renaming files/folders on the Desktop using a dark Yaru theme.

**Actual Behavior**

The text caret navigation is not visible while renaming files/folders on the Desktop using a dark Yaru theme.

**Steps to Reproduce the Problem**

- Download the Ubuntu MATE 22.04 daily-live image.
- Run from USB or in a VM

[code]

- Use the

[2022-03-23 12:24] #3502 closed

[2022-03-23 12:30] rafaelmartines commented on #3502
Sad, but since I realized that the name of the Ubuntu Sofware is actually Snap Store and to use flatpaks I need to download Gnome Software, I'll just remove the icon from dock post install 😌

[2022-03-23 16:17] flexiondotorg commented on #3536
Just noticed this issue was also file here:

- https://github.com/ubuntu-mate/ubuntu-mate-artwork/issues/74

[2022-03-23 16:29] Jupi007 commented on #3536
I can reproduce the problem, but I think it is related to Caja itself.
It comes when switching from light to dark: if you start with light theme then switch to dark, this entry keep light theme, and inversely with dark to light. A reboot fix the problem.

[2022-03-23 16:34] Jupi007 commented on #3537
I found the problem, I'll send a patch.

[2022-03-23 16:39] Jupi007 commented on #3479
@Muqtxdir Now we have dark panel icons, can we close that?

[2022-03-23 16:57] #3537 closed

[2022-03-23 17:02] flexiondotorg commented on #2772
This is a bug in Caja. @Jupi007 please close this issue.

[2022-03-23 17:03] flexiondotorg commented on #3536
Yes, This is a bug in Caja.

[2022-03-23 17:03] #2772 closed

[2022-03-23 21:48] Jupi007 opened #3548 "Fix Fix upstream repositories branches"
It looks like some upstream repositories branches are wrong: https://github.com/ubuntu/yaru/actions/runs/2030928460

[2022-03-23 22:28] Jupi007 commented on #3548
Closed by #3549

[2022-03-23 22:47] #3548 closed

[2022-03-23 23:40] flexiondotorg commented on #3516
I'm working on this.

[2022-03-24 01:09] flexiondotorg opened #3550 "Dark icon sets are now missing which breaks MATE and Unity panels"
@3v1n0 Earlier today [support for dark panel icons was added](https://github.com/ubuntu/yaru/pull/3538) to Yaru. Sadly, [this commit](https://github.com/ubuntu/yaru/commit/1d1673e7d86b375f3a254a2c8d22e8ef4312ef06) `-dark` icon sets for accent colors themes are no longer generated, breaking panel icons for MATE and Unity 😭

  * Every accent color variant must have a `-dark` icon set with an `index.

[2022-03-24 08:04] #3393 closed

[2022-03-24 08:09] Initu-Castilhos opened #3552 "Add cinnamon variant gtk theme."
As you already have the cinnamon variant of the cinnamon theme, the gtk theme is missing.

[2022-03-24 08:16] Initu-Castilhos opened #3553 "Add Cinnamon variant icon folder."
As you already have the cinnamon theme variant #dd682a, the cinnamon theme icon variant is missing.

[2022-03-24 09:29] flexiondotorg commented on #2760
@Feichtmeier or @Jupi007 Please can you remove the focus for not selected.

Navigating the panel is an edge case, mostly reserved for the visually impaired who will hear spoken prompts anyway.

[2022-03-24 16:13] Initu-Castilhos opened #3555 "Assets with orange color in color variants."
Assets with orange color in color variants as shown in the image below.
![Captura de tela de 2022-03-24 12-59-57](https://user-images.githubusercontent.com/59381215/159961056-d301fb44-9a75-44dd-9a9a-5265cdae16e0.png)

My suggestion is to use monochromatic color (gray).

[2022-03-24 16:47] flexiondotorg commented on #2813
Ubuntu MATE 22.04 supports `picom` as an alternative compositor. `picom` is a fork of  `compton` and replaces it.

@Jupi007 If you have the time, please take a look at this one.

- You need to be running a Yaru light theme, such as Yaru MATE Light.
- You need to enable *Marco (picom: Xrender)* via MATE Tweak

![image](https://user-images.githubusercontent.com/304639/159966607-77d6a3c5-179f-461e-bd

[2022-03-24 17:34] Jupi007 commented on #2813
I can reproduce the problem, but is this a Gtk window/widget?
If so, do you know where I could find some selector for this?

I'm asking this because I can't open the Gtk widget inspector because this popup is gone once I release the `Alt` key.
And I need to press `Ctrl+Maj+D` to open the inspector.

[2022-03-24 19:39] flexiondotorg commented on #3533
I can not reproduce this with Metacity from master.

![image](https://user-images.githubusercontent.com/304639/159996787-f2033680-7232-41aa-9763-8a36d8fa094a.png)

[2022-03-24 19:49] #2760 closed

[2022-03-24 19:52] Jupi007 commented on #2586
Anyway this is not fixable (at least I didn't found a way to fix it).
I'm sorry @madsrh but I'm closing this :)

[2022-03-24 19:52] #2586 closed

[2022-03-24 20:12] github-actions[bot] opened #3558 "LP#1917185 "Nextcloud settings window does not get decorated with window control buttons""
Reported first on Launchpad at https://bugs.launchpad.net/ubuntu/+source/yaru-theme/+bug/1917185

[2022-03-24 20:12] github-actions[bot] opened #3559 "LP#1966167 "Show Applications button is not clickable in the corner of the screen""
Reported first on Launchpad at https://bugs.launchpad.net/ubuntu/+source/yaru-theme/+bug/1966167

[2022-03-24 21:01] #3558 closed

[2022-03-25 01:13] flexiondotorg commented on #2813
Well, it is Gtk. The code for the tab switcher is here:

- https://github.com/mate-desktop/marco/blob/master/src/ui/tabpopup.c

Not sure is that is revealing enough to expose what colours it derives from.

[2022-03-25 09:32] #3490 closed

[2022-03-25 12:57] Jupi007 commented on #2813
Thanks @flexiondotorg,
sadly, I can't found the correct selector for this.
I navigated into the code ... but honestly, I never used Gtk in my life so I don't know what I should search 😅

Maybe can you ask somebody who worked on the tab switcher?

[2022-03-25 13:01] Feichtmeier commented on #2813
maybe this line?

https://github.com/mate-desktop/marco/blob/0e517d0fe102296e4b44253c1673cb767b5f444c/src/ui/tabpopup.c#L291

[2022-03-25 13:10] Feichtmeier commented on #2813
Also those lines are super weird
https://github.com/mate-desktop/marco/blob/0e517d0fe102296e4b44253c1673cb767b5f444c/src/ui/tabpopup.c#L1126-L1135

[2022-03-25 13:36] Feichtmeier commented on #2813
@flexiondotorg in theory, you should use the "osd" style class of gtk which is always dark in yaru. So if I think correctly, we should not need to fix this in yaru

[2022-03-25 13:40] Jupi007 commented on #2813
Thanks for the investigation @Feichtmeier

After a lot (and a lot) of trying, I found a selector: `image:selected` (which is logical).

![Capture d’écran du 2022-03-25 14-40-04](https://user-images.githubusercontent.com/36476595/160131612-9c3c9ca0-eece-4c21-8fe0-f85f83e894a0.png)

[2022-03-25 13:41] Feichtmeier commented on #2813
That's nice @Jupi007

I still think this pop-up needs to be dark just like in gnome shell.

[2022-03-25 13:47] Jupi007 commented on #2813
Yeah maybe, but I can't style the window around at all as I didn't found a working selector.
I tried many things like: `window`, `window.osd`, `.osd`, ... 😅

Btw, Adwaita have the same issue, so maybe this should be fixed in a custom stylesheet inside the marco project 🤔

[2022-03-25 13:52] Jupi007 commented on #2813
**Little note:** it seems doesn't support transparent colors, on the screenshot I had to darken the `bg_color`.
If I use `transparentize` the color is still opaque.

[2022-03-25 13:57] Jupi007 commented on #2813
**Note 2:** Adwaita looks like this:

![Capture d’écran du 2022-03-25 14-54-20](https://user-images.githubusercontent.com/36476595/160134125-89272395-a949-4e9f-8e3b-5ad1324340ec.png)

It is not perfect, but we can see which item is selected.
Imo, the issue comes from the Yaru side after all: as we use a lighter bg, the white selected background is low contrast.

I think we should just add a fix fo

[2022-03-25 13:59] Feichtmeier commented on #2813
Sure. Just in the long run I don't think this osd pop-up should look any different than the other osd pop-ups. And this needs to be fixed by the mate guys in that C code

[2022-03-25 14:03] Jupi007 commented on #2813
I agree with you.

So I'll send a patch for selected images, because this issue could affect some other apps.

[2022-03-25 15:17] flexiondotorg commented on #2813
So, MATE does use the OSD styling when Marco's own compositor is enabled. But, when people use 3rd party compositors then Marco doesn't use the OSD styling, since it is now running with its own compositor disabled and assumes there is no compositor.

And that is the issue you have fixed :smiley:

I'm very grateful because it is common for MATE uses to use compton/picom compositors, and I've even i

[2022-03-25 16:03] Jupi007 opened #3561 "Add missing accented icons"
- [x] **preferences-desktop-wallpaper**:

![Capture d’écran du 2022-03-25 16-49-19](https://user-images.githubusercontent.com/36476595/160157489-182735df-0791-4e38-8781-ea03417d5c43.png)

- [x] **audio-speaker-***:

![Capture d’écran du 2022-03-25 16-50-40](https://user-images.githubusercontent.com/36476595/160157584-f4880f9c-3240-4fc0-af08-69806ec7ee9d.png)

[2022-03-25 18:26] 3v1n0 commented on #3561
I had the speaker ones done already, wasn't sure anything in ubuntu (GNOME) needed the desktop wallpaper preferences icon...

[2022-03-25 18:29] Jupi007 commented on #3561
Well the Mate desktop will ship all those accent of Yaru, and Mate use this icon so I think we should add an accented version of this one.

[2022-03-25 18:43] 3v1n0 commented on #3561
Ok, I've added it to #3562

[2022-03-25 18:50] Jupi007 commented on #3561
Thanks a lot :)

[2022-03-25 21:47] 3v1n0 commented on #3550
Soo... Isn't this enough?

[code]

[2022-03-26 08:49] #2813 closed

[2022-03-26 09:31] flexiondotorg commented on #3550
Sadly not, as no -dark icon `index.theme` files are generated for the accent color themes:

![image](https://user-images.githubusercontent.com/304639/160232957-aaada1d3-ea45-4f98-82d8-46a68e92517d.png)

With the change you made:

✅ Yaru and Yaru-dark work
❌ Every -dark accent theme is broken, *completely*, **in GNOME**, MATE, Unity etc because the -dark theme `index.theme` references `IconTheme=Ya

[2022-03-26 18:13] 3v1n0 commented on #3550
Wait, that's weird... I do get the `Yaru-<accent>-dark` variant being generated:

[code]

[2022-03-26 18:23] Jupi007 commented on #3550
@3v1n0 I don't think this `index.theme` works.
As `Yaru-dark` inherits from `Yaru`, this will erease the red accented icons.

[2022-03-26 18:24] 3v1n0 commented on #3550
not sure how inheritance works here, whether is fully re-using the parent one, anyways, let me check further

[2022-03-26 18:33] Jupi007 commented on #3550
Well, it first look at the icons in the theme itself, then in the first inherited theme, the second, etc.
The first icon matching the name is taken.

[2022-03-26 18:36] Jupi007 commented on #3550
Well, it first look at the icons in the theme itself, then in the first inherited theme, the second, etc.
The first icon matching the name is taken.

That's why I added two panel icon themes, with no inherits and which only contains panel icons.

[2022-03-26 18:47] 3v1n0 commented on #3550
Ok, I see...

[2022-03-26 18:58] Jupi007 commented on #3550
Btw, of the previous btw, in that case red accented icons are preserved, but as the red icon theme inherits `Yaru` which have light panel icons, the `Yaru-dark` inherit of `Yaru-red-dark` is not used (and so it returns light panel icons).

[2022-03-26 19:00] 3v1n0 commented on #3550
So, would something like this work instead?

https://github.com/3v1n0/yaru/tree/dark-icon-variants

[2022-03-26 19:21] #3561 closed

[2022-03-26 20:09] 3v1n0 commented on #3555
What app is that? What toolkit?

[2022-03-26 20:22] Muqtxdir commented on #3555
this happens whenever `GtkScale`'s slider is dragged (_noticed in sound panel, just now_)

[2022-03-26 21:00] Initu-Castilhos commented on #3555
dock size adjustment.

[2022-03-26 21:03] Jupi007 commented on #3555
I'm not sure, but I think this looks like the Gtk4 slider.

[2022-03-26 21:24] #3550 closed

[2022-03-26 21:24] Initu-Castilhos opened #3566 "Alterar a cor de destaque do tema canela."
Change the highlight color of cinnamon theme to monochromatic color, have the example of Adara as shown in the image below.

![WhatsApp Image 2022-03-26 at 18 13 32 (2)](https://user-images.githubusercontent.com/59381215/160257561-3d7e9d78-c8a2-4d34-9838-747d37888c68.jpeg)
![WhatsApp Image 2022-03-26 at 18 13 32](https://user-images.githubusercontent.com/59381215/160257564-54724fe1-5053-45f3-b5d8-

[2022-03-27 00:29] Initu-Castilhos commented on #3555
![Captura de tela de 2022-03-26 21-27-41](https://user-images.githubusercontent.com/59381215/160261517-91c25748-5d64-40a2-a31b-e67182a5d268.png)

[2022-03-27 00:39] Jupi007 commented on #3555
I was wrong, this is indeed the Gtk3 version.

[2022-03-27 09:16] mikhail-v commented on #2481
still reproducing

[2022-03-27 19:19] Jupi007 commented on #2481
I patched this into this repository and I requested an update of the package with a SRU.
Maybe it is still not yet published into Ubuntu repositories.

[2022-03-28 12:51] erichlf commented on #2149
I switched to the Yaru them and then back to the system default and this resoved the issue for me.

[2022-03-28 17:52] 3v1n0 commented on #3555
Yeah, the asset svgs needs to be re-generated too... Will handle this ASAP:

[2022-03-28 18:44] flexiondotorg opened #3570 "icons: Automatically generate dark variant panel/animation icons"
This is probably something to tackle after the 22.04 release.

@3v1n0 [commented on my recent PR that added some more panel icons](https://github.com/ubuntu/yaru/pull/3569#issuecomment-1080904448):

This is good idea and entirely possible. I programmatically created the dark variant panel/animation icons from the light versions using `sed` and [provided a tarball to @Jupi007 who integrated them](h

[2022-03-28 19:34] #3516 closed

[2022-03-28 20:16] github-actions[bot] opened #3571 "LP#1949312 "Transmission icon Ubuntu MATE doesn´t fit overall icontheme""
Reported first on Launchpad at https://bugs.launchpad.net/ubuntu/+source/yaru-theme/+bug/1949312

[2022-03-28 21:45] #3571 closed

[2022-03-28 21:53] github-actions[bot] opened #3573 "LP#964518 "remmina should get a monochrome indicator icon""
Reported first on Launchpad at https://bugs.launchpad.net/ubuntu/+source/yaru-theme/+bug/964518

[2022-03-28 23:22] flexiondotorg commented on #3573
Closed via https://github.com/ubuntu/yaru/pull/3572

[2022-03-30 08:34] Feichtmeier commented on #3533
I have debugged this a little bit https://discourse.ubuntu.com/t/minor-issues-with-22-04-theme/27241/
https://ubuntucommunity.s3.dualstack.us-east-2.amazonaws.com/original/2X/8/835d318337ca92b7dd1d2090f5792a59c628c69c.png
This issue is not related to yaru, it also happens with adwaita.

It must be something with the java SWT (standart widget toolkit) UI library. I can reproduce this with the Eclip

[2022-03-30 08:36] Jupi007 commented on #3533
Thanks @Feichtmeier for your investigation , I had completly forgoten this one.

[2022-03-30 09:15] Feichtmeier commented on #3533
![image](https://user-images.githubusercontent.com/15329494/160796592-f30e7d34-34e2-4eaa-90c1-81327f7a43d1.png)

Nope, no issue with javafx java apps

[2022-03-30 13:48] #3573 closed

[2022-03-30 13:53] flexiondotorg opened #3575 "mate: GTK apps use blue accent colours with Yaru-MATE-dark theme"
**Expected Behavior**

All GTK/GNOME apps should use the selected MATE accent colour.

**Actual Behavior**

Some GNOME apps, GNOME Maps & Clocks for example, always have a blue accent colour when Yaru-MATE-dark is selected. All other accent colours, dark and light, work correctly.

![image](https://user-images.githubusercontent.com/304639/160850302-72d2578d-c6e2-48a3-9f78-0b0467605535.png)

**Step

[2022-03-30 18:41] Jupi007 commented on #3575
It didn't noticed because I was on mobile, but this is `Adwaita` and not `Yaru` 🤔

[2022-03-30 18:49] Jupi007 opened #3576 "GS: login screen entry is flashing orange"
https://user-images.githubusercontent.com/36476595/160909078-9be3164e-c8a2-4aa4-9ad3-7dcea5022d0c.mp4

[2022-04-01 01:55] 3v1n0 commented on #2163
Took a while, but apparently this was due to the fix for the coloured emojis! :)

https://gitlab.gnome.org/GNOME/gnome-shell/-/merge_requests/2260/diffs

[2022-04-01 08:56] Jupi007 commented on #2163
There's indeed still this issue in light theme entries.
And I spent hours trying to fix it with scss 😅

Thanks @3v1n0

[2022-04-02 09:05] Jupi007 opened #3579 "GS: unfocused selected calendar day use wrong fg_color in light theme"
![Capture d’écran du 2022-04-02 11-03-55](https://user-images.githubusercontent.com/36476595/161376022-9a99c54e-9ce2-42fb-abdc-6c1f71dce098.png)

[2022-04-02 09:07] Jupi007 opened #3580 "GS: user switch button look is broken in light theme"
![Capture d’écran du 2022-04-02 11-06-52](https://user-images.githubusercontent.com/36476595/161376103-958a9460-3138-4170-bf54-63d3f514520e.png)

[2022-04-02 09:58] #3579 closed

[2022-04-02 09:59] #3580 closed

[2022-04-02 10:00] Jupi007 opened #3583 "GS: entries got weird border radius"
![Capture d’écran du 2022-04-02 11-03-55](https://user-images.githubusercontent.com/36476595/161378069-15eaf7ea-720e-4f8e-a1fb-41b3fedbdabc.png)

[2022-04-02 10:10] #3583 closed

[2022-04-02 10:13] Jupi007 commented on #3576
This was caused by the box-shadow.
Using an inset one fixed the problem.

Closed by #3584

[2022-04-02 10:13] #3576 closed

[2022-04-02 10:32] Jupi007 opened #3586 "Accessibility issue with appchooser"
The current style of selected row of the Gtk `appchooser` dialog is using the accent color:

![Capture d’écran du 2022-04-02 12-22-35](https://user-images.githubusercontent.com/36476595/161379004-43cd203f-dc21-4b82-99a0-9f28103929d4.png)

But it's imo a really bad thing in term of accessibility, because some app icons blend very bad with the accent color (like the `Rawtherapee` one in the screensh

[2022-04-02 10:35] Jupi007 commented on #3586
Btw, there is the same problem with the `filechooser` dialog:

![Capture d’écran du 2022-04-02 12-34-51](https://user-images.githubusercontent.com/36476595/161379290-f166039f-6b32-4930-9c90-001836fc2def.png)

Same here, we can fix this by targetting `filechooser` selector, so no side effect.

[2022-04-02 11:27] Feichtmeier commented on #3586
I'm all for grayifying accent colour rows as long as we can (as you said) specifically target a ending amount of Windows with a selector

[2022-04-02 22:35] flexiondotorg commented on #3575
@Jupi007 @Feichtmeier I've updated the bug report as only Yaru-MATE-dark/Yaru-dark is affected. Any chance you can look into this?

[2022-04-02 22:55] Jupi007 commented on #3575
Sadly, I don't think it is related to Yaru itself.
I think it is Libhandy which is bugged with dark themes.
In fact, we also have a similar bug in Gnome. It's @Muqtxdir who noticed that.

Btw, is this problem also present after restarting the app or the system?

[2022-04-03 08:51] flexiondotorg commented on #3575
@Jupi007 It must be Yaru, specifically Yaru-MATE-dark related because all other Yaru themes (light and dark) work correctly.

[2022-04-03 08:51] flexiondotorg commented on #3575
And not just GTK4 related:

![image](https://user-images.githubusercontent.com/304639/161419843-ea86e69f-4858-4adf-9f8d-f21d88738645.png)

[2022-04-03 08:55] Jupi007 commented on #3575
Looks like the theme is totally not applied, weird 🤔

I'll try to setup a VM to see what's happening.

[2022-04-03 10:23] Jupi007 commented on #3575
@flexiondotorg I installed a mate VM and I can reproduce your problem with the 'Yaru-MATE-dark' theme.
But I also installed Yaru from `master` sources, and the 'Yaru-mate-dark' theme work as expected.

So this isn't related to this repository imo.

[2022-04-03 11:37] flexiondotorg commented on #3575
Thanks for the feedback. I'll investigate what has happened to Yaru-MATE-dark.

[2022-04-04 19:27] flexiondotorg commented on #3575
This is an issue in `ubuntu-mate-artwork`.

[2022-04-04 19:27] #3575 closed

[2022-04-04 20:13] github-actions[bot] opened #3588 "LP#1967747 "Lack of visual distinction between active and inactive windows""
Reported first on Launchpad at https://bugs.launchpad.net/ubuntu/+source/yaru-theme/+bug/1967747

[2022-04-05 20:12] github-actions[bot] opened #3592 "LP#1967826 "Search entry border is jagged and clipped (when using Yaru theme)""
Reported first on Launchpad at https://bugs.launchpad.net/ubuntu/+source/yaru-theme/+bug/1967826

[2022-04-05 20:12] github-actions[bot] opened #3593 "LP#1967854 "Gaming input devices are not supported""
Reported first on Launchpad at https://bugs.launchpad.net/ubuntu/+source/yaru-theme/+bug/1967854

[2022-04-05 20:18] Jupi007 commented on #3592
Fixed by #3584

[2022-04-05 20:18] #3592 closed

[2022-04-05 20:22] Jupi007 commented on #3593
Fixed in `ubuntu-mate-artwork`.

[2022-04-05 20:22] #3593 closed

[2022-04-05 20:47] ItzSwirlz commented on #1786
Hey, just want to update. (Ping @Feichtmeier ) - I believe LXQt still uses Openbox and that can be themed :)

[2022-04-06 04:09] lekegf opened #3594 "LibreOffice changes its iconset when colour accent is changed"
When the system accent color is applied the LibreOffice icon set automatically changes from Yaru to Elementary, thus making it hard to see the icons in the dark mode, since the Elementary icon set used in LibreOffice isn't suited for dark theme.

**Expected Behavior**

See yaru icon theme applied in LibreOffice after changing the system accent color.

**Actual Behavior**

The LibreOffice icon set

[2022-04-08 05:50] Feichtmeier commented on #3588
I'm strongly against falling into the rabbit hole that is the backdrop (again). Let's keep the upstream backdrop please. Also with GTK 4 the backdrop is even less visible.

[2022-04-08 20:12] Jupi007 commented on #3588
It is also my opinion.
And honestly, I realy don't want to deviate more from Adwaita upstream :)

I think we can close this @Feichtmeier ?

[2022-04-09 05:46] Feichtmeier commented on #3588
We can but then we also need to argue on launchpad :D

[2022-04-09 08:17] Jupi007 commented on #3588
Indeed :D

[2022-04-09 10:29] Feichtmeier commented on #3588
Maybe there is one solution that helps a bit without changing the backdrop anywhere else.
We could give the titlebuttons a no background color but instead $backdrop_borders_color as a outline? WDYT @Jupi007

[2022-04-09 10:30] Jupi007 commented on #3588
Good idea, I'll try this.

[2022-04-09 18:59] Feichtmeier opened #3599 "Nautilus dark theme file selection renders images to be almost black"
![image](https://user-images.githubusercontent.com/15329494/162588040-9726bf3e-e4b6-4664-95ea-a52142afbe67.png)

It doesn't happen with all images :shrug:

But many images are almost black if you select them

[2022-04-09 19:01] Jupi007 commented on #3599
And with Adwaita?

[2022-04-09 19:10] Feichtmeier commented on #3599
Okay Adwaita gets more and more hard to activate ^^
here you go:

![image](https://user-images.githubusercontent.com/15329494/162588344-98036375-5948-47c7-82ea-664c8cbeb760.png)

I think it is better than with yaru. maybe something in the nautilus css code I've migrated that is not perfectly working out

[2022-04-09 19:15] Jupi007 commented on #3599
Okay, thanks.
It looks indeed that the default theme is better than Yaru.

I'll try to take a look tomorrow.

[2022-04-09 20:12] github-actions[bot] opened #3600 "LP#1968405 "File missing in package?""
Reported first on Launchpad at https://bugs.launchpad.net/ubuntu/+source/yaru-theme/+bug/1968405

[2022-04-10 06:06] Feichtmeier commented on #3599
If you didn't find it already, it's either this
https://github.com/ubuntu/yaru/blob/master/gtk/src/default/gtk-3.0/apps/_nautilus.scss#L358

Or that

https://github.com/ubuntu/yaru/blob/master/gtk/src/default/gtk-3.0/apps/_nautilus.scss#L197-L202

I think :)

[2022-04-11 13:46] Jupi007 commented on #3599
@Feichtmeier I finally found the time to look at this.

It looks it is related to the selected background color of the `.view`.
For example:

| White | Grey | Black |
| -------- | ------ | ------- |
| ![Capture d’écran du 2022-04-11 15-39-37](https://user-images.githubusercontent.com/36476595/162752332-b2e8473d-4b2b-4e6c-b1c8-bdfedce94544.png) | ![Capture d’écran du 2022-04-11 15-39-56](https://us

[2022-04-11 13:49] Feichtmeier commented on #3599
Let's drop our modifications then. Better accent colour than a broken look.
Are you okay with this @madsrh ?

[2022-04-11 13:53] Jupi007 commented on #3599
I don't think this will solve the problem, because it will still use `selected_bg_color`.
Or do you mean to use Adwaita blue?

[2022-04-11 15:32] Jupi007 commented on #3599
@Feichtmeier I curently can't test this now because I'm not at home. But if you want I can do it this evening :)

[2022-04-11 18:22] madsrh commented on #3599
Are you okay with this madsrh ?

@Feichtmeier Sorry, do you mean that the label background and thumbnail "overlay" is orange (like Adwaita is blue with blue)?

[2022-04-11 19:03] Feichtmeier commented on #3599
If you have your dev env already, sure :) need to set it up first

@madsrh if it is like I think then yes, we would go back to the upstream selection : /

[2022-04-11 19:47] Jupi007 commented on #3599
@Feichtmeier I found a solution 😋
I'll do a PR.

[2022-04-11 20:04] madsrh commented on #3599
Could you add a screenshot or a gif? 😅

[2022-04-11 20:06] Jupi007 commented on #3599
Well... I found a problem in my solution... 😅
But I'm trying another thing.

If it also not working, I'll just drop the tweak as @Feichtmeier suggested.

[2022-04-11 20:13] github-actions[bot] opened #3602 "LP#1967507 "Yaru Metacity theme has incorrectly scaled windows buttons on HiDPI displays""
Reported first on Launchpad at https://bugs.launchpad.net/ubuntu/+source/yaru-theme/+bug/1967507

[2022-04-11 21:18] Jupi007 opened #3605 "Nautilus: selected image preview border-radius is changing"
https://user-images.githubusercontent.com/36476595/162835026-60ac68d9-47aa-43f6-9435-a54b07debd7e.mp4

[2022-04-11 21:33] #3605 closed

[2022-04-11 21:34] #3602 closed

[2022-04-11 21:34] #3599 closed

[2022-04-12 10:44] Jupi007 commented on #3588
I tried some things around the window controls in backdrop.

## Current look:

![Capture d’écran du 2022-04-12 12-20-37](https://user-images.githubusercontent.com/36476595/162939535-ce2d0e25-8fae-42e5-87ad-d1de779d36f5.png)

## Proposals:

**Softer background:**

![Capture d’écran du 2022-04-12 12-19-57](https://user-images.githubusercontent.com/36476595/162939230-ae86aab6-3719-4b2a-ad16-061c64c8c

[2022-04-12 12:47] Feichtmeier commented on #3588
I would go for either no BG or only the border

[2022-04-12 13:02] basak commented on #3588
Thank you for working on this!

Of these, I think only "No background" would work for me in the sense of being able to positively identify it as distinct from an active window without comparing the two every time. The others are quite subtle and I think I'd still end up having to compare two windows to be able to tell in practice.

[2022-04-13 17:03] ItzSwirlz commented on #2078
Hey everyone, came across this. Here is my concern, as I'd love to try this:

If Budgie _is_ going to switch from GTK to Enlightenment's toolkit, would GTK theming still be used? Enlightenment theming would be the way to go if Buddies of Budgie switch toolkits and it wouldn't make sense to create a theme - it would rather just have its own separate repo.

If said Budgie 11 is not coming out for a

[2022-04-13 17:04] ItzSwirlz commented on #2795
I took a dig at it about a week ago; and I don't feel comfortable doing it as I'm not as experienced with the icons. There is also a lot of detail to it; but I just don't see demand at the moment for Emerald compared to Marco or other Compiz decorators. I was thinking more about doing Openbox at first as that would knock out the WM for LXDE/LXQt.

[2022-04-14 09:30] 3v1n0 commented on #3600
Fixed by #2eec4186d6e5cf4faed056e8181f2c923ebe4f16

[2022-04-14 09:30] #3600 closed

[2022-04-15 20:12] github-actions[bot] opened #3609 "LP#1969175 "Hexchat text spacing disformed after recent updates""
Reported first on Launchpad at https://bugs.launchpad.net/ubuntu/+source/yaru-theme/+bug/1969175

[2022-04-18 09:50] popov895 opened #3610 "The default action button in dialogs is always green, regardless of the accent color"
Currently, the default action button in dialogs is always green, regardless of the accent color. IMO, it would be great if this button was colored in the accent color.

![Screenshot from 2022-04-18 09-23-27](https://user-images.githubusercontent.com/24252473/163791118-e560a83e-6259-439c-848a-7e1894a4b9dc.png)

![Screenshot from 2022-04-18 09-23-43](https://user-images.githubusercontent.com/2425247

[2022-04-18 09:53] popov895 commented on #3586
If the color of the selected item in the list is the same as the color of the switch, then the latter is almost invisible.

![Screenshot from 2022-04-18 09-31-45](https://user-images.githubusercontent.com/24252473/163791638-10f5cf64-1181-4eb8-9f83-6f2a0c09d831.png)

[2022-04-18 10:01] Jupi007 commented on #3586
Hi @popov895,
thanks for your comment.
We're currently not planing to drop the colorful selected row.

So can you open a new issue for this problem, please?

[2022-04-18 15:49] 3v1n0 commented on #3610
This was a feature on old yaru theme, TBH.

But, I've the feeling we should use accent color here when something that is not using the Orange color is selected...

[2022-04-18 20:19] popov895 opened #3611 "The active switch is almost invisible in the selected list item"
Since Ubuntu 22.04, both the selected list item and the active switch use the accent color for the background. And as a consequence, the active switch is almost invisible in the selected list item.

![163791638-10f5cf64-1181-4eb8-9f83-6f2a0c09d831](https://user-images.githubusercontent.com/24252473/163871442-e2ddc4ce-1cac-43fb-b251-406c814d7bff.png)

[2022-04-19 12:24] 3v1n0 commented on #3494
This had been fixed via commit a1548d545304fb27feb04ebefe33d769811b5015, you can now disable gnome-shell again.

[2022-04-19 12:24] #3494 closed

[2022-04-19 20:13] github-actions[bot] opened #3612 "LP#1969251 "Evolution dark background in HTML message (Jammy 22.04)""
Reported first on Launchpad at https://bugs.launchpad.net/ubuntu/+source/yaru-theme/+bug/1969251

[2022-04-19 21:10] Jupi007 commented on #3612
Duplicate of #3485

[2022-04-20 04:15] Batwam commented on #2517
I just installed Ubuntu 22.04 and it looks like the Backup icons is being used for the Yaru theme (HiColor theme has correct red icon). This wasn't the case in 21.10. Is this regression normal?

![image](https://user-images.githubusercontent.com/56710655/164149303-5183d345-ab2d-4b1e-b538-f2f3b78f2879.png)

[2022-04-24 10:52] abhichaurasiya2022 opened #3615 "Calendar UI is not perfect."
The UI of calendar section on top bar is not perfect.
It looks good until I select date of next month.
After selecting date of next month the notification centre height gets reduced.

![Screenshot from 2022-04-24 16-18-21](https://user-images.githubusercontent.com/61798241/164972904-860f5861-42ea-4d61-8496-05bb6639605b.png)

[2022-04-26 06:33] Initu-Castilhos opened #3617 "Missing assets"
![Captura de tela de 2022-04-26 03-22-49](https://user-images.githubusercontent.com/59381215/165237574-cec55b8d-c7c5-424f-b770-92d85a96189e.png)

![Captura de tela de 2022-04-26 03-22-48](https://user-images.githubusercontent.com/59381215/165237433-1ce251e3-3bba-4443-9dab-1fa3be707d8e.png)

Has this bug when approaching mouse pointer in Yaru and Yaru-dark theme.

![Captura de tela de 2022-04-26 03

[2022-04-26 20:13] github-actions[bot] opened #3618 "LP#1970282 "Flatpak apps are not properly themed if a accent color other than the default is choosed""
Reported first on Launchpad at https://bugs.launchpad.net/ubuntu/+source/yaru-theme/+bug/1970282

[2022-04-26 23:53] ItzSwirlz commented on #3617
Make sure when you build the theme you run the 'generate-symlinks' script first

[2022-04-27 20:16] github-actions[bot] opened #3622 "LP#1970490 "Yaru-magenta-dark - location entry is white on white (CAJA)""
Reported first on Launchpad at https://bugs.launchpad.net/ubuntu/+source/yaru-theme/+bug/1970490

[2022-04-29 19:47] santiagofn commented on #3618
There's a discussion going on here: https://github.com/flathub/org.gtk.Gtk3theme.Yaru-Red-dark/issues/1

[2022-04-30 08:12] Jupi007 commented on #3615
Hi @abhichaurasiya2022,
thanks very much for this issue!

Could you try the following things:
- it looks like your using some extensions, maybe this problem is related to them ;
- did you tried the `gnome-session`? You can install it with `sudo apt install gnome-session`, then logout and select `Gnome` when login.

Also which version of Yaru and Ubuntu are you using?